@import '../../../constants.scss';
app-analytic-process-create {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	position: absolute;
	align-items: center;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $basic-background-color;
	> * {
		flex: 0 0 auto;
	}

	// Policy form styles
	.title1 {
		margin: 0;
		width: 40%;

		.mat-form-field-infix {
			border-top: 0;
		}

		&.mat-form-field-should-float {
			.mat-form-field-label-wrapper {
				display: none;
			}
		}
	}

	.form {
		width: 55vw;
		margin-top: 5vh;
		
		.select {
			width: 30vw;
		}

		.same-row {
			display: flex;
			flex-direction: row;
			align-items: baseline;

			.step-input {
				width: 8vw;
			}

			.step-unit .mat-form-field {
				width: 20vw;
				margin-left: 2vw;
			}
		}

	}

	.description {
		width: 55vw;
		margin-top: 5vh;

		.content {
			min-height: 30vh;
		}
	}
}