<div class="container">
	<div class="header"></div>
	<p class="thanks" i18n="@@tyMessage">Thank you</p>
	<p class="success" i18n="@@registerSuccessMessage">You were successfully registered!!!</p>
	<div class="button-underline login-container">
		<a class="login" routerLink="/login" i18n="@@loginLink">Log in</a>
		<div class="underline"></div>
	</div>
	<div class="bottom">
		<div class="button-underline">
			<a class="help" href="https://github.com/sonata-nfv/tng-portal" i18n="@@helpButton">Help?</a>
			<div class="underline"></div>
		</div>
		<div class="redLine"></div>
	</div>
</div>
