<div class="container">
    <div class="header"></div>
    <p class="thanks">Thank you</p>
    <p class="success"> You were successfully registered!!!</p>
    <div class="button-underline login-container">
        <a class="login" routerLink="/login">Log in</a>
        <div class="underline"></div>
    </div>
    <div class="bottom">
        <div class="button-underline">
            <a class="help" href="https://github.com/sonata-nfv/tng-portal">Help?</a>
            <div class="underline"></div>
        </div>
        <div class="redLine"></div>
    </div>
</div>