<div class="title-section"></div>

<div class="message">
	<p class="thanks" i18n="@@tyMessage">Thank you</p>

	<p class="success" i18n="@@registerSuccessMessage">You were successfully registered!!!</p>
</div>

<div class="button-underline login-container">
	<a class="login" routerLink="/login" i18n="@@loginLink">Log in</a>
	<div class="underline"></div>
</div>

<div class="bottom-section">
	<div class="options">
		<a class="link" href="https://github.com/sonata-nfv/tng-portal" i18n="@@helpButton">Help?</a>
	</div>

	<div class="red-line"></div>
</div>