<h3 class="title3 header-section-name">SERVICE PLATFORM</h3>

<h1 class="title1 title-section-name">Slice Instances</h1>

<div class="tools">
	<app-search-bar class="search" (searchTextEvent)="searchFieldData($event)"></app-search-bar>
	<button class="reload" (click)="requestInstances()" matTooltip="Reload data"><i class="wui wui-undo"></i></button>
</div>

<table mat-table [dataSource]="instances">
	<ng-container matColumnDef="vendor">
		<th mat-header-cell *matHeaderCellDef>Vendor</th>
		<td mat-cell *matCellDef="let element">{{ element.vendor }}</td>
	</ng-container>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>Name</th>
		<td mat-cell *matCellDef="let element">{{ element.name }}</td>
	</ng-container>
	<ng-container matColumnDef="ID">
		<th mat-header-cell *matHeaderCellDef>Identifier</th>
		<td mat-cell *matCellDef="let element">{{ element.uuid }}</td>
	</ng-container>
	<ng-container matColumnDef="version">
		<th mat-header-cell *matHeaderCellDef>Version</th>
		<td mat-cell *matCellDef="let element">{{ element.version }}</td>
	</ng-container>
	<ng-container matColumnDef="state">
		<th mat-header-cell *matHeaderCellDef>State</th>
		<td mat-cell *matCellDef="let element">{{ element.state }}</td>
	</ng-container>
	<ng-container matColumnDef="stop">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let element" (click)="stopInstance(element)" (click)="$event.stopPropagation()">
			<button
				*ngIf="element.state.toUpperCase() != 'TERMINATED' && element.state.toUpperCase() != 'ERROR'"
				class="actions"
				mat-button
				matTooltip="Terminate"
			>
				<i class="wui wui-stop-alt"></i>
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openInstance(row)"></tr>
</table>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>
