<h3 class="title3 header-section-name" i18n="@@sp">Service platform</h3>

<h1 class="title1 title-section-name" i18n="@@sliceTemplates">Slice Templates</h1>

<!-- <div class="title-section">
	<h1 class="title1 title-section-name" i18n="@@sliceTemplates">Slice Templates</h1>
	<button class="add" (click)="createNew()"><i class="wui wui-plus"></i>
		<span i18n="@@createNewTemplateButton">Create New Template</span>
	</button>
</div> -->

<div class="tools">
	<app-search-bar class="search" (searchTextEvent)="searchFieldData($event)"></app-search-bar>
	<button class="icon-button-shadow reload" (click)="requestTemplates()" matTooltip="Reload data" i18n-matTooltip="@@reloadData">
		<i class="wui wui-undo"></i>
	</button>
</div>

<table mat-table [dataSource]="templates">
	<ng-container matColumnDef="vendor">
		<th mat-header-cell *matHeaderCellDef i18n="@@vendor">Vendor</th>
		<td mat-cell *matCellDef="let element">{{ element.vendor }}</td>
	</ng-container>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef i18n="@@name">Name</th>
		<td mat-cell *matCellDef="let element">{{ element.name }}</td>
	</ng-container>
	<ng-container matColumnDef="version">
		<th mat-header-cell *matHeaderCellDef i18n="@@version">Version</th>
		<td mat-cell *matCellDef="let element">{{ element.version }}</td>
	</ng-container>
	<ng-container matColumnDef="author">
		<th mat-header-cell *matHeaderCellDef i18n="@@author">Author</th>
		<td mat-cell *matCellDef="let element">{{ element.author }}</td>
	</ng-container>
	<ng-container matColumnDef="usageState">
		<th mat-header-cell *matHeaderCellDef i18n="@@usageState">Usage State</th>
		<td mat-cell *matCellDef="let element">{{ utilsService.capitalizeFirstLetter(element.usageState) }}</td>
	</ng-container>
	<ng-container matColumnDef="instantiate">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let element" (click)="instantiate(element)" (click)="$event.stopPropagation()">
			<button class="actions icon-button-shadow" mat-button matTooltip="Instantiate" i18n-matTooltip="@@instantiate"><i
					class="wui wui-caret-right"></i></button>
		</td>
	</ng-container>
	<ng-container matColumnDef="delete">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let element" (click)="deleteTemplate(element.uuid)" (click)="$event.stopPropagation()">
			<button *ngIf="utilsService.capitalizeFirstLetter(element.usageState) !== 'In use'" class="actions icon-button-shadow"
				mat-button matTooltip="Delete" i18n-matTooltip="@@delete">
				<i class="wui wui-trash-alt"></i>
			</button>
		</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTemplate(row.uuid)"></tr>
</table>

<div *ngIf="(!templates || !templates.length) && !loading" class="no-results-container">
	<div class="no-results-line"></div>
	<span class="no-results-text" i18n="@@noResultsToDisplay">No results to display</span>
	<div class="no-results-line"></div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>