<h2 mat-dialog-title> Instantiate {{ data.service.serviceName }} network service </h2>

<mat-dialog-content>
  <div class="section">
    <button [ngClass]="{ active: isIngress === true }" (click)="isIngress=true;" class="ingress" mat-button>Ingress</button>
    <span class="dash">-</span>
    <button [ngClass]="{ active: isIngress === false }" (click)="isIngress=false;" class="egress" mat-button>Egress</button>
  </div>

  <!-- DISPLAY INGRESS OR EGRESS DEPENDING ON THE CHOSEN SECTION -->
  <dl class="list" *ngIf="isIngress">
    <dt *ngFor="let entry of ingress">
      <span>{{ entry.location }} ({{ entry.nap }})</span>
      <button (click)="eraseEntry(entry)">
        <i class="wui wui-trash-alt"></i>
      </button>
    </dt>
  </dl>

  <dl class="list" *ngIf="!isIngress">
    <dt *ngFor="let entry of egress">
      <span>{{ entry.location }} ({{ entry.nap }})</span>
      <button (click)="eraseEntry(entry)">
        <i class="wui wui-trash-alt"></i>
      </button>
    </dt>
  </dl>

  <form #instantiationForm="ngForm" (ngSubmit)="addNew(instantiationForm)" class="form">
    <mat-form-field>
      <mat-select placeholder="Location" name="location" ngModel required>
        <mat-option *ngFor="let location of locations" [value]="location">
          {{ location }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Network attachment point (NAP)" name="nap" ngModel required>
    </mat-form-field>

    <div class="addNew">
      <button [disabled]="!instantiationForm.valid">
        <i class="wui wui-plus"></i>
        <span *ngIf="isIngress; else isEgress">
          Add new ingress
        </span>
        <ng-template #isEgress>Add new egress</ng-template>
      </button>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="buttonContainer">
    <button class="cancel" mat-button mat-dialog-close>CANCEL</button>
    <button class="save" mat-button cdkFocusInitial [mat-dialog-close]="false" (click)="instantiate(data.service)">SAVE</button>
  </div>
</mat-dialog-actions>