app-instantiate-dialog {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  width: 630px;
  height: 370px;
  background-color: rgb(254, 254, 254);
  color: rgb(138, 138, 138);
  font-size: 19px;
  .mat-dialog-title {
    width: 100%;
    margin: 0 20px;
    text-align: center;
    color: rgb(201, 0, 16);
    font-size: 23¡0px;
  }
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: 100%;
    .section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      button {
        margin: 0 15px;
        padding: 15px;
        font-size: 28px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        outline: none;
        color: rgb(189, 185, 185);
        background-color: rgb(254, 254, 254);
      }
      button.active {
        color: rgb(201, 0, 16);
      }
      .dash {
        color: rgb(189, 185, 185);
        font-size: 30px;
      }
    }
    .form {
      flex: 1 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .mat-form-field {
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;
        color: rgb(121, 20, 34);
      }
      .mat-form-field-label:not(.mat-form-field-empty) {
        text-align: start;
      }
      .mat-focused .mat-form-field-label {
        color: rgb(138, 138, 138);
        text-align: left;
      }
      .mat-form-field-ripple {
        background-color: rgb(121, 20, 34);
      }
      .mat-select-value-text {
        color: rgb(121, 20, 34);
      }

      .mat-option-text {
        color: rgb(138, 138, 138);
      }
      // .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
      //   color: rgb(138, 138, 138);
      // }
      //   TODO change select text color in box by grey rgb(138, 138, 138);
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    button {
      margin: 20px 0 25px;
      padding: 8px 60px;
      font-size: 18px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      outline: none;
      &.cancel {
        margin-right: 15px;
        color: rgb(254, 254, 254);
        background-color: rgb(189, 185, 185);
      }
      &.save {
        margin-left: 15px;
        color: rgb(254, 254, 254);
        background-color: rgb(121, 20, 34);
      }
    }
  }
}
