<div class="container" *ngIf="!show">
	<div class="title-section"></div>

	<form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signup(signupForm)">
		<mat-form-field>
			<input matInput type="text" placeholder="Username" formControlName="username" required
				i18n-placeholder="@@usernamePlaceholder" />
			<mat-error *ngIf="signupForm.get('username').hasError('incorrect')">*{{ errorMsg }}</mat-error>
		</mat-form-field>

		<mat-form-field [ngClass]="{'mat-form-field-invalid': signupForm.get('confirmPassword').hasError('incorrect')}">
			<input matInput type="password" placeholder="Password" formControlName="password" required
				i18n-placeholder="@@passwordPlaceholder" />
		</mat-form-field>

		<mat-form-field>
			<input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required
				i18n-placeholder="@@confirmPasswordPlaceholder" />
			<mat-error *ngIf="signupForm.get('confirmPassword').hasError('incorrect')" i18n="@@passwordsDoNotMatch">
				*Passwords do not match
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput type="email" placeholder="Email" formControlName="email" required i18n-placeholder="@@emailPlaceholder" />
			<mat-error *ngIf="!signupForm.get('email').hasError('incorrect')" i18n="@@notValidEmail">*This is not a valid email</mat-error>
			<mat-error *ngIf="signupForm.get('email').hasError('incorrect')">*{{ errorMsg }}</mat-error>
		</mat-form-field>

		<app-select class="select" placeholder="Role" [list]="roles" (selectEvent)="receiveRole($event)"
			i18n-placeholder="@@rolePlaceholder">
		</app-select>

		<mat-checkbox class="terms-usage" formControlName="termsOfUsage" required i18n-label="@@termsOfUsageConfirmMessage">
			I confirm that I’ve read and agreed with the
			<a class="terms-usage-link" (click)="show = !show" i18n="@@termsOfUsageLink">Terms of Usage. </a>
		</mat-checkbox>

		<button class="signup" [disabled]="!signupForm.valid" i18n="@@registerButton">REGISTER</button>

		<div class="button-underline login-container">
			<a class="login" routerLink="/login" i18n="@@haveAnAccountLink">I have an account</a>
			<div class="underline"></div>
		</div>
	</form>

	<div class="bottom-section">
		<div class="options">
			<a class="link" href="https://github.com/sonata-nfv/tng-portal" i18n="@@helpButton">Help?</a>
		</div>
		<div class="red-line"></div>
	</div>
</div>

<app-terms-of-usage *ngIf="show" [@enterAnimation] (showTermsEvent)="show = $event"></app-terms-of-usage>