<div class="container">
    <div class="header"></div>
    <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm)" class="form">
        <mat-form-field [ngClass]="{'error-form-field':userErrorString}">
            <input matInput type="text" placeholder="Username" formControlName="username" required>
        </mat-form-field>
        <p class="error" *ngIf="userErrorString" [innerText]="userErrorString"></p>
        <mat-form-field [ngClass]="{'error-form-field':passwordErrorString}">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field [ngClass]="{'error-form-field':passwordErrorString}">
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
        </mat-form-field>
        <p class="error" *ngIf="passwordErrorString" [innerText]="passwordErrorString"></p>
        <mat-form-field [ngClass]="{'error-form-field':emailErrorString}">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <p class="error" *ngIf="emailErrorString" [innerText]="emailErrorString"></p>
        <app-select class="select" placeholder="Role" [list]="roles" (selectEvent)="receiveRole($event)"></app-select>
        <button name="signup" [disabled]="!signupForm.valid || !validPassword">REGISTER</button>
        <a class="login" routerLink="/login">I have an account</a>
    </form>
    <div class="bottom">
        <a class="help" href="https://github.com/sonata-nfv/tng-portal">Help?</a>
        <div class="redLine"></div>
    </div>
</div>