@import '../../../constants.scss';
app-signup {
	.container {
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: center;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		max-width: 635px;
		max-height: 680px;
		padding: 2em;
		border-radius: 10px;
		background-color: $panel-background-color;

		.title-section {
			height: 5em;
			margin-bottom: 2vh;
			background: url('../../../assets/images/sonata_powered_by_5gtango_logo.svg') no-repeat center $panel-background-color;
			background-size: 12em;
			background-repeat: no-repeat;
		}

		.signup-form {
			flex: 1 0;
			align-items: center;
			justify-content: center;
			width: 20vw;
			min-width: 300px;
			max-width: 550px;

			.mat-form-field {
				width: 100%;
				color: $form-focus;
				text-align: center;
			}

			.select {
				width: 100%;
			}

			.mat-select-value-text {
				margin-left: 20px; // Margin to compensate select's arrow
				color: $form-focus;
			}

			// Align label to center
			.mat-form-field-appearance-legacy .mat-form-field-label {
				text-align: center;
			}
			
			// Align label to top left when focused
			.mat-form-field.mat-focused .mat-form-field-label,
			.mat-form-field-label:not(.mat-form-field-empty) {
				text-align: start;
			}

			.terms-usage {
				width: 100%;
				font-size: 14px;
				color: $secondary-button-color;

				.terms-usage-link {
					color: $primary-font-color;
				}
			}

			.signup {
				width: 100%;
				margin-top: 30px;
				padding: 10px;
				font-size: 20px;
				border-radius: 10px;
				color: $button-basic-font-color;
				background-color: $primary-button-color;
			}

			.signup:disabled {
				background-color: $secondary-button-color;
			}
		}

		.button-underline.login-container {
			margin-top: 15px;
		}

		.bottom-section {
			width: 20vw;
			min-width: 300px;
			max-width: 550px;
			margin-bottom: -2em; // Compensate padding of container
			
			.options {
				margin-bottom: 10px;

				.link {
					color: $secondary-button-color;
					font-size: 16px;
					text-decoration-line: none;
				}
			}

			.red-line {
				width: 20vw;
				min-width: 300px;
				max-width: 550px;
				border-bottom: 3px solid $border-line-color;
			}
		}
	}
}
