@import '../../../constants.scss';
app-signup {
	.container {
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: center;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		max-width: 635px;
		max-height: 550px;
		padding: 2em;
		border-radius: 10px;
		background-color: $panel-background-color;

		.header {
			height: 5em;
			background: url('../../../assets/images/sonata_powered_by_5gtango_logo.svg')
				no-repeat center $panel-background-color;
			background-size: 12em;
			background-repeat: no-repeat;
		}

		form {
			width: 60%;

			.mat-form-field {
				text-align: center;
				width: 100%;
				color: $form-focus;
			}

			.mat-select-value-text {
				margin-left: 20px; // Margin to compensate select's arrow
				color: $form-focus;
			}

			// Place all placeholders in the center
			.mat-form-field-appearance-legacy .mat-form-field-label {
				text-align: center;
			}

			// Place label on the left when focused
			.mat-form-field.mat-focused .mat-form-field-label,
			.mat-form-field-label:not(.mat-form-field-empty) {
				text-align: start;
			}

			button {
				padding: 10px;
				outline: none;
				background-color: $primary-button-color;
				color: $button-basic-font-color;
				font-size: 18px;
				border-radius: 10px;
			}

			button:disabled {
				background-color: $secondary-button-color;
			}

			.error {
				font-size: 13px;
				margin-top: -16px;
				margin-bottom: 0px;
				color: $primary-font-color-light;
				text-align: right;
			}
		}

		a {
			color: $primary-font-color;
			font-size: 18px;

			&.login {
				align-self: center;
				padding: 15px;
			}
		}

		.bottom {
			display: flex;
			flex-direction: column;
			width: 60%;

			.help {
				margin-bottom: auto;
				margin-left: 10px;
				color: $secondary-button-color;
				font-size: 15px;
			}

			.redLine {
				width: 100%;
				border-bottom: 3px solid $border-line-color;
				margin-bottom: -2.1em;
			}
		}
	}
}
