<div class="container">
	<div class="header"></div>
	<form [formGroup]="signupForm" (ngSubmit)="signup(signupForm)" class="form">
		<mat-form-field [ngClass]="{ 'error-form-field': userErrorString }">
			<input matInput type="text" placeholder="Username" formControlName="username" required i18n-placeholder="@@usernamePlaceholder" />
		</mat-form-field>
		<p class="error" *ngIf="userErrorString" [innerText]="userErrorString"></p>
		<mat-form-field [ngClass]="{ 'error-form-field': passwordErrorString }">
			<input matInput type="password" placeholder="Password" formControlName="password" required i18n-placeholder="@@passwordPlaceholder" />
		</mat-form-field>
		<mat-form-field [ngClass]="{ 'error-form-field': passwordErrorString }">
			<input
				matInput
				type="password"
				placeholder="Confirm Password"
				formControlName="confirmPassword"
				required
				i18n-placeholder="@@confirmPasswordPlaceholder"
			/>
		</mat-form-field>
		<p class="error" *ngIf="passwordErrorString" [innerText]="passwordErrorString"></p>
		<mat-form-field [ngClass]="{ 'error-form-field': emailErrorString }">
			<input matInput type="email" placeholder="Email" formControlName="email" required i18n-placeholder="@@emailPlaceholder" />
		</mat-form-field>
		<p class="error" *ngIf="emailErrorString" [innerText]="emailErrorString"></p>
		<app-select class="select" placeholder="Role" [list]="roles" (selectEvent)="receiveRole($event)" i18n-placeholder="@@rolePlaceholder"></app-select>
		<mat-checkbox class="terms-usage" formControlName="termsOfUsage" required i18n-label="@@termsOfUsageConfirmMessage">
			I confirm that I’ve read and agreed with the
			<a class="terms-usage-link" routerLink="/terms-of-usage" i18n="@@termsOfUsageLink"> Terms of Usage. </a>
		</mat-checkbox>
		<button name="signup" [disabled]="!signupForm.valid || !validPassword" i18n="@@registerButton">REGISTER</button>
		<div class="button-underline login-container">
			<a class="login" routerLink="/login" i18n="@@haveAnAccountLink">I have an account</a>
			<div class="underline"></div>
		</div>
	</form>
	<div class="bottom">
		<div class="button-underline">
			<a class="help" href="https://github.com/sonata-nfv/tng-portal" i18n="@@helpButton">Help?</a>
			<div class="underline"></div>
		</div>
		<div class="redLine"></div>
	</div>
</div>
