<div class="title" *ngIf="name">
  <h1 class="sectionTitle">TEMPLATES</h1>
  <button (click)="deleteTemplate()">Delete template</button>
</div>
<div class="header" *ngIf="name">
  <h2 class="subsectionTitle"> {{ name }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>
<div class="subheader" *ngIf="author">
  <h3 class="subtitle author">Created by {{ author }}</h3>
  <h3 class="subtitle date">{{ createdAt }}</h3>
</div>

<div class="versionDiv" *ngIf="version">
  <span class="text">Current version</span>
  <div class="version">
    <span>{{ version }}</span>
  </div>
</div>

<!-- <form class="detail">
    <mat-form-field class="vendor" *ngIf="vendor">
        <input matInput placeholder="Vendor" value="{{ vendor }}" disabled>
    </mat-form-field>
    <mat-form-field class="serviceId" *ngIf="serviceID">
        <input matInput placeholder="Service id" value="{{ serviceID }}" disabled>
    </mat-form-field>
    <mat-form-field class="type" *ngIf="type">
        <input matInput placeholder="Type" value="{{ type }}" disabled>
    </mat-form-field>
    <div class="launch" *ngIf="vendor || serviceID || type">
        <button (click)="instanciate()">
            <i class="wui wui-caret-right"></i>
            <span class="play">Ready to use</span>
        </button>
    </div>
    <div class="description" *ngIf="description">
        <span class="title">DESCRIPTION</span>
        <span class="content">
            <p>{{ description }}</p>
        </span>
    </div>
</form> -->

<app-spinner *ngIf="loading"></app-spinner>