@import "../../constants.scss";
app-slices-templates-detail {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }
  .title {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 30px;
    button {
      min-width: 150px;
      font-size: 15px;
      border: none;
      cursor: pointer;
      outline: none;
      text-decoration: underline;
      color: $button-delete-color;
      background-color: $basic-background-color;
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 95%;
    h2 {
      margin: 0;
      width: 95%;
    }
  }
  .subheader {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 60px;
    h3 {
      margin-top: 0;
      margin-right: 15px;
      font-size: 12px;
      &.author {
        color: $third-title-color;
      }
      &.date {
        color: $secondary-title-color;
      }
    }
  }
}
