<h3 class="title3 header-section-name">Create new NFV Package</h3>
<h2 class="title2">Package NFV Project</h2>

<div>
	<app-project-detail></app-project-detail>
</div>

<!--elements for packaging-->
<div>
	<mat-form-field class="package-fields">
		<mat-label>Packaging output:</mat-label>
		<textarea matInput>{{pkgOutput}}</textarea>
	</mat-form-field>
</div>

<div>
	<mat-checkbox [(ngModel)]="skipValidation">Skip Validation</mat-checkbox>
</div>

<div>
	<button class="package-button" (click)="package()">Start Packaging</button>
</div>

<!--buttons for on-boarding and downloading the package-->
<!--FIXME: when disabled, the button color should change-->
<button [class.next-page-button.enabled]="this.pkgSuccess" [class.next-page-button.disabled]="!this.pkgSuccess"
		(click)="downloadPackage()" [disabled]="!this.pkgSuccess">Download Package</button>
