<h3 class="title3 header-section-name">Create new NFV Package</h3>
<h2 class="title2">Package NFV Project</h2>

<app-project-detail></app-project-detail>

<div>
	<mat-checkbox [(ngModel)]="skipValidation">Skip Validation</mat-checkbox>
	<button class="package-button" (click)="package()">Start Packaging</button>
</div>

<div>
	Packaging success:
	<mat-icon>{{pkgIcon}}</mat-icon>
</div>

<mat-form-field>
	<mat-label>Error output:</mat-label>
	<textarea matInput>{{pkgError}}</textarea>
</mat-form-field>
