@import "../../../constants.scss";

app-packager {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-items: center;
	width: auto;
	height: 100%;
	background-color: $basic-background-color;
}

.next-page-button {
	position: absolute;
	right: 3%;
	bottom: 3%;

	height: 40px;
	font-size: 17px;
	font-weight: bold;
	color: $button-basic-font-color;
	background-color: $primary-button-color-light;
}

.package-button {
	position: absolute;

	height: 40px;
	font-size: 17px;
	font-weight: bold;
	color: $button-basic-font-color;
	background-color: $primary-button-color-light;
}

.package-fields {
	width: 500px;
}
