@import "../../../constants.scss";
app-vnv-packages-detail {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	position: absolute;
	align-items: center;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $basic-background-color;
	> * {
		flex: 0 0 auto;
	}

	form {
		width: 55vw;
		margin-bottom: 5vh;
	}

    .vnf,
    .ns,
    .tests {
      	width: 55vw;
		margin-bottom: 5vh;
    }

    .message {
      	color: $secondary-font-color-light;
    }

    table {
      	width: 95%;
    }

    tr.mat-row {
		background-image: linear-gradient(
			to right,
			$basic-background-color 0%,
			$table-underline-color 0%,
			$table-underline-color 100%,
			$basic-background-color 100%,
			$basic-background-color 100%
		);
    }

    td.mat-cell {
      	cursor: auto;
    }

    .mat-cell:nth-child(1),
    .mat-header-cell:nth-child(1) {
      	width: 30%;
    }
  
}
