<h3 class="title3 header-section-name" i18n="@@validationAndVerification">Validation and verification</h3>

<h1 class="title1 title-section-name" i18n="@@tests">Tests</h1>

<div class="tools">
	<app-search-bar class="search" (searchTextEvent)="searchFieldData($event)"></app-search-bar>
	<button class="icon-button-shadow reload" (click)="requestTests()" matTooltip="Reload data" i18n-matTooltip="@@reloadData">
		<i class="wui wui-undo"></i>
	</button>
</div>

<table mat-table [dataSource]="tests">
	<ng-container matColumnDef="vendor">
		<th mat-header-cell *matHeaderCellDef i18n="@@vendor">Vendor</th>
		<td mat-cell *matCellDef="let element">{{ element.vendor }}</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef i18n="@@name">Name</th>
		<td mat-cell *matCellDef="let element">{{ element.name }}</td>
	</ng-container>

	<ng-container matColumnDef="version">
		<th mat-header-cell *matHeaderCellDef i18n="@@version">Version</th>
		<td mat-cell *matCellDef="let element">{{ element.version }}</td>
	</ng-container>

	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef i18n="@@status">Status</th>
		<td mat-cell *matCellDef="let element">{{ utilsService.capitalizeFirstLetter(element.status) }}</td>
	</ng-container>

	<ng-container matColumnDef="execute">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let element" (click)="execute(element)" (click)="$event.stopPropagation()">
			<button class="icon-button-shadow actions " mat-button matTooltip="Execute" i18n-matTooltip="@@execute">
				<i class="wui wui-caret-right"></i>
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTest(row.uuid)"></tr>
</table>

<div *ngIf="(!tests || !tests.length) && !loading" class="no-results-container">
	<div class="no-results-line"></div>
	<span class="no-results-text" i18n="@@noResultsToDisplay">No results to display</span>
	<div class="no-results-line"></div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>