@import "../../../constants.scss";
app-slice-instance-create {
	position: relative;
	display: flex;
	flex: 1 1;
	flex-direction: column;
	align-items: center;
	width: 38vw;
	height: auto;
	min-width: 450px;
	min-height: 450px;
	background-color: $basic-background-color;
	color: $secondary-font-color-light;

	.close-icon {
		right: -5px;
		top: -10px;
	}

	.mat-dialog-title {
		margin-bottom: 5vh;
		color: $primary-font-color-light;
		font-size: 17px;
	}

	.mat-dialog-content {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		align-items: center;
		width: 75%;
		max-height: 500px;
		margin-bottom: 2vh;
		font-size: 22px;
		overflow-x: hidden;
    	overflow-y: auto;

		// Fist screen
		.assignation-line {
			margin-bottom: 5vh;

			// Hide labels when focused or floating (name)
			.select .mat-form-field.mat-focused .mat-form-field-label,
			.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
				display: none;
			}	
		}

		// Second screen
		.second-screen {
			width: 100%;

			.description .content {
				height: 150px;
			}
		}

		// Error screen
		&.error-dialog {
			width: 80%;
			color: $primary-font-color-light;
		}
	}
}
