<button class="close-icon" (click)="close()"><i class="wui wui-times"></i></button>

<h2 *ngIf="step!='network-services-config'" mat-dialog-title i18n="@@newSliceInstance">New network slice instance</h2>
<h2 *ngIf="step=='network-services-config'" mat-dialog-title>
	{{ instantiationParameters[networkServiceIterator].subnetID }}: {{ instantiationParameters[networkServiceIterator].nsName }}
</h2>

<!-- POP UPS CONTENT -->
<mat-dialog-content *ngIf="step=='intro' || step=='sla-warning'" class="dialog">
	<p i18n="@@introInSliceInstantiation">
		These are the network services composing this slice. In the following steps you will be able to configure them individually.
	</p>
	<span *ngFor="let ns of data.networkServices">{{ ns['nsd-name'] }}</span>
	<p *ngIf="step === 'sla-warning'" class="error" i18n="@@slaErrorInSliceInstantiation">
		No SLAs were found, at least not for these network services.
		Please, continue with the instantiation without applying any SLA.
	</p>
</mat-dialog-content>

<mat-dialog-content *ngIf="step === 'network-services-config'">
	<app-nap-lists [activateBlacklist]="false" [ingress]="getIngresses()" [egress]="getEgresses()" (listEvent)="receiveList($event)">
	</app-nap-lists>

	<app-select-uuid *ngIf="getSLAForService().length" class="select" placeholder="Select a SLA from the list" [list]="getSLAForService()"
		(selectEvent)="receiveSlaPerNS($event)" i18n-placeholder="@@selectSLAPlaceholder">
	</app-select-uuid>

	<!-- TODO include VIMs dropdown -->
	<!-- <app-select-uuid class="select" placeholder="Select a SLA from the list" [list]="slas" [disabled]="loading"
		(selectEvent)="receiveSLA(ns['id'], $event)" i18n-placeholder="@@selectSLAPlaceholder">
	</app-select-uuid> -->

	<!-- TODO include SLA dropdown -->

</mat-dialog-content>

<mat-dialog-content *ngIf="step === 'last'">
	<form [formGroup]="instantiationForm" class="last-screen">
		<mat-form-field class="slice-name">
			<input matInput type="text" placeholder="NSI Name" formControlName="nsiName" required i18n-placeholder="@@nsiNamePlaceholder" />
		</mat-form-field>

		<mat-form-field class="description">
			<h4 class="title4" i18n="@@description">Description</h4>
			<textarea class="content" matInput type="text" formControlName="nsiDescription" required></textarea>
		</mat-form-field>
	</form>
</mat-dialog-content>

<!-- BUTTONS FOR EACH OF THE DIALOGS -->
<mat-dialog-actions *ngIf="step === 'intro' || step === 'sla-warning'">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button mat-dialog-close i18n="@@cancelButton">CANCEL</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial (click)="chooseForwardStep()" i18n="@@nextButton">
			NEXT
		</button>
	</div>
</mat-dialog-actions>

<!-- TODO disable next if there is an sla for the ns -->
<mat-dialog-actions *ngIf="step === 'network-services-config'">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button (click)="chooseBackStep()" i18n="@@backButton">BACK</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial (click)="chooseForwardStep()" i18n="@@nextButton">
			NEXT
		</button>
	</div>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="step === 'last'">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button (click)="chooseBackStep()" i18n="@@backButton">BACK</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial [disabled]="!instantiationForm.valid"
			(click)="instantiate()" i18n="@@instantiateButton">
			INSTANTIATE
		</button>
	</div>
</mat-dialog-actions>

<app-spinner *ngIf="canShowLoading()"></app-spinner>