@import "../../../constants.scss";
app-slice-instance-create {
	position: relative;
	display: flex;
	flex: 1 1;
	flex-direction: column;
	align-items: center;
	width: 38vw;
	height: auto;
	min-width: 450px;
	min-height: 450px;
	background-color: $basic-background-color;
	color: $secondary-font-color-light;

	.close-icon {
		right: -5px;
		top: -10px;
	}

	.mat-dialog-title {
		color: $primary-font-color-light;
		font-size: 17px;
	}

	.mat-dialog-content {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		align-items: center;
		width: 75%;
		max-height: 500px;
		margin-bottom: 2vh;
		font-size: 22px;
		overflow-x: hidden;
    	overflow-y: auto;

		// Fist screen
		// .assignation-line {
		// 	margin-bottom: 5vh;

		// 	// Hide labels when focused or floating (name)
		// 	.select .mat-form-field.mat-focused .mat-form-field-label,
		// 	.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
		// 		display: none;
		// 	}	
		// }

		// Last screen
		.last-screen {
			width: 100%;

			.slice-name {
				margin-bottom: 2vh;
			}

			.description .content {
				height: 150px;
			}
		}

		// Dialog screens
		&.dialog {
			span, p {
				color: $secondary-font-color-light;
			}

			.error {
				margin-top: 5vh;
				color: $primary-font-color-light;
			}
		}
	}
}
