<button class="close-icon" (click)="close()"><i class="wui wui-times"></i></button>

<h2 mat-dialog-title i18n="@@newSliceInstance">New network slice instance</h2>

<mat-dialog-content>
	<div *ngIf="step === 'first'" class="first-screen">
		<!-- TODO list of ns with list of slas -->
	</div>

	<form *ngIf="step === 'second'" [formGroup]="instantiationForm" class="second-screen">
		<mat-form-field>
			<input matInput type="text" placeholder="NSI Name" formControlName="nsiName" required i18n-placeholder="@@nsiNamePlaceholder" />
		</mat-form-field>

		<mat-form-field class="description">
			<h4 class="title4" i18n="@@description">Description</h4>
			<textarea class="content" matInput type="text" formControlName="nsiDescription" required></textarea>
		</mat-form-field>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<div class="buttonContainer">
		<button class="secondary" mat-button mat-dialog-close i18n="@@cancelButton">CANCEL</button>
		<button class="primary" mat-button cdkFocusInitial [disabled]="!instantiationForm.valid" (click)="instantiate()"
			i18n="@@instantiateButton">
			INSTANTIATE
		</button>
	</div>
</mat-dialog-actions>

<app-spinner *ngIf="loading"></app-spinner>