<button class="close-icon" (click)="close()"><i class="wui wui-times"></i></button>

<h2 mat-dialog-title i18n="@@newSliceInstance">New network slice instance</h2>

<mat-dialog-content *ngIf="step === 'first' && slas.length" class="first-screen">
	<div class="assignation-line" *ngFor="let ns of data.networkServices">
		<div>
			<span>{{ ns['id'] }}: {{ ns['nsd-name'] }}</span>
			<app-select-uuid class="select" placeholder="Select a SLA from the list" [list]="slas" [disabled]="loading"
				(selectEvent)="receiveSLA(ns['id'], $event)" i18n-placeholder="@@selectSLAPlaceholder">
			</app-select-uuid>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-content *ngIf="step=='sla-error'" class="error-dialog" i18n="@@slaErrorInSliceInstantiation">
	No SLAs were found, at least not for this network services.
	Please, continue with the instantiation without applying any SLA to your network services.
</mat-dialog-content>

<mat-dialog-content *ngIf="step === 'second'">
	<form [formGroup]="instantiationForm" class="second-screen">
		<mat-form-field>
			<input matInput type="text" placeholder="NSI Name" formControlName="nsiName" required i18n-placeholder="@@nsiNamePlaceholder" />
		</mat-form-field>

		<mat-form-field class="description">
			<h4 class="title4" i18n="@@description">Description</h4>
			<textarea class="content" matInput type="text" formControlName="nsiDescription" required></textarea>
		</mat-form-field>
	</form>
</mat-dialog-content>

<mat-dialog-actions *ngIf="step !== 'second' && !loading">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button mat-dialog-close i18n="@@cancelButton">CANCEL</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial [disabled]="canDisableNext()" (click)="step = 'second'"
			i18n="@@nextButton">
			NEXT
		</button>
	</div>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="step === 'second'">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button (click)="chooseBackStep()" i18n="@@backButton">BACK</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial [disabled]="!instantiationForm.valid"
			(click)="instantiate()" i18n="@@instantiateButton">
			INSTANTIATE
		</button>
	</div>
</mat-dialog-actions>

<app-spinner *ngIf="loading"></app-spinner>