<form class="scale-out-form" [formGroup]="scaleOutForm">
	<mat-form-field>
		<input matInput placeholder="Number of instances" [value]="scaleOutForm.get('numberOfInstances').value"
			formControlName="numberOfInstances" i18n-placeholder="@@numberOfInstances" />
	</mat-form-field>

	<app-select class="select" placeholder="Function to scale out" [list]="list" (selectEvent)="receiveFunction($event)"
		i18n-placeholder="@@functionToScaleOut">
	</app-select>

	<button class="action-button" type="button" (click)="scaleOut()" [disabled]="!scaleOutForm.valid" i18n="@@scaleOut">
		Scale out
	</button>
</form>