<h3 class="title3 header-section-name" *ngIf="detail['name']">AVAILABLE NETWORK SERVICES</h3>

<div class="title-section" *ngIf="detail['name']">
	<h1 class="title1 title-section-name">{{ detail['name'] }}</h1>
	<button class="close" (click)="close()">CLOSE</button>
</div>

<div class="subheader" *ngIf="detail['author']">
	<p class="subtitle author">Created by {{ detail['author'] }}</p>
	<p class="subtitle date">{{ detail['createdAt'] }}</p>
</div>

<div class="bubbleDiv" *ngIf="detail['version']">
	<span class="text">Version</span>
	<div class="number">
		<span>{{ detail['version'] }}</span>
	</div>
</div>

<form class="detail">
	<mat-form-field class="vendor" *ngIf="detail['vendor']"> <input matInput placeholder="Vendor" value="{{ detail['vendor'] }}" disabled /> </mat-form-field>

	<mat-form-field class="serviceId" *ngIf="detail['serviceID']">
		<input matInput placeholder="Service id" value="{{ detail['serviceID'] }}" disabled />
	</mat-form-field>

	<mat-form-field class="type" *ngIf="detail['type']"> <input matInput placeholder="Type" value="{{ detail['type'] }}" disabled /> </mat-form-field>

	<div class="launch" *ngIf="detail['vendor'] || detail['serviceID'] || detail['type']" (click)="instantiate()">
		<button class="actions" mat-button matTooltip="Instantiate"><i class="wui wui-caret-right"></i></button> <span class="play">Ready to use</span>
	</div>

	<div class="description" *ngIf="detail['description']">
		<h4 class="title4">DESCRIPTION</h4>
		<span class="content">
			<p>{{ detail['description'] }}</p>
		</span>
	</div>
</form>

<app-spinner *ngIf="loading"></app-spinner>
