<div class="header-section" *ngIf="detail['name']">
    <h3 class="title3 header-section-name" *ngIf="detail['name']" i18n="@@wim">WIM</h3>
    <div class="button-underline">
        <button class="delete-button" (click)="deleteWim()" i18n="@@deleteWim">Delete WIM</button>
        <div class="underline"></div>
    </div>
</div>

<div class="title-section" *ngIf="detail['name']">
    <h1 class="title1 title-section-name">{{ detail['name'] }}</h1>
    <button class="close" (click)="close()" i18n="@@closeButton">CLOSE</button>
</div>

<form class="detail">
    <mat-form-field *ngIf="detail['uuid']">
        <input matInput placeholder="WIM ID" value="{{ detail['uuid'] }}" disabled i18n-placeholder="@@wimID" />
    </mat-form-field>

    <mat-form-field *ngIf="detail['type']">
        <input matInput placeholder="Type" value="{{ detail['type'] }}" disabled i18n-placeholder="@@type" />
    </mat-form-field>

    <mat-form-field *ngIf="!loading">
        <input matInput placeholder="Endpoint" value="{{ detail['endpoint'] || 'Not provided' }}" disabled i18n-placeholder="@@endpoint" />
    </mat-form-field>

    <div class="sameRow" *ngIf="detail['username'] || detail['password']">
        <mat-form-field *ngIf="detail['username']">
            <input matInput placeholder="Username" value="{{ detail['username'] }}" disabled i18n-placeholder="@@username" />
        </mat-form-field>

        <mat-form-field *ngIf="detail['password']">
            <input matInput placeholder="Password" value="{{ detail['password'] }}" disabled i18n-placeholder="@@password" />
        </mat-form-field>
    </div>

    <div class="description" *ngIf="detail['vim_list']">
        <h4 class="title4" i18n="@@vimList">VIM list</h4>
        <span class="content">
            <p>{{ detail['vim_list'] }}</p>
        </span>
    </div>
</form>

<app-spinner *ngIf="loading"></app-spinner>