<h1 class="sectionTitle">SERVICE MANAGEMENT</h1>
<h2 class="subsectionTitle">Available network services</h2>

<div class="tools">
    <app-search-bar class="search" (searchTextEvent)="searchFieldData($event)"></app-search-bar>
    <button class="reload" (click)="requestServices()">
        <i class="wui wui-undo"></i>
    </button>
</div>

<table mat-table [dataSource]="networkServices">
    <ng-container matColumnDef="Vendor">
        <th mat-header-cell *matHeaderCellDef> Vendor </th>
        <td mat-cell *matCellDef="let element"> {{ element.vendor }} </td>
    </ng-container>
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.serviceName }} </td>
    </ng-container>
    <ng-container matColumnDef="Version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let element"> {{ element.version }} </td>
    </ng-container>
    <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>
    <ng-container matColumnDef="Licenses">
        <th mat-header-cell *matHeaderCellDef> Licenses </th>
        <td mat-cell *matCellDef="let element"> {{ element.licenses }} </td>
    </ng-container>
    <ng-container matColumnDef="SLAs">
        <th mat-header-cell *matHeaderCellDef> SLAs </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <a routerLink="{{ element.slas }}">View</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="instantiate">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="instantiate(element)" (click)="$event.stopPropagation()">
            <button class="row-options" mat-button>
                <i class="wui wui-caret-right"></i>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openNetworkService(row)"></tr>
</table>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>