@font-face {
  font-family: 'WUI-Project-iconfont';
  src:  url('fonts/WUI-Project-iconfont.eot?7vchwl');
  src:  url('fonts/WUI-Project-iconfont.eot?7vchwl#iefix') format('embedded-opentype'),
    url('fonts/WUI-Project-iconfont.ttf?7vchwl') format('truetype'),
    url('fonts/WUI-Project-iconfont.woff?7vchwl') format('woff'),
    url('fonts/WUI-Project-iconfont.svg?7vchwl#WUI-Project-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wui {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'WUI-Project-iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wui-folder-plus:before {
  content: "\e907";
}
.wui-copy:before {
  content: "\e904";
  color: #000;
}
.wui-copy-alt:before {
  content: "\e905";
  color: #000;
}
.wui-gear:before {
  content: "\e902";
  color: #000;
}
.wui-gear-alt:before {
  content: "\e903";
  color: #000;
}
.wui-lock-alt:before {
  content: "\e900";
  color: #000;
}
.wui-lock:before {
  content: "\e901";
  color: #000;
}
.wui-caret-right:before {
  content: "\e93f";
  color: #000;
}
.wui-caret-right-alt:before {
  content: "\e9ac";
  color: #000;
}
.wui-stop-alt:before {
  content: "\e9e5";
  color: #000;
}
.wui-stop:before {
  content: "\e9e4";
  color: #000;
}
.wui-circle:before {
  content: "\e94a";
  color: #000;
}
.wui-circle-alt:before {
  content: "\e94c";
  color: #000;
}
.wui-eye:before {
  content: "\e9ce";
  color: #000;
}
.wui-shopping-cart:before {
  content: "\e9c6";
  color: #000;
}
.wui-dashboard-alt:before {
  content: "\e9b3";
  color: #000;
}
.wui-user-group-alt:before {
  content: "\e992";
  color: #000;
}
.wui-check-circle-alt:before {
  content: "\e9bb";
  color: #000;
}
.wui-shield-lines-alt:before {
  content: "\e9d0";
  color: #000;
}
.wui-table-alt:before {
  content: "\e9d1";
  color: #000;
}
.wui-network-alt:before {
  content: "\e9cd";
  color: #000;
}
.wui-user:before {
  content: "\e92b";
  color: #000;
}
.wui-trash-alt:before {
  content: "\e989";
  color: #000;
}
.wui-calendar-alt:before {
  content: "\e9b7";
  color: #000;
}
.wui-search-alt:before {
  content: "\e97f";
  color: #000;
}
.wui-power-off:before {
  content: "\e9d6";
  color: #000;
}
.wui-pen-alt:before {
  content: "\e964";
  color: #000;
}
.wui-undo:before {
  content: "\e950";
  color: #000;
}
.wui-caret-down:before {
  content: "\e906";
  color: #000;
}
.wui-caret-up:before {
  content: "\e9c8";
  color: #000;
}
.wui-arrow-right-alt:before {
  content: "\e9b5";
  color: #000;
}
.wui-triangle-exclamation-alt:before {
  content: "\e9b4";
  color: #000;
}
.wui-plus:before {
  content: "\e9ba";
  color: #000;
}
.wui-times:before {
  content: "\e96f";
  color: #000;
}
