@import "../../constants.scss";
app-requests {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  .tools {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reload {
    position: absolute;
    right: 120px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: $basic-background-color;
    .wui-undo::before {
      font-size: 20px;
      color: $reload-color;
    }
  }
  mat-table {
    width: 90%;
  }
  .mat-header-row {
    width: 90%;
    border-bottom: none;
  }
  .mat-row {
    border-bottom: none;
    background-image: linear-gradient(
      to right,
      $basic-background-color 1%,
      $underline-color 1%,
      $underline-color 99%,
      $basic-background-color 99%,
      $basic-background-color 100%
    );
    align-items: baseline;
    min-height: 29px;
  }
  // Set width for columns
  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2) {
    flex: 0 0 12%;
  }
  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 12%;
  }
}
