@import "../../../constants.scss";
app-function-records-detail {
  display: flex;
  flex-direction: column;
  background-color: $panel-background-color;
  border-bottom: 1px solid $primary-color-light;

  .VNFDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;

    .tableDetailTitle {
      margin-top: 20px;
      font-size: 18px;
      color: $primary-font-color-light;
    }

    .message {
      margin-top: 15px;
      margin-bottom: 40px;
      color: $secondary-font-color-light;
    }

    .mat-table.innerTable {
      width: 100%;
      margin-bottom: 40px;
      background-color: $panel-background-color;

      td.mat-cell {
        cursor: auto;
      }

      &.connectionPoints {
        .mat-cell:nth-child(1),
        .mat-header-cell:nth-child(1) {
		      width: 10%;
        }
        .mat-cell:nth-child(2),
        .mat-header-cell:nth-child(2) {
          width: 30%;
        }
      }
    }

    .ineerTableRow.mat-row {
      width: 100%;
      // min-width: 150px;
      border-bottom: none;
      background-image: linear-gradient(
        to right,
        $panel-background-color 0%,
        $table-underline-color 0%,
        $table-underline-color 100%,
        $panel-background-color 100%,
        $panel-background-color 100%
      );
    }
  }
}
