@import "../../../constants.scss";
app-sla-templates-create {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }
  .title {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 30px;
  }
  .header {
    display: flex;
    flex-direction: row;
    .subsectionTitle {
      margin: 0;
      width: 40%;
      .mat-input-element,
      .mat-form-field-appearance-legacy .mat-form-field-label {
        font-size: 37px;
      }
      .mat-form-field-infix {
        border-top: 0;
      }
      .mat-form-field-label-wrapper {
        font-size: 33px;
      }
      &.mat-form-field-should-float {
        .mat-form-field-label-wrapper {
          display: none;
        }
      }
    }
    .headerButtons {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: flex-end;
    }
  }
  .subheader {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 60px;
    h3 {
      margin-top: -10px;
      margin-right: 15px;
      font-size: 12px;
      &.author {
        color: $third-title-color;
      }
      &.date {
        color: $secondary-title-color;
      }
    }
  }
  form {
    width: 55%;
    .mat-form-field {
      &.ns {
        width: 100%;
      }
    }
    &.advancedForm {
      width: 100%;
      .sectionTitle {
        margin-bottom: 20px;
        font-size: 24px;
        color: $third-title-color;
      }
      .sectionTitle:after {
        background: none;
      }
      .guarantiesList {
        width: 50%;
        margin-top: 20px;
      }
      .note {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-bottom: 300px;
        margin-top: -16px;
        font-size: 13px;
        color: $font-color-alert;
      }
      .guaranteeRow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        &.mat-input-element,
        .mat-input-element:disabled,
        .mat-form-field-can-float.mat-form-field-should-float
          .mat-form-field-label {
          font-size: 16px;
        }
        .mat-form-field-appearance-legacy .mat-form-field-underline {
          width: 95%;
        }
        .gName {
          width: 55%;
        }
        .timePeriod {
          display: flex;
          flex-direction: column;
          width: 40%;
          // .mat-form-field-wrapper {
          //   padding-bottom: 10px;
          // }
        }
        button {
          width: 5%;
          margin-top: 20px;
          font-size: 16px;
        }
      }
    }
  }
  .advanceSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
    .advanceButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      width: auto;
      color: $button-hyperlink-color;
      .open {
        span {
          margin-right: 25px;
        }
        i:before {
          font-size: 8px;
        }
        .wui-caret-down:before {
          color: $button-hyperlink-color;
        }
        .wui-caret-up:before {
          color: $opened-color;
        }
      }
      .underline {
        margin: 2px auto;
        width: 150px;
        border-bottom: 1px solid $underline-color;
        &.opened {
          margin: 4px auto;
          border-bottom: 1px solid $opened-color;
        }
      }
    }
  }
}
