<div class="title" *ngIf="detail['name']">
    <h1 class="sectionTitle">TEMPLATES</h1>
    <div class="delete" *ngIf="detail.usageState!=='IN_USE'">
        <button class="deleteButton" (click)="deleteTemplate()">Delete template</button>
        <div class="underline"></div>
    </div>
</div>

<div class="header" *ngIf="detail['name']">
    <h2 class="subsectionTitle"> {{ detail['name'] }}</h2>
    <button class="close" (click)="close()">CLOSE</button>
</div>

<div class="subheader" *ngIf="detail['author']">
    <h3 class="subtitle author">Created by {{ detail['author'] }}</h3>
    <h3 class="subtitle date">{{ detail['createdAt'] }}</h3>
</div>

<div class="bubbleDiv" *ngIf="detail['version']">
    <span class="text">Current version</span>
    <div class="number">
        <span>{{ detail['version'] }}</span>
    </div>
</div>

<form class="detail">
    <div class="sameRow">
        <mat-form-field *ngIf="detail['uuid']">
            <input matInput placeholder="Template ID" value="{{ detail['uuid'] }}" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="detail['vendor']">
            <input matInput placeholder="Vendor" value="{{ detail['vendor'] }}" disabled>
        </mat-form-field>
    </div>
    <div class="sameRow">
        <mat-form-field *ngIf="detail['usageState']">
            <input matInput placeholder="Usage state" value="{{ detail['usageState'] }}" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="detail['status']">
            <input matInput placeholder="Status" value="{{ detail['status'] }}" disabled>
        </mat-form-field>
    </div>
    <div class="sameRow">
        <mat-form-field *ngIf="detail['onboardingState']">
            <input matInput placeholder="Onboarding state" value="{{ detail['onboardingState'] }}" disabled>
        </mat-form-field>
        <mat-form-field *ngIf="detail['operationalState']">
            <input matInput placeholder="Operational state" value="{{ detail['operationalState'] }}" disabled>
        </mat-form-field>
    </div>
    <mat-form-field *ngIf="detail['notificationType']">
        <input matInput placeholder="Notification Types" value="{{ detail['notificationType'] }}" disabled>
    </mat-form-field>

    <div class="launch" *ngIf="detail['uuid'] || detail['vendor'] || detail['name']  || detail['version']">
        <button (click)="instantiate()">
            <i class="wui wui-caret-right"></i>
            <span class="play">Ready to use</span>
        </button>
    </div>

    <mat-form-field *ngIf="detail['nstNsdIds']">
        <div *ngFor="let item of detail['nstNsdIds']">
            <input class="element" matInput placeholder="Network service descriptors" value="{{ item }}" disabled>
        </div>
    </mat-form-field>

    <mat-form-field *ngIf="detail['userDefinedData']">
        <input matInput placeholder="User defined data" value="{{ detail['userDefinedData'] }}" disabled>
    </mat-form-field>
</form>

<app-spinner *ngIf="loading"></app-spinner>