@import "../../../constants.scss";
app-slices-templates-detail {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }

  form {
    width: 60%;
    align-items: flex-start;
    margin-bottom: 20px;

    .mat-form-field {
      width: 100%;
      margin-left: 25px;

      .element {
        margin-bottom: 5px;
      }
    }

    .sameRow {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .launch {
      display: flex;
      flex-direction: row;
      margin-left: 25px;
      margin-top: 15px;
      margin-bottom: 20px;

      button {
        border: none;
        cursor: pointer;
        outline: none;
        padding: 15px 0 25px 0;
        font-size: 18px;
        color: $primary-font-color;
        background-color: $basic-background-color;
      }

      i:before {
        color: $ready-color;
      }

      span {
        margin-left: 5px;
        color: $secondary-font-color;
      }
    }
  }
}
