<div class="header-section" *ngIf="detail['name']">
    <h3 class="title3 header-section-name" i18n="@@templatesCapLetters">TEMPLATES</h3>
    <div class="button-underline" *ngIf="detail.usageState.trim() !== 'In Use'">
        <button class="delete-button" (click)="deleteTemplate()" i18n="@@deleteTemplateButton">Delete template</button>
        <div class="underline"></div>
    </div>
</div>

<div class="title-section" *ngIf="detail['name']">
    <h1 class="title1 title-section-name">{{ detail['name'] }}</h1>
    <button class="close" (click)="close()" i18n="@@closeButton">CLOSE</button>
</div>

<div class="subheader" *ngIf="detail['author']">
    <p class="subtitle author" i18n="@@createdBy">Created by</p>
    <p class="subtitle author">{{ detail['author'] }}</p>
    <p class="subtitle date">{{ detail['createdAt'] }}</p>
</div>

<div class="bubbleDiv" *ngIf="detail['version']">
    <span class="text" i18n="@@version">Version</span>
    <div class="number">
        <span>{{ detail['version'] }}</span>
    </div>
</div>

<form class="detail">
    <div class="sameRow">
        <mat-form-field *ngIf="detail['uuid']">
            <input matInput placeholder="Template ID" value="{{ detail['uuid'] }}" disabled i18n-placeholder="@@templateIDPlaceholder" />
        </mat-form-field>
        <mat-form-field *ngIf="detail['vendor']">
            <input matInput placeholder="Vendor" value="{{ detail['vendor'] }}" disabled i18n-placeholder="@@vendorPlaceholder" />
        </mat-form-field>
    </div>
    <div class="sameRow">
        <mat-form-field *ngIf="detail['usageState']">
            <input matInput placeholder="Usage state" value="{{ detail['usageState'] }}" disabled i18n-placeholder="@@usageStatePlaceholder" />
        </mat-form-field>
        <mat-form-field *ngIf="detail['status']">
            <input matInput placeholder="Status" value="{{ detail['status'] }}" disabled i18n-placeholder="@@statusPlaceholder" />
        </mat-form-field>
    </div>
    <div class="sameRow">
        <mat-form-field *ngIf="detail['onboardingState']">
            <input matInput placeholder="Onboarding state" value="{{ detail['onboardingState'] }}" disabled
                i18n-placeholder="@@onboardingStatePlaceholder" />
        </mat-form-field>
        <mat-form-field *ngIf="detail['operationalState']">
            <input matInput placeholder="Operational state" value="{{ detail['operationalState'] }}" disabled
                i18n-placeholder="@@operationalStatePlaceholder" />
        </mat-form-field>
    </div>
    <mat-form-field *ngIf="detail['notificationType']">
        <input matInput placeholder="Notification Types" value="{{ detail['notificationType'] }}" disabled
            i18n-placeholder="@@notificationTypesPlaceholder" />
    </mat-form-field>

    <div class="launch" *ngIf="detail['uuid'] || detail['vendor'] || detail['name'] || detail['version']" (click)="instantiate()">
        <button class="actions" mat-button matTooltip="Instantiate" i18n-matTooltip="@@instantiate"><i class="wui wui-caret-right"></i></button>
        <span class="play" i18n="@@readyToUse">Ready to use</span>
    </div>

    <mat-form-field *ngIf="detail['userDefinedData']">
        <input matInput placeholder="User defined data" value="{{ detail['userDefinedData'] }}" disabled
            i18n-placeholder="@@userDefinedDataPlaceholder" />
    </mat-form-field>

    <h2 class="title2" *ngIf="detail['nstNsdIds']" i18n="@@nss">Network Services</h2>

    <dl *ngIf="detail['nstNsdIds']">
        <dt *ngFor="let item of detail['nstNsdIds']">
            <app-select placeholder="Network service descriptor" [list]="[item.nsdID]" [value]="item.nsdID" [disabled]="true"
                i18n-placeholder="@@nsDescriptorPlaceholder"></app-select>

            <app-select class="slaList " placeholder="SLA Template" [list]="[item.slaID ? item.slaID : 'None']" [value]="item.slaID ? item.slaID : 'None'"
                [disabled]="true" i18n-placeholder="@@slaTemplatePlaceholder"></app-select>
        </dt>
    </dl>
</form>

<app-spinner *ngIf="loading"></app-spinner>