@import "../../../constants.scss";
app-slices-templates-detail {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }

  form {
    width: 65%;
    align-items: flex-start;
    margin-bottom: 20px;

    .mat-form-field {
      width: 100%;
      // margin-left: 25px;

      .element {
        margin-bottom: 5px;
      }
    }

    .launch {
      // margin-left: 25px;
      margin-bottom: 25px;
    }
  }

  span.title3 {
    margin-top: 20px;
  }

  dl {
    width: 100%;
  }

  dt {
    margin-top: 15px;
  }

  dt app-select {
    width: 45%;

    &.slaList {
      margin-left: 20px;
    }
  }
}
