<h1 class="sectionTitle">LICENCES</h1>
<div class='header'>
    <h2 class="subsectionTitle"> {{ licenceId }}</h2>
    <button class='close' (click)="close()">CLOSE</button>
</div>

<form class='detail'>
    <mat-form-field class="relatedService">
        <input matInput placeholder="RelatedService" value="{{ relatedService }}" disabled>
    </mat-form-field>
    <mat-form-field class="type">
        <input matInput placeholder="Type" value="{{ type }}" disabled>
    </mat-form-field>
    <div class="buy">
        <button (click)="buy()">
            <i class="wui wui-shopping-cart"></i>
            <span class="cart">Buy</span>
        </button>
    </div>
    <div class="description">
        <span class="title">DESCRIPTION</span>
        <span class="content">{{ description }}</span>
    </div>
</form>