<h3 class="title3 header-section-name">LICENCES</h3>
<div class="title-section">
	<h1 class="title1 title-section-name">{{ licenceId }}</h1>
	<button class="close" (click)="close()">CLOSE</button>
</div>

<form class="detail">
	<mat-form-field class="relatedService"> <input matInput placeholder="RelatedService" value="{{ relatedService }}" disabled /> </mat-form-field>
	<mat-form-field class="type"> <input matInput placeholder="Type" value="{{ type }}" disabled /> </mat-form-field>
	<div class="buy">
		<button (click)="buy()"><i class="wui wui-shopping-cart"></i> <span class="cart">Buy</span></button>
	</div>
	<div class="description">
		<h4 class="title4">DESCRIPTION</h4> <span class="content">{{ description }}</span>
	</div>
</form>
