<h1 class="sectionTitle">SERVICE PLATFORM</h1>

<div class="header">
  <h2 class="subsectionTitle">Runtime Policies</h2>
  <button class="add" (click)="createNew()">
    <i class="wui wui-plus"></i>
    <span>Create New Policy</span>
  </button>
</div>

<div class="tools">
  <app-search-bar class="search" (searchTextEvent)="searchFieldData($event)"></app-search-bar>
  <app-select class="select" placeholder="Network Service" [list]="nsList" [disabled]="loading" required="false" [reset]="reset"
    (selectEvent)="receiveNS($event)"></app-select>
  <button class="reload" (click)="requestRuntimePolicies()">
    <i class="wui wui-undo"></i>
  </button>
</div>

<table mat-table [dataSource]="policiesDisplayed">
  <ng-container matColumnDef="vendor">
    <th mat-header-cell *matHeaderCellDef> Vendor </th>
    <td mat-cell *matCellDef="let element"> {{ element.vendor }} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>

  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> Version </th>
    <td mat-cell *matCellDef="let element"> {{ element.version }} </td>
  </ng-container>

  <ng-container matColumnDef="ns">
    <th mat-header-cell *matHeaderCellDef> Network Service </th>
    <td mat-cell *matCellDef="let element"> {{ element.ns }} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
  </ng-container> -->

  <ng-container matColumnDef="enforced">
    <th mat-header-cell *matHeaderCellDef> Enforced </th>
    <td mat-cell *matCellDef="let element"> {{ element.enforced }} </td>
  </ng-container>

  <ng-container matColumnDef="default">
    <th mat-header-cell *matHeaderCellDef> Select Default </th>
    <td mat-cell *matCellDef="let element" (click)="setDefaultPolicy(element.uuid)" (click)="$event.stopPropagation()">
      <button [ngClass]="{active: element.default}" class="circle-button" mat-button></button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let element" (click)="deletePolicy(element)" (click)="$event.stopPropagation()">
      <button class="row-options" mat-button>
        <i class="wui wui-trash-alt"></i>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns">
  </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPolicy(row)">
  </tr>
</table>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>