@import "../../../constants.scss";
app-runtime-policies {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;

  .tools {
    .search {
      margin-right: 10px;
    }
    .select {
      width: 30%;
      margin-left: 10px;

      .mat-focused .mat-form-field-label,
      .mat-focused .mat-form-field-required-marker,
      .mat-focused .mat-form-field-invalid .mat-form-field-label.mat-accent {
        color: $secondary-font-color-light;
      }
      .mat-form-field-ripple {
        background-color: $form-focus;
      }
      .mat-form-field-underline {
        background-color: $form-underline-color;
      }

      // Set select options color to grey
      .mat-option {
        color: $secondary-font-color-light;
      }
    }
  }

  table {
    width: 95%;
  }
  tr.mat-row {
    background-image: linear-gradient(
      to right,
      $basic-background-color 1%,
      $table-underline-color 1%,
      $table-underline-color 91%,
      $basic-background-color 91%,
      $basic-background-color 100%
    );
  }

  tr.activeRow + tr:not(.activeRow) {
    border-top: 1px solid $secondary-underline-color-light;
    margin-top: 20px;
  }

  .circle-button {
    padding: 8px;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    cursor: pointer;
  }

  .circle-button.active {
    border: 1px solid $primary-color-light;
    background-color: $primary-color-light;
  }

  .mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3) {
    width: 5%;
  }

  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    width: 5%;
  }

  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7) {
    width: 70px;
  }

  .mat-cell:nth-child(8),
  .mat-header-cell:nth-child(8) {
    width: 25px;
  }
}
