@import "../../../constants.scss";
app-test-results {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }

  form {
    width: 55vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }

  .results {
    align-items: flex-start;
	margin-top: 2vh;
    margin-bottom: 2vh;
	min-height: 5vh;

	.content {
		max-height: 28vh;
	}
	
    canvas {
      margin: 2.5%;
    }
  }
}
