@import "../../../constants.scss";
app-test-results {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }

  .detail {
    width: 65%;
    margin-bottom: 20px;
    margin-top: 50px;

    .mat-form-field {
      width: 100%;
    }
  }

  .results {
    width: 65%;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;

    canvas {
      margin: 2.5%;
    }
  }
}
