@import "../../../constants.scss";
app-test-results {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	position: absolute;
	align-items: center;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $basic-background-color;
	> * {
		flex: 0 0 auto;
	}

	form {
		width: 55vw;
		margin-top: 5vh;
		margin-bottom: 2vh;

		.left-column, 
		.same-row .left-column.mat-form-field {
			width: 25vw;
			margin-right: 40px;
		}
	}

	.description {
        width: 55vw;
		margin-bottom: 5vh;

        .content {
            min-height: 20vh;
            max-height: 30vh;
        }
    }
}
