<div class="header-section" *ngIf="detail['name']">
    <h3 class="title3 header-section-name" i18n="@@slaTemplates">SLA Templates</h3>
    <div class="button-underline">
        <button class="delete-button" (click)="deleteTemplate()" i18n="@@deleteTemplateButton">Delete template</button>
        <div class="underline"></div>
    </div>
</div>

<div class="title-section" *ngIf="detail['name']">
    <h1 class="title1 title-section-name">{{ detail['name'] }}</h1>
    <button class="close" (click)="close()" i18n="@@closeButton">CLOSE</button>
</div>

<div class="bubbleDiv" *ngIf="detail['version']">
    <span class="text" i18n="@@version">Version</span>
    <div class="number">
        <span>{{ detail.version }}</span>
    </div>
</div>

<form>
    <mat-form-field *ngIf="detail['uuid']" class="left-column">
        <input matInput placeholder="Template ID" value="{{ detail['uuid'] }}" [disabled]="true"
            i18n-placeholder="@@templateIDPlaceholder" />
        <button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['uuid'])"
            i18n-matTooltip="@@copy">
            <i class="wui wui-copy-alt"></i>
        </button>
    </mat-form-field>

    <div class="same-row">
        <mat-form-field *ngIf="detail['vendor']" class="left-column">
            <input matInput placeholder="Vendor" value="{{ detail['vendor'] }}" [disabled]="true" i18n-placeholder="@@vendorPlaceholder" />
        </mat-form-field>

        <mat-form-field *ngIf="detail['providerName']">
            <input matInput placeholder="Provider name" value="{{ detail['providerName'] }}" [disabled]="true"
                i18n-placeholder="@@providerNamePlaceholder" />
        </mat-form-field>
    </div>

    <div class="same-row">
        <app-select class="left-column" *ngIf="detail['nsName']" placeholder="Network Service" [list]="[ detail.nsName ]"
            [value]="detail.nsName" [disabled]="true" i18n-placeholder="@@nsPlaceholder">
        </app-select>

        <app-calendar *ngIf="detail['expirationDate']" class="right-column" placeholder="Expiration Date" [value]="detail['expirationDate']"
            [disabled]="true" i18n-placeholder="@@expirationDatePlaceholder">
        </app-calendar>
    </div>

    <mat-form-field class="time-form-field" *ngIf="detail['updatedAt']">
        <input matInput placeholder="Instantiated at" value="Last update: {{ utilsService.formatUTCDate(detail['updatedAt']) }}" disabled
            i18n-placeholder="@@instantiatedAtPlaceholder" />
    </mat-form-field>
</form>

<div *ngIf="detail['uuid']" class="advanced-section">
    <!-- Show or hide the service guarantees section -->
    <button class="dropdownButton" (click)="closed = !closed">
        <div class="open">
            <span i18n="@@advancedSection">Advanced section</span>

            <i class="wui wui-caret-down" *ngIf="closed; else: opened"></i>

            <ng-template #opened> <i class="wui wui-caret-up"></i> </ng-template>
        </div>

        <div class="underline" [ngClass]="{ opened: !closed }"></div>
    </button>

    <form *ngIf="!closed && detail['storedGuarantees']" class="advanced-form">
        <h2 class="title2" i18n="@@serviceGuarantees">Service Guarantees</h2>

        <!-- List stored service guarantees -->
        <div class="guarantee-row" *ngFor="let item of detail['storedGuarantees']">
            <div class="description" *ngIf="item">
                <!-- Title with delete and open details button -->
                <div class="description-title">
                    <h4 class="title4">
                        {{ item.uuid }} - {{ item.name }}: {{ item.threshold }} {{ item.unit }}
                    </h4>

                    <button class="dropdownButton" (click)="item.closed = !item.closed">
                        <i class="wui wui-caret-down" *ngIf="item.closed; else: openedSLO"></i>
                        <ng-template #openedSLO> <i class="wui wui-caret-up"></i> </ng-template>
                    </button>
                </div>

                <!-- Detailed information about the guarantee -->
                <span class="content" *ngIf="!item.closed">
                    <p *ngIf="item.definition" class="definition">{{ item.definition }}</p>

                    <div class="slo-info" *ngFor="let slo of item.slos">
                        <mat-form-field class="slo">
                            <input matInput placeholder="Service Level Objective" disabled
                                value="{{ slo.kpi }} {{ slo.operator }} {{ slo.value }}"
                                i18n-placeholder="@@serviceLevelObjectivePlaceholder" />
                        </mat-form-field>

                        <mat-form-field class="period">
                            <input matInput placeholder="Time period" disabled value="{{ slo.period || 'None' }}"
                                i18n-placeholder="@@timePeriodPlaceholder" />
                        </mat-form-field>
                    </div>
                </span>
            </div>
        </div>
    </form>

    <form *ngIf="!closed" class="advanced-form">
        <h2 class="title2" i18n="@@license">License</h2>

        <app-select class="licenses-select" placeholder="Select a license" [list]="[ detail.license ]" [value]="detail.license"
            [disabled]="true" i18n-placeholder="@@selectLicensePlaceholder">
        </app-select>

        <app-calendar *ngIf="detail['licenseExpirationDate']" placeholder="License expiration date"
            [value]="detail['licenseExpirationDate']" [disabled]="true" i18n-placeholder="@@licenseExpirationDatePlaceholder">
        </app-calendar>

        <div *ngIf="detail['licenseInstances']" class="instances-number">
            <p class="label" i18n="@@numberInstancesAllowed">Number of instances allowed: </p>
            <mat-form-field class="instances">
                <input matInput [value]="detail['licenseInstances']" disabled />
            </mat-form-field>
        </div>
    </form>

    <form *ngIf="!closed" class="advanced-form">
        <h2 class="title2" i18n="@@flavor">Flavor</h2>

        <app-select class="flavor-select" placeholder="Select a flavor" [list]="[ detail.flavor ]" [value]="detail.flavor" [disabled]="true"
            i18n-placeholder="@@selectflavorPlaceholder">
        </app-select>
    </form>
</div>

<app-spinner *ngIf="loading"></app-spinner>