<div class="container">
	<div id="header"></div>
	<form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
		<mat-form-field>
			<input matInput type="text" placeholder="Username/email" name="username" ngModel required>
		</mat-form-field>
		<mat-form-field>
			<input matInput type="password" placeholder="Password" name="password" ngModel required>
		</mat-form-field>
		<p id="error" *ngIf="errorString" [innerText]="errorString"></p>
		<button name="login" [disabled]="!loginForm.valid">LOG IN</button>
		<a routerLink="/signup">Create a new account</a>
		<a id="help" href="https://github.com/sonata-nfv/tng-portal">Help?</a>
	</form>
</div>