app-login {
  display: flex;
  position: absolute;
  flex-direction: column;
  max-width: 650px;
  width: calc(100% - 2em);
  max-height: 500px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(226, 222, 221);
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  #header {
    height: 6em;
    background: url("../../assets/images/tango.svg") no-repeat center
      rgb(226, 222, 221);
    background-size: 16em;
    margin-bottom: 20px;
    background-repeat: no-repeat;
  }
  .mat-form-field {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    color: rgb(121, 20, 34);
    text-align: center;
  }
  .mat-form-field-label:not(.mat-form-field-empty) {
    text-align: start;
  }
  .mat-focused .mat-form-field-label {
    color: rgb(138, 138, 138);
    text-align: left;
  }
  .mat-form-field-ripple {
    background-color: rgb(121, 20, 34);
  }
  button {
    margin-top: 40px;
    width: 60%;
    padding: 10px;
    background-color: rgb(121, 20, 34);
    color: rgb(254, 251, 244);
    font-size: 1.1em;
    border-radius: 10px;
  }
  button:disabled {
    background-color: rgb(65, 65, 65);
  }
  a {
    display: flex;
    flex-direction: column;
    color: rgb(121, 20, 34);
    font-size: 1.1em;
    padding: 10px;
    &#help {
      width: 45%;
    }
  }
  #error {
    font-size: 0.9em;
    margin-top: -15px;
    color: rgb(201, 0, 16);
    text-align: right;
    width: 80%;
  }
  // Input field is invalid (focus and change field without introducing text)
  .mat-form-field-invalid .mat-form-field-label {
    color: rgb(201, 0, 16);
  }
  .mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,
  .mat-form-field-invalid .mat-form-field-label.mat-accent {
    color: rgb(201, 0, 16);
  }
  .mat-form-field-invalid:not(.mat-focused)
    .mat-form-field-underline
    .mat-form-field-ripple,
  .mat-form-field-invalid .mat-form-field-ripple {
    background-color: rgb(201, 0, 16);
  }
  // Input field contains an error (errorString exists)
  .errorString {
    color: rgb(201, 0, 16);
    .mat-form-field-ripple {
      background-color: rgb(201, 0, 16);
    }
    .mat-form-field-underline {
      background-color: rgb(201, 0, 16);
    }
  }
}
