<div class="container">
	<div id="header"></div>
	<form id="login">
		<mat-form-field>
			<input matInput id="username" type="text" placeholder="Username/email" name="username" ngModel required>
		</mat-form-field>
		<mat-form-field>
			<input matInput id="password" type="password" placeholder="Password" name="password" ngModel required>
		</mat-form-field>
		<button id="loginButton" name="login">LOG IN</button>
		<a id="newAccount">Create new account</a>
		<a id="help">Help?</a>
	</form>
</div>