@import "../../../constants.scss";
app-test-plan-list {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-items: center;
	width: auto;
	height: 100%;
	background-color: $basic-background-color;

	table {
		width: 95%;
	}

	tr.mat-row {
		background-image: linear-gradient(
			to right,
			$basic-background-color 0%,
			$table-underline-color 0%,
			$table-underline-color 95%,
			$basic-background-color 95%,
			$basic-background-color 100%
		);
	}

	.icon-button-shadow.actions.hide {
		display: none;
	}

	.mat-cell:nth-child(4),
	.mat-header-cell:nth-child(4) {
		width: 30px;
	}

	tr.active-row + tr:not(.active-row) {
		margin-top: 20px;
		border-top: 1px solid $secondary-underline-color-light;
	}
}
