<mat-sidenav-container class="menu">
  <mat-sidenav-content class="menu-items" mode="side">
    <div class="avatar"></div>
    <p class="name">{{ username }}</p>
    <p class="email">{{ email }}</p>
    <button class="logout" (click)="logout()">
      <i class="wui wui-power-off"></i>
      <span>Log out</span>
    </button>
    <div class="sections">
      <button [ngClass]="{ active: menu === 'dashboard' }" (click)="setMenu($event, 'dashboard')" ifFeatureAvailable="dashboard">
        <i class="wui wui-dashboard-alt"></i>
        <span>DASHBOARD</span>
      </button>
      <button [ngClass]="{ active: menu === 'users' }" (click)="setMenu($event, 'users')" ifFeatureAvailable="users">
        <i class="wui wui-user-group-alt"></i>
        <span>USERS</span>
      </button>
      <button [ngClass]="{ active: menu === 'validation' }" (click)="setMenu($event, 'validation')" ifFeatureAvailable="validation">
        <i class="wui wui-check-circle-alt"></i>
        <span>V&V</span>
      </button>
      <button [ngClass]="{ active: menu === 'service-platform' }" (click)="setMenu($event, 'service-platform')" ifFeatureAvailable="service platform">
        <i class="wui wui-network-alt"></i>
        <span>SERVICE PLATFORM</span>
      </button>
      <button [ngClass]="{ active: menu === 'service-management' }" (click)="setMenu($event, 'service-management')" ifFeatureAvailable="service management">
        <i class="wui wui-table-alt"></i>
        <span>SERVICE MANAGEMENT</span>
      </button>
    </div>
    <div class="logo"></div>
  </mat-sidenav-content>

  <mat-sidenav class="menu-options" position="end" #sidenav mode="side">
    <div class="options" *ngIf="menu === 'validation'"></div>
    <div class="options" *ngIf="menu === 'service-platform'">
      <button [ngClass]="{ active: section === 'packages' }" (click)="setSection($event, 'packages')">Packages</button>
      <button [ngClass]="{ active: section === 'sp-network-services' }" (click)="setSection($event, 'sp-network-services')">Network Services</button>
      <button [ngClass]="{ active: section === 'functions' }" (click)="setSection($event, 'functions')">Functions</button>
      <button [ngClass]="{ active: section === 'policies' }" (click)="setSection($event, 'policies')">Policies</button>
      <div class="section" *ngIf="section === 'policies'">
        <button [ngClass]="{ active: subsection === 'placement-policy' }" (click)="setSubsection($event, 'placement-policy')">Placement Policy</button>
        <button [ngClass]="{ active: subsection === 'runtime-policy' }" (click)="setSubsection($event, 'runtime-policy')">Runtime Policies</button>
      </div>
      <button [ngClass]="{ active: section === 'slas' }" (click)="setSection($event, 'slas')">SLA</button>
      <div class="section" *ngIf="section === 'slas'">
        <button [ngClass]="{ active: subsection === 'sla-templates' }" (click)="setSubsection($event, 'sla-templates')">SLA Templates</button>
        <button [ngClass]="{ active: subsection === 'sla-agreements' }" (click)="setSubsection($event, 'sla-agreements')">SLA Agreements</button>
      </div>
      <button [ngClass]="{ active: section === 'slices' }" (click)="setSection($event, 'slices')">Slices</button>
    </div>

    <div class="options" *ngIf="menu === 'service-management'">
      <button [ngClass]="{ active: section === 'sm-network-services' }" (click)="setSection($event, 'sm-network-services')">Available network services</button>
      <button [ngClass]="{ active: section === 'requests' }" (click)="setSection($event, 'requests')">Requests</button>
      <button [ngClass]="{ active: section === 'sm-network-service-instances' }" (click)="setSection($event, 'sm-network-service-instances')">Network service instances</button>
      <button [ngClass]="{ active: section === 'licences' }" (click)="setSection($event, 'licences')" ifFeatureAvailable="licences">Licence store</button>
      <div class="section" *ngIf="section === 'licences'" ifFeatureAvailable="licences">
        <button [ngClass]="{ active: subsection === 'service-licences' }" (click)="setSubsection($event, 'service-licences')">Service licences</button>
        <button [ngClass]="{ active: subsection === 'user-licences' }" (click)="setSubsection($event, 'user-licences')">User licences</button>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>