@import "../../constants.scss";
app-menu {
  .menu {
    flex: 1 0;
    display: flex;
    height: 100%;
    .mat-drawer-container,
    .mat-drawer {
      background-color: $menu-background-color;
    }
    background: linear-gradient(
      to right,
      $menu-background-color,
      darken($menu-background-color, 2%) 91%,
      darken($menu-background-color, 10%) 97%
    );
  }
  .menu-items {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    text-align: center;
    width: auto;
    max-width: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .avatar {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 4px;
    background-image: url("../../assets/images/user.svg");
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
  }
  p {
    margin: auto;
    width: 150px;
    color: $primary-font-color;
    text-overflow: ellipsis;
    overflow: hidden;
    &.name {
      font-size: 26px;
    }
    &.email {
      font-size: 11px;
    }
  }
  .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 7px;
    font-size: 12px;
    border: none;
    background: none;
    color: $secondary-font-color;
    cursor: pointer;
    span {
      text-decoration: underline;
      padding: 3px;
    }
  }
  .logout:focus {
    outline: none;
  }
  .sections {
    flex: 1 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    border-right: 2px solid $border-line-color;
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 15px;
      border: none;
      background: none;
      color: $secondary-font-color;
      cursor: pointer;
      outline: none;
      i:before {
        font-size: 55px;
        color: $secondary-font-color;
      }
    }
    button.active {
      color: $button-active-color;
      i:before {
        font-size: 55px;
        color: $button-active-color;
      }
    }
  }
  .logo {
    height: 3em;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-image: url("../../assets/images/sonata_powered_by_5gtango_logo.svg");
    background-repeat: no-repeat;
    background-size: 7em;
  }
  .menu-options {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    .options {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      button {
        padding: 2px;
        border: none;
        background: none;
        text-align: center;
        width: 100%;
        margin-top: 45px;
        font-size: 18px;
        text-align: left;
        color: $secondary-button-color;
        cursor: pointer;
        outline: none;
      }
      button.active {
        text-align: left;
        outline: none;
        color: $button-active-color;
        border-bottom: 2px solid $button-active-color;
        width: 97%;
      }
      .section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        button {
          margin-top: 10px;
          margin-left: 10px;
          text-align: left;
          font-size: 15px;
          width: 80%;
          margin-left: 10px;
          border-bottom: 1px solid $secondary-button-color-light;
          outline: none;
        }
        button.active {
          outline: none;
          color: $button-active-color;
          border-bottom: 2px solid $button-active-color;
        }
      }
    }
  }
}
