<mat-sidenav-container class="menu">
  <mat-sidenav-content class="menu-items" #sidenav mode="side">
    <div class="avatar"></div>
    <p class="name">Ana</p>
    <p>ana@ana</p>
    <button class="logout">
      <i class="wui wui-power-off"></i>
      <span>Log out</span> 
    </button>
    <div class="sections">
      <button (click)="sidenav.close()" ifFeatureAvailable="dashboard"> 
        <i class="wui wui-dashboard-alt"></i>
        <span>DASHBOARD</span> 
      </button>
      <button (click)="sidenav.close()" ifFeatureAvailable="users">
          <i class="wui wui-user-group-alt"></i>
          <span>USERS</span> 
      </button>
      <button (click)="sidenav.open()" ifFeatureAvailable="v&v">
          <i class="wui wui-check-circle-alt"></i>
          <span>V&V</span> 
      </button>
      <button (click)="sidenav.open()" ifFeatureAvailable="service platform">
          <i class="wui wui-network-alt"></i>
          <span>SERVICE PLATFORM</span> 
      </button>      
      <button (click)="sidenav.open()" ifFeatureAvailable="bss">
          <i class="wui wui-table-alt"></i>
          <span>Service Management</span> 
      </button>
    </div>
    <div class="logo"></div>
  </mat-sidenav-content>
  <mat-sidenav class="menu-options" align="end" #sidenav mode="side" >
    <!-- <div class="options">
      <button>Available network services</button>
      <button>Requests</button>
      <button>Network service instances</button>
      <button>Licence store</button>
      <div class="store">
          <button>Service licences</button>
          <button>User licences</button>
      </div>
    </div> -->
  </mat-sidenav>
</mat-sidenav-container>


