@import "../../../constants.scss";
app-request-detail {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }

  .detail {
    width: 65%;
    margin-top: 100px;

    .sameRow {
      display: flex;
      flex-direction: row;
      width: 100%;

      .mat-form-field {
        width: 50%;
      }
    }
  }
}
