@import "../../constants.scss";
app-packages {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  .tools {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reload {
    position: absolute;
    right: 120px;
    .wui-undo::before {
      font-size: 20px;
      color: $reload-color;
    }
  }
  button {
    padding: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: $basic-background-color;
  }
  mat-table {
    width: 85%;
  }
  .mat-header-row {
    width: 85%;
    border-bottom: none;
  }
  .mat-row {
    border-bottom: none;
    background-image: linear-gradient(
      to right,
      $basic-background-color 2%,
      $underline-color 2%,
      $underline-color 98%,
      $basic-background-color 98%,
      $basic-background-color 100%
    );
    align-items: baseline;
    min-height: 29px;
  }
  // Set width for columns
  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 15%;
  }
  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 15%;
  }
}
