@import "../../constants.scss";
app-sla-templates {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  button {
    padding: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: $basic-background-color;
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 95%;
    h2 {
      margin: 0;
      width: 80%;
      color: $secondary-title-color;
      font-size: 32px;
    }
    .add {
      display: flex;
      justify-content: center;
      width: 20%;
      span {
        margin-left: 5px;
        font-size: 18px;
        color: $button-font-color_light;
      }
      .wui-plus::before {
        margin-right: 5px;
        font-size: 20px;
        color: $reload-color;
      }
    }
  }
  .tools {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    .reload {
      position: absolute;
      right: 10.5%;
      .wui-undo::before {
        font-size: 20px;
        color: $reload-color;
      }
    }
  }
  mat-table {
    width: 85%;
  }
  .mat-header-row {
    width: 85%;
    border-bottom: none;
  }
  .mat-row {
    border-bottom: none;
    background-image: linear-gradient(
      to right,
      $basic-background-color 2%,
      $underline-color 2%,
      $underline-color 94%,
      $basic-background-color 94%,
      $basic-background-color 100%
    );
    align-items: baseline;
    min-height: 29px;
  }
  .mat-cell:nth-child(5),
  .mat-header-cell:nth-child(5) {
    flex: 0 0 25px;
    font-size: 20px;
  }
}
