@import "../../constants.scss";
app-sla-templates {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  button {
    padding: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: $basic-background-color;
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 95%;
    h2 {
      margin: 0;
      width: 80%;
    }
    .add {
      display: flex;
      justify-content: center;
      width: 20%;
      span {
        margin-left: 5px;
        font-size: 18px;
        color: $button-font-color_light;
      }
      .wui-plus::before {
        margin-right: 5px;
        font-size: 20px;
        color: $reload-color;
      }
    }
  }
  .tools {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
  }
  table {
    width: 95%;
  }
  tr.mat-row {
    background-image: linear-gradient(
      to right,
      $basic-background-color 4%,
      $underline-color 4%,
      $underline-color 95%,
      $basic-background-color 95%,
      $basic-background-color 100%
    );
  }

  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    padding-bottom: 8px;
    width: 40px;
    font-size: 8px;
  }
  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    width: 25px;
    font-size: 20px;
  }
}
