<div class="header-section" *ngIf="detail['name']">
	<h3 class="title3 header-section-name">SLA Templates</h3>
	<div class="button-underline">
		<button class="delete-button" (click)="deleteTemplate()">Delete template</button>
		<div class="underline"></div>
	</div>
</div>

<div class="title-section" *ngIf="detail['name']">
	<h1 class="title1 title-section-name">{{ detail['name'] }}</h1>
	<button class="close" (click)="close()">CLOSE</button>
</div>

<div class="subheader" *ngIf="detail['author']">
	<h3 class="subtitle author">Created by {{ detail['author'] }}</h3>
	<h3 class="subtitle date">{{ detail['createdAt'] }}</h3>
</div>

<form [formGroup]="templateForm">
	<mat-form-field class="uuid" *ngIf="detail['uuid']">
		<input matInput placeholder="Template ID" value="{{ detail['uuid'] }}" [disabled]="true" />
	</mat-form-field>

	<mat-form-field *ngIf="detail['vendor']"> <input matInput placeholder="Vendor" value="{{ detail['vendor'] }}" [disabled]="true" /> </mat-form-field>

	<app-select
		class="ns"
		*ngIf="templateForm.controls.ns.value"
		placeholder="Network Service"
		[list]="listNS"
		[value]="templateForm.value.ns"
		(selectEvent)="receiveNS($event)"
		[disabled]="true"
	></app-select>

	<app-calendar
		*ngIf="detail['expirationDate']"
		placeholder="Expiration Date"
		[value]="detail['expirationDate']"
		(dateEvent)="receiveDate($event)"
		[disabled]="true"
	></app-calendar>
</form>

<div class="advanceSection" *ngIf="detail['storedGuarantees']">
	<button class="dropdownButton" (click)="closed = !closed">
		<div class="open">
			<span>Service Guarantees</span> <i class="wui wui-caret-down" *ngIf="closed; else: opened"></i>
			<ng-template #opened> <i class="wui wui-caret-up"></i> </ng-template>
		</div>
		<div class="underline" [ngClass]="{ opened: !closed }"></div>
	</button>

	<form *ngIf="!closed" [formGroup]="templateForm" class="advancedForm">
		<h2 class="title2">Service Guaranties</h2>

		<div class="guaranteeRow" *ngFor="let item of detail['storedGuarantees']; let i = index">
			<div class="description" *ngIf="item">
				<div class="descriptionTitle">
					<h4 class="title4">{{ item.guaranteeID }} - {{ item.name }}: {{ item.value }} {{ item.unit }}</h4>

					<button class="dropdownButton" (click)="closedSLO[i] = !closedSLO[i]">
						<i class="wui wui-caret-down" *ngIf="closedSLO[i]; else: openedSLO"></i>

						<ng-template #openedSLO> <i class="wui wui-caret-up"></i> </ng-template>
					</button>
				</div>

				<span class="content" *ngIf="!closedSLO[i]">
					<div class="sloInfo">
						<div class="timePeriod">
							<mat-form-field class="gPeriodValue">
								<input
									matInput
									placeholder="Service Level"
									disabled
									value="{{ item.serviceLevelObjetive.parameter }} {{  item.serviceLevelObjetive.operator }} {{  item.serviceLevelObjetive.target_value }}"
								/>
							</mat-form-field>

							<mat-form-field class="gPeriod">
								<input matInput placeholder="Time Period" disabled value="{{ item.serviceLevelObjetive.period }}" />
							</mat-form-field>
						</div>

						<p>{{ item.definition }}</p>
					</div>
				</span>
			</div>
		</div>
	</form>
</div>

<app-spinner *ngIf="loading"></app-spinner>
