@import "../../../constants.scss";
app-sla-templates-detail {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }

  form {
    width: 55%;
    .mat-form-field {
      &.ns {
        width: 100%;
      }
    }
    .mat-input-element:disabled {
      font-size: 18px;
    }
    &.advancedForm {
      width: 100%;
      .sectionTitle {
        margin-bottom: 20px;
        font-size: 24px;
        color: $primary-font-color-light;
      }
      .sectionTitle:after {
        background: none;
      }
      // .guarantiesList {
      //   width: 50%;
      //   margin-top: 20px;
      // }
      // .note {
      //   display: flex;
      //   justify-content: flex-end;
      //   width: 50%;
      // margin-bottom: 300px;
      //   margin-top: -16px;
      //   font-size: 13px;
      //   color: $primary-font-color-light;
      // }
      .guaranteeRow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        &.mat-input-element,
        .mat-input-element:disabled,
        .mat-form-field-can-float.mat-form-field-should-float
          .mat-form-field-label {
          font-size: 16px;
        }
        .gName {
          width: 55%;
        }
        .timePeriod {
          display: flex;
          flex-direction: column;
          width: 45%;
          .mat-form-field-wrapper {
            padding-bottom: 10px;
          }
        }
        // button {
        //   width: 10%;
        //   margin-top: 20px;
        //   font-size: 16px;
        // }
      }
    }
  }
}
