<div class="title" *ngIf="detail['name']">
  <h1 class="sectionTitle">SLA Templates</h1>
  <div class="delete">
    <button class="deleteButton" (click)="deleteTemplate()">Delete template</button>
    <div class="underline"></div>
  </div>
</div>

<div class="header" *ngIf="detail['name']">
  <h2 class="subsectionTitle"> {{ detail['name'] }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>

<div class="subheader" *ngIf="detail['author']">
  <h3 class="subtitle author">Created by {{ detail['author'] }}</h3>
  <h3 class="subtitle date">{{ detail['createdAt'] }}</h3>
</div>

<form [formGroup]="templateForm">
  <mat-form-field class="uuid" *ngIf="detail['uuid']">
    <input matInput placeholder="Template ID" value="{{ detail['uuid'] }}" [disabled]="true">
  </mat-form-field>

  <app-select class="ns" *ngIf="templateForm.controls.ns.value" placeholder="Network Service" [list]="listNS" [value]="templateForm.value.ns"
    (selectEvent)="receiveNS($event)" [disabled]="true"></app-select>

  <app-calendar *ngIf="detail['expirationDate']" placeholder="Expiration Date" [value]="detail['expirationDate']" (dateEvent)="receiveDate($event)"
    [disabled]="true"></app-calendar>
</form>

<div class="advanceSection" *ngIf="detail['storedGuarantees']">
  <button class="advanceButton" (click)="closed=!closed">
    <div class="open">
      <span>Service Guarantees</span>
      <i class="wui wui-caret-down" *ngIf="closed; else opened"></i>
      <ng-template #opened>
        <i class="wui wui-caret-up"></i>
      </ng-template>
    </div>
    <div class="underline" [ngClass]="{ opened : !closed }"></div>
  </button>

  <form *ngIf="!closed" [formGroup]="templateForm" class="advancedForm">
    <span class="sectionTitle">Service Guaranties</span>

    <div class="guaranteeRow" *ngFor="let item of detail['storedGuarantees']">

      <mat-form-field class="gName">
        <input matInput placeholder="Name" value="{{ item.guaranteeID }} - {{ item.name }}: {{ item.value }} {{ item.unit }}" [disabled]="true">
      </mat-form-field>

      <div class="timePeriod">
        <mat-form-field class="gPeriodValue">
          <input matInput placeholder="Service Level" value="{{ item.serviceLevelObjetive.parameter }} {{  item.serviceLevelObjetive.operator }} {{  item.serviceLevelObjetive.target_value }}"
            [disabled]="true">
        </mat-form-field>

        <mat-form-field class="gPeriod">
          <input matInput placeholder="Time Period" value="{{ item.serviceLevelObjetive.period }}" [disabled]="true">
        </mat-form-field>
      </div>

      <!-- <button (click)="eraseEntry(entry)">
        <i class="wui wui-trash-alt"></i>
      </button> -->

    </div>

    <!-- <app-select class="guarantiesList" placeholder="Select NS Guarantee" [list]="guaranties" (selectEvent)="receiveGuarantee($event)"></app-select> -->

    <!-- <span class="note">Add a new guarantee selecting a NS</span> -->
  </form>
</div>

<app-spinner *ngIf="loading"></app-spinner>