@import "../../../constants.scss";
app-sla-templates-detail {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }
  .title {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 30px;
    button {
      min-width: 150px;
      font-size: 15px;
      border: none;
      cursor: pointer;
      outline: none;
      text-decoration: underline;
      color: $primary-button-color;
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 95%;
    h2 {
      margin: 0;
      width: 95%;
    }
  }
  .subheader {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 60px;
    h3 {
      margin-top: 0;
      margin-right: 15px;
      font-size: 12px;
      &.author {
        color: $primary-font-color-light;
      }
      &.date {
        color: $secondary-font-color-light;
      }
    }
  }
  form {
    width: 55%;
    .mat-form-field {
      &.ns {
        width: 100%;
      }
    }
    .mat-input-element:disabled {
      font-size: 18px;
    }
    &.advancedForm {
      width: 100%;
      .sectionTitle {
        margin-bottom: 20px;
        font-size: 24px;
        color: $primary-font-color-light;
      }
      .sectionTitle:after {
        background: none;
      }
      // .guarantiesList {
      //   width: 50%;
      //   margin-top: 20px;
      // }
      // .note {
      //   display: flex;
      //   justify-content: flex-end;
      //   width: 50%;
      // margin-bottom: 300px;
      //   margin-top: -16px;
      //   font-size: 13px;
      //   color: $primary-font-color-light;
      // }
      .guaranteeRow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        &.mat-input-element,
        .mat-input-element:disabled,
        .mat-form-field-can-float.mat-form-field-should-float
          .mat-form-field-label {
          font-size: 16px;
        }
        .gName {
          width: 55%;
        }
        .timePeriod {
          display: flex;
          flex-direction: column;
          width: 45%;
          .mat-form-field-wrapper {
            padding-bottom: 10px;
          }
        }
        // button {
        //   width: 10%;
        //   margin-top: 20px;
        //   font-size: 16px;
        // }
      }
    }
  }
  .advanceSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
    .advanceButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      width: auto;
      color: $secondary-button-color-light;
      .open {
        span {
          margin-right: 25px;
        }
        i:before {
          font-size: 8px;
        }
        .wui-caret-down:before {
          color: $secondary-button-color-light;
        }
        .wui-caret-up:before {
          color: $opened-color;
        }
      }
      .underline {
        margin: 2px auto;
        width: 150px;
        border-bottom: 1px solid $underline-color;
        &.opened {
          margin: 4px auto;
          border-bottom: 1px solid $opened-color;
        }
      }
    }
  }
}
