@import "../../constants.scss";
app-user-licences {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  h1 {
    margin-top: 15px;
    width: 95%;
    color: $primary-title-color;
    font-size: 14px;
  }
  h1:after {
    background: none repeat scroll 0 0 $primary-title-color;
    content: "";
    display: block;
    height: 1px;
    width: 260px;
  }
  h2 {
    width: 95%;
    margin: 0px 15px 25px 15px;
    color: $secondary-title-color;
    font-size: 32px;
  }
}
