<div class="header-section" *ngIf="detail['name']">
	<h3 class="title3 header-section-name" i18n="@@networkSliceTemplates">Network Slice Templates</h3>
	<div class="button-underline" *ngIf="!isInUse()">
		<button class="delete-button" (click)="deleteTemplate()" i18n="@@deleteTemplateButton">Delete template</button>
		<div class="underline"></div>
	</div>
</div>

<div class="title-section" *ngIf="detail['name']">
	<h1 class="title1 title-section-name">{{ detail['name'] }}</h1>
	<button class="close" (click)="close()" i18n="@@closeButton">CLOSE</button>
</div>

<div class="subheader" *ngIf="detail['author']">
	<p class="subtitle author" i18n="@@createdBy">Created by</p>
	<p class="subtitle author">{{ detail['author'] }}</p>
	<p class="subtitle date">{{ utilsService.formatUTCDate(detail['createdAt']) }}</p>
</div>

<div class="bubbleDiv" *ngIf="detail['version']">
	<span class="text" i18n="@@version">Version</span>
	<div class="number">
		<span>{{ detail['version'] }}</span>
	</div>
</div>

<form>
	<div class="same-row">
		<mat-form-field *ngIf="detail['uuid']" class="left-column">
			<input matInput placeholder="Template ID" value="{{ detail['uuid'] }}" disabled i18n-placeholder="@@templateIDPlaceholder" />
			<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['uuid'])"
				i18n-matTooltip="@@copy">
				<i class="wui wui-copy-alt"></i>
			</button>
		</mat-form-field>
		<mat-form-field *ngIf="detail['vendor']">
			<input matInput placeholder="Vendor" value="{{ detail['vendor'] }}" disabled i18n-placeholder="@@vendorPlaceholder" />
		</mat-form-field>
	</div>

	<div class="same-row">
		<mat-form-field *ngIf="detail['usageState']" class="left-column">
			<input matInput placeholder="Usage state" value="{{ utilsService.capitalizeFirstLetter(detail['usageState']) }}" disabled
				i18n-placeholder="@@usageStatePlaceholder" />
		</mat-form-field>
		<mat-form-field *ngIf="detail['status']">
			<input matInput placeholder="Status" value="{{ utilsService.capitalizeFirstLetter(detail['status']) }}" disabled
				i18n-placeholder="@@statusPlaceholder" />
		</mat-form-field>
	</div>

	<mat-form-field class="time-form-field" *ngIf="detail['updatedAt']">
		<input matInput placeholder="Updated at" value="Last update: {{ utilsService.formatUTCDate(detail['updatedAt']) }}" disabled
			i18n-placeholder="@@updatedAtPlaceholder" />
	</mat-form-field>

	<mat-form-field *ngIf="detail['SNSSAI']">
		<input matInput placeholder="Slice service type" value="{{ detail['SNSSAI'] }}" disabled
			i18n-placeholder="@@sliceServiceTypePlaceholder" />
	</mat-form-field>

	<div class="description" *ngIf="detail['description']">
		<h4 class="title4" i18n="@@description">Description</h4>
		<span class="content">
			<p>{{ detail['description'] }}</p>
		</span>
	</div>

	<h2 *ngIf="detail['services']" class="title2" i18n="@@networkServices">Network services</h2>

	<table *ngIf="detail['services']" mat-table [dataSource]="detail['services']">
		<ng-container matColumnDef="uuid">
			<th mat-header-cell *matHeaderCellDef i18n="@@serviceID">Service ID</th>
			<td mat-cell *matCellDef="let element">{{ element.uuid }}</td>
		</ng-container>

		<ng-container matColumnDef="serviceName">
			<th mat-header-cell *matHeaderCellDef i18n="@@serviceName">Service Name</th>
			<td mat-cell *matCellDef="let element">{{ element.nsdName }}</td>
		</ng-container>

		<ng-container matColumnDef="isShared">
			<th mat-header-cell *matHeaderCellDef i18n="@@serviceIsShared">Service is shared</th>
			<td mat-cell *matCellDef="let element">{{ element.isShared }}</td>
		</ng-container>

		<ng-container matColumnDef="slaName">
			<th mat-header-cell *matHeaderCellDef i18n="@@slaName">SLA Name</th>
			<td mat-cell *matCellDef="let element">{{ element.slaName || 'None' }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>

	<div *ngIf="(detail['services'] && !detail['services'].length) && !loading" class="no-results-container">
		<div class="no-results-line"></div>
		<span class="no-results-text" i18n="@@noResultsToDisplay">No results to display</span>
		<div class="no-results-line"></div>
	</div>

	<h2 *ngIf="detail['sliceVirtualLinks']" class="title2" i18n="@@sliceVirtualLinks">Slice virtual links</h2>

	<table *ngIf="detail['sliceVirtualLinks']" mat-table [dataSource]="detail['sliceVirtualLinks']">
		<ng-container matColumnDef="networkName">
			<th mat-header-cell *matHeaderCellDef i18n="@@networkName">Network Name</th>
			<td mat-cell *matCellDef="let element">{{ element.networkName }}</td>
		</ng-container>

		<ng-container matColumnDef="mngmtNetwork">
			<th mat-header-cell *matHeaderCellDef i18n="@@mngmtNetwork">Management network</th>
			<td mat-cell *matCellDef="let element">{{ element.mngmtNetwork }}</td>
		</ng-container>

		<ng-container matColumnDef="type">
			<th mat-header-cell *matHeaderCellDef i18n="@@type">Type</th>
			<td mat-cell *matCellDef="let element">{{ element.type }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumnsLinks"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumnsLinks"></tr>
	</table>

	<div *ngIf="(detail['sliceVirtualLinks'] && !detail['sliceVirtualLinks'].length) && !loading" class="no-results-container">
		<div class="no-results-line"></div>
		<span class="no-results-text" i18n="@@noResultsToDisplay">No results to display</span>
		<div class="no-results-line"></div>
	</div>
</form>

<app-spinner *ngIf="loading"></app-spinner>