<h1 class="sectionTitle" *ngIf="detail['name']">RUNTIME POLICIES</h1>

<form [formGroup]="policyForm" class="header" *ngIf="detail['name']">
  <mat-form-field class="subsectionTitle">
    <input matInput type="text" placeholder="Policy Name" formControlName="name" required>
  </mat-form-field>

  <div class="headerButtons" *ngIf="detail['name'] && policyForm.dirty">
    <button class="edit-options save" (click)="editPolicy()">SAVE</button>
    <button class="edit-options cancel" (click)="close()">CANCEL</button>
  </div>
  <div class="headerButtons" *ngIf="!detail['name'] || !policyForm.dirty">
    <button class="edit-options cancel" (click)="close()">CLOSE</button>
  </div>

</form>

<div class="subheader" *ngIf="detail['author']">
  <h3 class="subtitle author">Created by {{ detail['author'] }}</h3>
  <h3 class="subtitle date">{{ detail['date'] }}</h3>
</div>

<div class="bubbleDiv" *ngIf="detail['version']">
  <span class="text">Current version</span>
  <div class="number">
    <span>{{ detail.version }}</span>
  </div>
</div>

<form [formGroup]="policyForm" *ngIf="detail['nsUUID']">
  <mat-checkbox formControlName="default">Mark as default</mat-checkbox>

  <app-select class="select" placeholder="Network Service" [list]="nsList" [value]="nsName" (selectEvent)="receiveNS($event)"></app-select>
  <app-select class="select" placeholder="Select SLA" [value]="slaName" [reset]="reset" required="false" [list]="slaList" (selectEvent)="receiveSLA($event)"></app-select>
</form>

<div class="advanceSection" *ngIf="detail['name']">
  <button class="advanceButton" (click)="closed=!closed">
    <div class="open">
      <span>Monitoring Rules</span>
      <i class="wui wui-caret-down" *ngIf="closed; else opened"></i>
      <ng-template #opened>
        <i class="wui wui-caret-up"></i>
      </ng-template>
    </div>
    <div class="underline" [ngClass]="{ opened : !closed }"></div>
  </button>
  <form *ngIf="!closed" [formGroup]="policyForm" class="advancedForm">
    <div class="rules">
      <div class="monitoringRules left">
        <span class="title">Existing monitoring rules</span>
        <span class="content">
          <p>{{ monitoringRules }}</p>
        </span>
      </div>

      <mat-form-field class="monitoringRules" *ngIf="detail['name']">
        <span class="title">Add new monitoring rules</span>
        <textarea class="content" matInput type="text" formControlName="monitoringRule"></textarea>
      </mat-form-field>
    </div>
  </form>

  <!-- TODO rules -->
  <!-- <div class="rulesForm" *ngIf="detail['name']">
    <span class="sectionTitle">Rules</span>
  </div> -->

</div>

<app-spinner *ngIf="loading"></app-spinner>