<h3 class="title3 header-section-name" *ngIf="detail['name']" i18n="@@slaAgreements">SLA Agreements</h3>

<div class="title-section" *ngIf="detail['name']">
	<h1 class="title1 title-section-name">{{ detail.name }}</h1>
	<button class="close" (click)="close()" i18n="@@closeButton">CLOSE</button>
</div>

<div class="subheader" *ngIf="detail['author']">
	<p class="subtitle author" i18n="@@createdBy">Created by</p>
	<p class="subtitle author">{{ detail.author }}</p>
	<p class="subtitle date">{{ detail.date }}</p>
</div>

<form>
	<mat-form-field class="ns" *ngIf="detail['ns']">
		<input matInput placeholder="Network Service" value="{{ detail.ns }}" disabled i18n-placeholder="@@nsPlaceholder" />
	</mat-form-field>

	<mat-form-field class="customer" *ngIf="detail['customer']">
		<input matInput placeholder="Customer" value="{{ detail.customer }}" disabled i18n-placeholder="@@customerPlaceholder" />
	</mat-form-field>

	<mat-form-field class="status" *ngIf="detail['status']">
		<input matInput placeholder="Status" value="{{ detail.status }}" disabled i18n-placeholder="@@statusPlaceholder" />
	</mat-form-field>

	<div class="details" *ngIf="detail['propertyList']">
		<h2 class="title2" i18n="@@serviceGuarantees">Service Guarantees</h2>

		<div class="guaranteeRow" *ngFor="let item of detail['propertyList']">
			<mat-form-field class=" gName ">
				<input
					matInput
					placeholder="Name "
					value="{{ item.guaranteeID }} - {{ item.name }}: {{ item.value }} {{ item.unit}} "
					disabled="true "
					i18n-placeholder="@@namePlaceholder"
				/>
			</mat-form-field>

			<div class="timePeriod ">
				<mat-form-field class="gPeriodValue ">
					<input
						matInput
						placeholder="Service Level "
						value="{{ item.serviceLevelObjetive.parameter }} {{ item.serviceLevelObjetive.operator}} {{ item.serviceLevelObjetive.target_value }} "
						disabled="true "
						i18n-placeholder="@@serviceLevelPlaceholder"
					/>
				</mat-form-field>

				<mat-form-field class="gPeriod ">
					<input
						matInput
						placeholder="Time Period "
						value="{{ item.serviceLevelObjetive.period }} "
						disabled="true "
						i18n-placeholder="@@timePeriodPlaceholder"
					/>
				</mat-form-field>
			</div>
		</div>
	</div>
</form>

<app-spinner *ngIf="loading"></app-spinner>
