@import "../../../constants.scss";
app-custom-instantiation-parameters {
	width: 100%;

	.add-more {
		align-self: flex-end;
	}

	// Styles of the listed items
	.list {
		color: $primary-font-color-light;

		.list-entry {
			align-items: center;

			span {
				flex: 1;
				font-size: 17px;
			}
		}
	}
}