@import "../../../constants.scss";
app-sla-template-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;

  table {
    width: 95%;
  }
  tr.mat-row {
    background-image: linear-gradient(
      to right,
      $basic-background-color 1%,
      $table-underline-color 1%,
      $table-underline-color 95%,
      $basic-background-color 95%,
      $basic-background-color 100%
    );
  }
  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    width: 25px;
    font-size: 20px;
  }
}
