@import "../../constants.scss";
app-slices-instances-detail {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }
  .title {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 30px;
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 95%;
    h2 {
      margin: 0;
      width: 95%;
    }
  }
  form {
    width: 60%;
    align-items: flex-start;
    margin-bottom: 20px;
    .mat-form-field {
      width: 100%;
      margin-left: 70px;
      .element {
        margin-bottom: 5px;
      }
    }
    .sameRow {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .stop {
      display: flex;
      flex-direction: row;
      button {
        border: none;
        cursor: pointer;
        outline: none;
        padding: 15px 0 25px 0;
        background-color: $basic-background-color;
      }
      i:before {
        font-size: 18px;
        border-radius: 20%;
        color: $stop-color;
        background-color: $stop-color;
      }
      span {
        margin-left: 10px;
        font-size: 22px;
        color: $secondary-font-color;
      }
    }

    .description {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        width: 100%;
        &.title {
          color: $secondary-title-color;
        }
        &.content {
          min-height: 200px;
          color: $secondary-font-color-dark;
          background-color: $pannel-background-color;
          border-top: 1px solid $border-line-color;
          border-bottom: 1px solid $border-line-color;
          p {
            margin: 5px;
          }
        }
      }
    }
  }
}
