@import "../../../constants.scss";
app-test-plan {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	position: absolute;
	align-items: center;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $basic-background-color;
	> * {
		flex: 0 0 auto;
	}

	.detail {
		width: 55vw;
		margin-top: 8vh;
	}

	.results {
		width: 55vw;
		margin-bottom: 2vh;
	}

	.left-column, 
	.same-row .left-column.mat-form-field {
		width: 25vw;
		margin-right: 40px;
	}

	.launch, .stop, .double-action-buttons {
		width: 55vw;
		margin-bottom: 5vh;
	}

	.icon-button-shadow {
		min-height: 40px;
		min-width: 40px;
	}

	.icon-button-shadow .wui-times:before {
    	font-size: 23px;
	}

	.icon-button-shadow .wui-check-circle-alt:before {
    	font-size: 27px;
	}

	.description {
        width: 55vw;
		margin-bottom: 5vh;

        .content {
            min-height: 20vh;
            max-height: 30vh;
        }
    }
}