<h3 class="title3 header-section-name" *ngIf="detail['uuid']" i18n="@@testPlans">Test plans</h3>

<div class="title-section" *ngIf="detail['uuid']">
	<h1 class="title1 title-section-name">{{ detail['uuid'] }}</h1>
	<button class="close" (click)="close()" i18n="@@closeButton">CLOSE</button>
</div>

<form class="detail">
	<mat-checkbox *ngIf="detail['uuid']" (change)="setRequired($event.checked)" i18n="@@confirmTestPlanAsRequired">
		Confirm test plan as required
	</mat-checkbox>

	<mat-form-field *ngIf="detail['uuid']">
		<input matInput placeholder="Test plan ID" value="{{ detail['uuid'] }}" disabled i18n-placeholder="@@testPlanIDPlaceholder" />
		<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['uuid'])"
			i18n-matTooltip="@@copy">
			<i class="wui wui-copy-alt"></i>
		</button>
	</mat-form-field>

	<mat-form-field *ngIf="detail['testSet']">
		<input matInput placeholder="Test set" value="{{ detail['testSet'] }}" disabled i18n-placeholder="@@testSetPlaceholder" />
		<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['testSet'])"
			i18n-matTooltip="@@copy">
			<i class="wui wui-copy-alt"></i>
		</button>
	</mat-form-field>

	<mat-form-field *ngIf="detail['testUUID']">
		<input matInput placeholder="Test ID" value="{{ detail['testUUID'] }}" disabled i18n-placeholder="@@testIDPlaceholder" />
		<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['testUUID'])"
			i18n-matTooltip="@@copy">
			<i class="wui wui-copy-alt"></i>
		</button>
	</mat-form-field>

	<mat-form-field *ngIf="detail['serviceUUID']">
		<input matInput placeholder="Service ID" value="{{ detail['serviceUUID'] }}" disabled i18n-placeholder="@@serviceIDPlaceholder" />
		<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['serviceUUID'])"
			i18n-matTooltip="@@copy">
			<i class="wui wui-copy-alt"></i>
		</button>
	</mat-form-field>

	<mat-form-field *ngIf="detail['status']">
		<input matInput placeholder="Status" value="{{ utilsService.capitalizeFirstLetter(detail['status']) }}" disabled
			i18n-placeholder="@@statusPlaceholder" />
	</mat-form-field>

	<mat-form-field class="time-form-field" *ngIf="detail['updatedAt']">
		<input matInput placeholder="Updated at" value="Last update: {{ utilsService.formatUTCDate(detail['updatedAt']) }}" disabled
			i18n-placeholder="@@updatedAtPlaceholder" />
	</mat-form-field>
</form>

<app-spinner *ngIf="loading"></app-spinner>