<h3 class="title3 header-section-name" *ngIf="detail['uuid']" i18n="@@testPlans">Test plans</h3>

<div class="title-section" *ngIf="detail['uuid']">
	<h1 class="title1 title-section-name">{{ detail['uuid'] }}</h1>
	<button class="close" (click)="close()" i18n="@@closeButton">CLOSE</button>
</div>

<form class="detail">
	<mat-form-field *ngIf="detail['uuid']" class="left-column">
		<input matInput placeholder="Test plan ID" value="{{ detail['uuid'] }}" disabled i18n-placeholder="@@testPlanIDPlaceholder" />
		<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['uuid'])"
			i18n-matTooltip="@@copy">
			<i class="wui wui-copy-alt"></i>
		</button>
	</mat-form-field>

	<mat-form-field *ngIf="detail['testSet']" class="left-column">
		<input matInput placeholder="Test set" value="{{ detail['testSet'] }}" disabled i18n-placeholder="@@testSetPlaceholder" />
		<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['testSet'])"
			i18n-matTooltip="@@copy">
			<i class="wui wui-copy-alt"></i>
		</button>
	</mat-form-field>

	<div class="same-row">
		<mat-form-field *ngIf="detail['testUUID']" class="left-column">
			<input matInput placeholder="Test ID" value="{{ detail['testUUID'] }}" disabled i18n-placeholder="@@testIDPlaceholder" />
			<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['testUUID'])"
				i18n-matTooltip="@@copy">
				<i class="wui wui-copy-alt"></i>
			</button>
		</mat-form-field>

		<mat-form-field *ngIf="detail['testdName']">
			<input matInput placeholder="Test" value="{{ detail['testdName'] }}" disabled i18n-placeholder="@@testPlaceholder" />
		</mat-form-field>
	</div>

	<div class="same-row">
		<mat-form-field *ngIf="detail['serviceUUID']" class="left-column">
			<input matInput placeholder="Service ID" value="{{ detail['serviceUUID'] }}" disabled
				i18n-placeholder="@@serviceIDPlaceholder" />
			<button mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix (click)="copyToClipboard(detail['serviceUUID'])"
				i18n-matTooltip="@@copy">
				<i class="wui wui-copy-alt"></i>
			</button>
		</mat-form-field>

		<mat-form-field *ngIf="detail['serviceName']">
			<input matInput placeholder="Service" value="{{ detail['serviceName'] }}" disabled i18n-placeholder="@@servicePlaceholder" />
		</mat-form-field>
	</div>

	<mat-form-field *ngIf="detail['status']">
		<input matInput placeholder="Status" value="{{ utilsService.capitalizeFirstLetter(detail['status']) }}" disabled
			i18n-placeholder="@@statusPlaceholder" />
	</mat-form-field>

	<mat-form-field class="time-form-field" *ngIf="detail['updatedAt']">
		<input matInput placeholder="Updated at" value="Last update: {{ utilsService.formatUTCDate(detail['updatedAt']) }}" disabled
			i18n-placeholder="@@updatedAtPlaceholder" />
	</mat-form-field>
</form>

<div *ngIf="canShowConfirmExecution()" (click)="confirmExecution()" class="launch">
	<button class="icon-button-shadow actions" mat-button matTooltip="Execute" i18n-matTooltip="@@execute">
		<i class="wui wui-caret-right"></i>
	</button>
	<span class="play" i18n="@@confirmTestPlanAsRequired">Confirm the test plan as required</span>
</div>

<app-spinner *ngIf="loading"></app-spinner>