<button class="close-icon" (click)="close()"><i class="wui wui-times"></i></button>

<h2 mat-dialog-title>Instantiate {{ data['name'] }} network service</h2>

<!-- FIRST DIALOG DISPLAYED -->
<mat-dialog-content *ngIf="section=='first'" class="first-dialog">
	<app-nap-lists (listNameEvent)="receiveListName($event)" [ingress]="ingress" [egress]="egress" [blacklist]="blacklist"></app-nap-lists>

	<!-- FORM TO INCLUDE NEW INGRESS AND EGRESS POINTS -->
	<form [formGroup]="instantiationForm" class="first-dialog-form">
		<app-select-uuid *ngIf="!loading" class="select" placeholder="Location" [list]="locations" [reset]="canResetSelect()"
			required="false" (selectEvent)="receiveLocation($event)" i18n-placeholder="@@locationPlaceholder">
		</app-select-uuid>

		<mat-form-field *ngIf="canShowNetworkAddress()">
			<input matInput type="text" placeholder="Network address" formControlName="nap" />
		</mat-form-field>
		<p *ngIf="instantiationForm.get('nap').errors?.pattern" class="error-message input-error" i18n="@@notValidIpMaskExample">
			*This is not a valid IP/mask (i.e. 10.10.10.10/24)
		</p>


		<div *ngIf="canShowNetworkAddress()" class="add-new">
			<button [disabled]="canDisableAddNew()" (click)="addNew()" class="basic-button">
				<i class="wui wui-plus"></i>
				<span *ngIf="listName === 'ingress'" i18n="@@addNewIngress"> Add new ingress NAP</span>
				<span *ngIf="listName === 'egress'" i18n="@@addNewEgress"> Add new egress NAP</span>
				<span *ngIf="listName === 'blacklist'" i18n="@@addNewBlacklist"> Add new blacklist NAP</span>
			</button>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions *ngIf="section=='first'">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button mat-dialog-close i18n="@@cancelButton">CANCEL</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial (click)="section = 'second'"
			i18n="@@nextButton">NEXT</button>
	</div>
</mat-dialog-actions>

<!-- SECOND DIALOG DISPLAYED -->
<mat-dialog-content *ngIf="section=='second'" class="second-dialog">
	<form [formGroup]="instantiationForm" class="second-dialog-form">
		<mat-form-field class="instance-name">
			<input matInput type="text" placeholder="Instance name" formControlName="instanceName" required
				i18n-placeholder="@@instanceNamePlaceholder" />
		</mat-form-field>

		<app-select-uuid *ngIf="slas && slas.length" class="select" placeholder="Select a SLA from the list" [list]="slas"
			[value]="instantiationForm.get('sla').value" [disabled]="loading" (selectEvent)="receiveSLA($event)"
			i18n-placeholder="@@selectSLAPlaceholder">
		</app-select-uuid>
	</form>
</mat-dialog-content>

<mat-dialog-actions *ngIf="section=='second'">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button (click)="section='first'" i18n="@@backButton">BACK</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial [disabled]="canDisableInstantiate()"
			(click)="instantiate(data.serviceUUID)" i18n="@@instantiateButton">
			INSTANTIATE
		</button>
	</div>
</mat-dialog-actions>

<!-- LICENSE ERROR DIALOG DISPLAYED -->
<mat-dialog-content *ngIf="section=='error'" class="error-dialog" i18n="@@trialLicenseError">
	Trial license exceeded or allowed instances over passed.
</mat-dialog-content>

<mat-dialog-actions *ngIf="section=='error'">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button mat-dialog-close i18n="@@closeButton">CLOSE</button>
	</div>
</mat-dialog-actions>

<!-- LICENSE BUY DIALOG DISPLAYED -->
<mat-dialog-content *ngIf="section=='buy'" class="buy-dialog" i18n="@@privateLicenseError">
	You need to buy the license before continuing with the instantiation.
</mat-dialog-content>

<mat-dialog-actions *ngIf="section=='buy'">
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button mat-dialog-close i18n="@@cancelButton">CANCEL</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial (click)="buy()">
			<i class="wui wui-shopping-cart"></i>
			<span i18n="@@buy">BUY</span>
		</button>
	</div>
</mat-dialog-actions>

<app-spinner *ngIf="loading"></app-spinner>