@import "../../../constants.scss";
app-ns-instantiate-dialog {
  position: relative;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: auto;
  min-height: 450px;
  background-color: $basic-background-color;
  color: $secondary-font-color-light;

  .closeIcon {
    right: -5px;
    top: -10px;
  }

  .mat-dialog-title {
    width: 100%;
    margin: 0 20px;
    text-align: center;
    color: $primary-font-color-light;
    font-size: 17px;
  }

  .mat-dialog-content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 22px;

    .section {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 10px;
        font-size: 37px;
        color: $button-disabled-font-color;
        background-color: $basic-background-color;
      }

      button.active {
        color: $primary-button-color-light;
      }

      .dash {
        color: $button-disabled-font-color;
        font-size: 30px;
      }
    }

    dl {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      color: $primary-font-color-light;

      dt {
        display: flex;
        align-items: center;

        span {
          flex: 1;
          text-align: center;
          font-size: 17px;
        }

        button {
          padding: 8px;
          background-color: $basic-background-color;

          i:before {
            font-size: 18px;
          }
        }
      }
    }

    .form {
      width: 60%;

      .mat-form-field {
        text-align: center;

        &.instanceName {
          margin-bottom: 5vh;
        }
      }

      .select {
        width: 100%;
      }
    }

    .addNew {
      display: flex;
      justify-content: flex-end;

      button {
        padding: 8px;
        padding-right: 0px;
        font-size: 16px;
        color: $primary-color-light;
        background-color: $basic-background-color;

        i:before {
          font-size: 12px;
          color: $primary-color-light;
        }
      }

      button:disabled {
        color: $button-disabled-font-color;

        i:before {
          color: $button-disabled-font-color;
        }
      }
    }

    &.continue {
      display: flex;
      flex-direction: column;

      .summary {
        display: flex;
        flex-direction: row;
        width: 100%;

        .ingressList,
        .egressList {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 50%;

          dl {
            dt {
              span {
                text-align: left;
              }
            }
          }
        }

        .ingressList {
          margin-left: 90px;
          margin-right: 80px;
        }

        .egressList {
          margin-left: 80px;
          margin-right: 80px;
        }

        h2 {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 37px;
          font-weight: normal;
        }
      }

      .select {
        width: 300px;
      }
    }
  }

  .buttonContainer {
    button {
      margin-top: 20px;
      padding: 12px;
      height: 42px;
      width: 180px;
      font-size: 18px;
      font-weight: bold;

      &.cancel {
        margin-right: 15px;
        color: $button-basic-font-color;
        background-color: $button-close-color;
      }

      &.next {
        margin-left: 15px;
        color: $button-basic-font-color;
        background-color: $primary-button-color;
      }
    }

    button:disabled {
      background-color: $secondary-button-color;
    }
  }

  button {
    border: none;
    cursor: pointer;
    outline: none;
  }
}
