@import "../../../constants.scss";
app-ns-instantiate-dialog {
	position: relative;
	display: flex;
	flex: 1 1;
	flex-direction: column;
	align-items: center;
	width: 38vw;
	height: auto;
	min-height: 45vh;
	background-color: $basic-background-color;
	color: $secondary-font-color-light;

	.close-icon {
		right: -5px;
		top: -10px;
	}

	.mat-dialog-title {
		color: $primary-font-color-light;
		font-size: 17px;
	}

	.mat-dialog-content.first-dialog,
	.mat-dialog-content.second-dialog {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		align-items: center;
		width: 80%;
		font-size: 22px;
	}

	.mat-dialog-content.error-dialog,
	.mat-dialog-content.buy-dialog {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 80%;
		font-size: 22px;
		color: $primary-font-color-light;
	}

	// Location, network address point, SLA and name
	.mat-dialog-content.first-dialog .first-dialog-form {
		width: 100%;
		margin-top: 1vh;
		margin-bottom: 2vh;
	}

	.mat-dialog-content.second-dialog .second-dialog-form {
		width: 100%;
		margin-top: 6vh;
	}

	// Invalid IP error message
	.mat-dialog-content.first-dialog 
	.first-dialog-form 
	.error-message.input-error {
		margin-top: -1vh;
	}	  
	
	// Add new ingress or egress point button
	.mat-dialog-content.first-dialog .add-new {
		display: flex;
		justify-content: flex-end;

		button {
			padding-right: 0;
			font-size: 16px;
			color: $primary-color-light;
			background-color: $basic-background-color;

			i:before {
				font-size: 12px;
				color: $primary-color-light;
			}
		}

		button:disabled {
			color: $button-disabled-font-color;

			i:before {
				color: $button-disabled-font-color;
			}
		}
	}
}

