@import "../../../constants.scss";
app-ns-instantiate-dialog {
	position: relative;
	display: flex;
	flex: 1 1;
	flex-direction: column;
	align-items: center;
	width: 38vw;
	height: auto;
	min-height: 45vh;
	background-color: $basic-background-color;
	color: $secondary-font-color-light;

	.close-icon {
		right: -5px;
		top: -10px;
	}

	.mat-dialog-title {
		color: $primary-font-color-light;
		font-size: 17px;
	}

	.mat-dialog-content.first-dialog,
	.mat-dialog-content.second-dialog {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		align-items: center;
		width: 100%;
		font-size: 22px;
	}

	// Ingress and egress buttons
	.mat-dialog-content.first-dialog .section {
		display: flex;
		align-items: center;

		button {
			font-size: 37px;
			color: $button-disabled-font-color;
			background-color: $basic-background-color;
		}

		button.active {
			color: $primary-button-color-light;
		}

		.dash {
			color: $button-disabled-font-color;
			font-size: 30px;
		}
	}

		// Listed ingress and egress points
	.mat-dialog-content.first-dialog .list,
	.mat-dialog-content.second-dialog .list {
		color: $primary-font-color-light;

		.list-entry {
			align-items: center;

			span {
				flex: 1;
				font-size: 17px;
			}
		}
	}

	// Location, network address point, SLA and name
	.mat-dialog-content.first-dialog .first-dialog-form,
	.mat-dialog-content.second-dialog .second-dialog-form {
      	width: 60%;

		.mat-form-field {
			text-align: center;
		}
	}

	// Invalid IP error message
	.mat-dialog-content.first-dialog 
	.first-dialog-form 
	.error-message.input-error {
		margin-top: -1vh;
	}	  
	
	// Add new ingress or egress point button
	.mat-dialog-content.first-dialog {
		.add-new {
			display: flex;
			justify-content: flex-end;

			button {
				padding-right: 0;
				font-size: 16px;
				color: $primary-color-light;
				background-color: $basic-background-color;

				i:before {
					font-size: 12px;
					color: $primary-color-light;
				}
			}

			button:disabled {
				color: $button-disabled-font-color;

				i:before {
					color: $button-disabled-font-color;
				}
			}
		}
	}

	// List of ingress and egress points selected
    .mat-dialog-content.second-dialog .summary {
		display: flex;

		.ingress-list,
		.egress-list {
			display: flex;
			flex-direction: column;
			margin-left: 3vw;
			margin-right: 3vw;

			h2 {
				margin-top: 2vh;
				margin-bottom: 0;
				font-size: 37px;
				font-weight: normal;
			}
		}			
    }
  
  	.button-container {
		.cancel, .next {
			margin-top: 2vh;
			height: 4vh;
			width: 10vw;
			font-size: 18px;
			font-weight: bold;
			margin-left: 1vw;
			margin-right: 1vw;
			color: $button-basic-font-color;
			border-radius: 3%;
		}

		.cancel {
			background-color: $button-close-color;
		}

		.next {
			background-color: $primary-button-color;
		}

		.cancel:disabled, 
		.next:disabled {
			background-color: $secondary-button-color;
		}
  	}
}

