<button class="closeIcon" (click)="close()">
  <i class="wui wui-times"></i>
</button>

<h2 mat-dialog-title> Instantiate {{ data["name"] }} network service </h2>

<mat-dialog-content *ngIf="!continue">
  <div class="section">
    <button [ngClass]="{ active: isIngress === true }" (click)="isIngress=true;" class="ingress" mat-button>Ingress</button>
    <span class="dash">-</span>
    <button [ngClass]="{ active: isIngress === false }" (click)="isIngress=false;" class="egress" mat-button>Egress</button>
  </div>

  <!-- DISPLAY INGRESS OR EGRESS DEPENDING ON THE CHOSEN SECTION -->
  <dl class="list" *ngIf="isIngress">
    <dt *ngFor="let entry of ingress">
      <span>{{ entry.location }} ({{ entry.nap }})</span>
      <button (click)="eraseEntry(entry)">
        <i class="wui wui-trash-alt"></i>
      </button>
    </dt>
  </dl>

  <dl class="list" *ngIf="!isIngress">
    <dt *ngFor="let entry of egress">
      <span>{{ entry.location }} ({{ entry.nap }})</span>
      <button (click)="eraseEntry(entry)">
        <i class="wui wui-trash-alt"></i>
      </button>
    </dt>
  </dl>

  <form [formGroup]="instantiationForm" class="form">

    <app-select class="select" placeholder="Location" [list]="locations" [disabled]="loading" [reset]="reset" (selectEvent)="receiveLocation($event)"></app-select>

    <mat-form-field>
      <input matInput type="text" placeholder="Network attachment point (NAP)" formControlName="nap" required>
    </mat-form-field>

    <div class="addNew">
      <button [disabled]="!instantiationForm.valid" (click)="addNew()">
        <i class="wui wui-plus"></i>
        <span *ngIf="isIngress; else isEgress">
          Add new ingress
        </span>
        <ng-template #isEgress>Add new egress</ng-template>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions *ngIf="!continue">
  <div class="buttonContainer">
    <button class="cancel" mat-button mat-dialog-close>CANCEL</button>
    <button class="next" mat-button cdkFocusInitial (click)="continue=true;">NEXT</button>
  </div>
</mat-dialog-actions>

<mat-dialog-content class="continue" *ngIf="continue">
  <div class="summary">
    <div class="ingressList">
      <h2>Ingress</h2>

      <dl>
        <dt *ngFor="let entry of ingress">
          <span>{{ entry.location }} ({{ entry.nap }})</span>
          <button (click)="isIngress=true; eraseEntry(entry);">
            <i class="wui wui-trash-alt"></i>
          </button>
        </dt>
      </dl>

    </div>
    <div class="egressList">
      <h2>Egress</h2>

      <dl>
        <dt *ngFor="let entry of egress">
          <span>{{ entry.location }} ({{ entry.nap }})</span>
          <button (click)="isIngress=false; eraseEntry(entry);">
            <i class="wui wui-trash-alt"></i>
          </button>
        </dt>
      </dl>
    </div>
  </div>

  <form [formGroup]="instantiationForm">
    <app-select class="select" placeholder="Select a SLA from the list" [list]="slas" [disabled]="loading" (selectEvent)="receiveSLA($event)"></app-select>
  </form>

</mat-dialog-content>

<mat-dialog-actions *ngIf="continue">
  <div class="buttonContainer">
    <button class="cancel" mat-button mat-dialog-close>REJECT</button>
    <button class="next" mat-button cdkFocusInitial (click)="instantiate(data.serviceUUID)">INSTANTIATE</button>
  </div>
</mat-dialog-actions>

<app-spinner *ngIf="loading"></app-spinner>