@import "../../constants.scss";
app-search-bar {
  .mat-form-field {
    width: 240px;
  }
  i {
    margin-left: 10px;
  }
  .mat-focused .mat-form-field-label {
    color: $secondary-color-light;
    text-align: left;
  }
  .mat-form-field-ripple {
    background-color: $form-focus;
  }
  .mat-form-field {
    color: $primary-font-color;
  }
  input.mat-input-element {
    margin-left: 10px;
  }
  .mat-form-field-can-float.mat-form-field-should-float {
    .mat-form-field-label {
      display: none;
    }
  }
}
