@import "../../constants.scss";
app-search-bar {
  .mat-form-field {
    width: 240px;
    color: $primary-font-color;
  }
  i {
    margin-left: 10px;
    margin-right: 5px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline,
  .mat-form-field.mat-focused .mat-form-field-ripple,
  .mat-form-field-ripple {
    background-color: $form-focus;
  }
  input.mat-input-element {
    margin-left: 10px;
  }
  .mat-form-field-can-float.mat-form-field-should-float {
    .mat-form-field-label {
      display: none;
    }
  }
}
