@import "../../../constants.scss";
app-sm-slice-template-list {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-items: center;
	width: auto;
	height: 100%;
	background-color: $basic-background-color;

	table {
		width: 95%;
	}
	
	tr.mat-row {
		background-image: linear-gradient(
			to right,
			$basic-background-color 4%,
			$table-underline-color 4%,
			$table-underline-color 94%,
			$basic-background-color 94%,
			$basic-background-color 100%
		);
	}

	.mat-cell:nth-child(6),
	.mat-header-cell:nth-child(6) {
		width: 25px;
		padding-right: 10px;
	}

	.mat-cell:nth-child(7),
	.mat-header-cell:nth-child(7) {
		width: 25px;
	}
}
