@import "../constants.scss";
@import "../material-styles.scss";
@font-face {
  font-family: "Calibri";
  src: url("../assets/fonts/fonts/Calibri.ttf");
}
* {
  font-family: "Calibri";
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

// App basic background
app-root {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background: url("../assets/images/background-strokes-sonata.svg"),
    linear-gradient(
      to right,
      $init-background-color 0%,
      darken($init-background-color, 10%) 100%
    );
  background-position: center center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
}

// Set index dimenssions to enable menu opening
app-index {
  display: flex;
  flex: 1 1;
  width: 100%;
}

// Section title and subtitle styles
.sectionTitle {
  margin-top: 15px;
  margin-bottom: 3px;
  width: 95%;
  color: $primary-title-color;
  font-size: 17px;
  font-weight: normal;
}
.sectionTitle:after {
  background: none repeat scroll 0 0 $primary-title-color;
  content: "";
  display: block;
  height: 1px;
  width: 260px;
}
.subsectionTitle {
  width: 95%;
  margin: 0px 15px 20px 15px;
  color: $secondary-title-color;
  font-size: 37px;
  font-weight: normal;
}
.subtitle {
  font-weight: normal;
}

/* Set styles for version circles*/
.versionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  margin-bottom: 30px;
  .text {
    color: $secondary-font-color;
    font-size: 21px;
    margin-bottom: 10px;
  }
  .version {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-color: $primary-background-color;
    span {
      color: $button-font-color;
      font-size: 40px;
    }
  }
}

// Spinner styles to center in component
app-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

// Close icon
.closeIcon {
  position: absolute;
  padding: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  color: $button-font-color_light;
  background-color: $basic-background-color;
  i:before {
    font-size: 10px;
    color: $button-font-color_light;
  }
}

// Close button in detailed views
.close {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 12px;
  min-width: 170px;
  font-weight: bold;
  font-size: 17px;
  color: $button-font-color;
  background-color: $button-close-color;
}

// Reload button
.reload {
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 120px;
  background-color: $basic-background-color;
  .wui-undo::before {
    font-size: 20px;
    color: $reload-color;
  }
}

// Button edit options in page
.edit-options {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 12px;
  min-width: 160px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 17px;
  color: $button-font-color;
}
.save {
  background-color: $button-save-color;
}
.cancel {
  background-color: $button-close-color;
}
