@import '../constants.scss';
@import '../material-styles.scss';
@font-face {
	font-family: 'Calibri';
	src: url('../assets/fonts/fonts/Calibri.woff');
}

* {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
}

//////////////////////////////////////
// Generic scrollbar for the app
//////////////////////////////////////
::-webkit-scrollbar {
	width: 10px;
	padding-top: 100px;
}

::-webkit-scrollbar-track {
	background: $track-color;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb {
	background-color: $thumb-background-color;
	outline: 1px solid $thumb-outline-color;
	border-radius: 10px;
}

//////////////////////////////////////
// App basic background
//////////////////////////////////////
app-root {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	background: url('../assets/images/background-strokes-sonata.svg'),
		linear-gradient(to right, $init-background-color 0%, darken($init-background-color, 10%) 100%);
	background-position: center center;
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-size: cover;
}

//////////////////////////////////////
// Menu
//////////////////////////////////////

// Set index dimenssions to enable menu opening
app-index {
	display: flex;
	flex: 1 1;
	width: 100%;
}

//////////////////////////////////////
// Spinner centering in components
//////////////////////////////////////
app-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

//////////////////////////////////////
// Titles and fonts
//////////////////////////////////////
.title1 {
	color: $secondary-font-color-light;
	font-size: 37px;
	font-weight: normal;
}

.title2 {
	color: $primary-font-color-light;
	font-size: 27px;
	font-weight: normal;
}

.title3 {
	color: $primary-font-color-light;
	font-size: 17px;
	font-weight: normal;
}

.title3:after {
	background: none repeat scroll 0 0 $primary-font-color-light;
	content: '';
	display: block;
	height: 1px;
	width: 260px;
}

.title4 {
	color: $secondary-font-color-light;
	font-size: 16px;
	font-weight: normal;
}

p {
	text-align: justify;
	color: $secondary-font-color;
	font-size: 18px;
}

.error-message {
    font-size: 13px;
    color: $primary-font-color-light;
    text-align: right;
}

//////////////////////////////////////
// Page header-subheader sections
//////////////////////////////////////
.header-section {
	display: flex;
    flex-direction: row;
    align-items: center;
	width: 95%;
}

.header-section-name {
	width: 95%;
	margin-top: 15px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.button-underline {
	display: flex;
	flex-direction: column;
    justify-content: center;
    min-width: 160px;
    max-height: 18px;

	.delete-button {
		min-width: 150px;
		font-size: 15px;
		border: none;
		cursor: pointer;
		outline: none;
		color: $primary-button-color;
		background-color: $basic-background-color;
	}

	a {
		text-decoration: none;
		text-align: center;
		color: $primary-font-color;
		font-size: 18px;
	}

	.underline {
		width: 100%;
		border-bottom: 1px solid $primary-button-color;
	}
}

.title-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 95%;

	button {
		border: none;
		cursor: pointer;
		outline: none;
	}

	// Button edit options in page
	.header-buttons {
		display: flex;
		flex-direction: row;
		width: 60%;
		justify-content: flex-end;

		button {
			min-width: 160px;
			height: 35px;
			font-size: 17px;
			font-weight: bold;
			color: $button-basic-font-color;
			box-shadow: 2px 2px 4px 0 $shadow-buttons;
		}

		.edit-options {
			margin-right: 5px;
			margin-left: 5px;
		}

		.save {
			background-color: $primary-button-color;
		}

		.save.disabled-button {
			background-color: $secondary-button-color;
		}

		.cancel {
			background-color: $button-close-color;
		}
	}

	// Close button in detailed views
	.close {
		min-width: 160px;
		height: 35px;
		font-size: 17px;
		font-weight: bold;
		color: $button-basic-font-color;
		background-color: $button-close-color;
		box-shadow: 2px 2px 4px 0 $shadow-buttons;
	}

	// Create new button in list views
	.add {
		display: flex;
		justify-content: center;
		width: 20%;
		background-color: $basic-background-color;
		box-shadow: 2px 2px 4px 0 $shadow-buttons;

		span {
			margin-left: 5px;
			font-size: 18px;
			color: $primary-color-light;
		}

		.wui-plus:before {
			margin-right: 5px;
			font-size: 20px;
			color: $add-color;
		}
	}
}

.title-section-name {
	width: 95%;
	margin-top: 0;
	margin-bottom: 3px;
}

// Page subtitle section
.subheader {
	display: flex;
	flex-direction: row;
	width: 95%;
	min-height: 60px;

	.subtitle {
		margin-top: 0;
		font-size: 12px;
		font-weight: normal;

		&.author {
			margin-right: 3px;
			color: $primary-font-color-light;
		}

		&.date {
			margin-left: 15px;
			color: $secondary-font-color-light;
		}
	}
}

//////////////////////////////////////
// Version and iteration circles
//////////////////////////////////////
.bubbleDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2vh;
    margin-bottom: 4vh;
	margin-left: 2vw;
	margin-right: 2vw;

	.text {
		color: $secondary-font-color-light;
		font-size: 21px;
		margin-bottom: 10px;
	}

	.number {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6vw;
		height: 6vw;
		min-width: 80px;
		min-height: 80px;
		border-radius: 50%;
		background-color: $primary-background-color;

		span {
			color: $button-basic-font-color;
			font-size: 40px;
		}
	}
}

//////////////////////////////////////
// Tools bar (search and reload)
//////////////////////////////////////
.tools {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5vh;
}

//////////////////////////////////////
// Description fields
//////////////////////////////////////
.description {
	display: flex;
	flex-direction: column;
	width: 100%;
    margin-bottom: 2vh;

	.description-title {
		display: flex;
		flex-direction: row;
		width: 100%;

		.title4 {
			flex: 1 1;
		}

		button {
			align-self: center;
			margin-left: 1vw;
			text-align: right;
			border: none;
			cursor: pointer;
			outline: none;
			color: $primary-font-color;
			background-color: $basic-background-color;
		}
	}

	.title4 {
        margin-bottom: 2px;
        margin-top: 3px;
	}

	span {
		width: 100%;
		min-height: 20px;

		&.content {
			overflow-y: auto;
			overflow-x: hidden;
			white-space: pre-line;
			min-height: 120px;
			max-height: 200px;
			color: $secondary-font-color;
			background-color: $panel-background-color;
			border-top: 1px solid $border-line-color;
			border-bottom: 1px solid $border-line-color;

			p {
				margin: 5px;
			}

			// Styles for a table inside the description div
			table th.mat-header-cell,
			table td.mat-cell {
				background-color: $panel-background-color;
			}

			// Underline styles
			tr.mat-row {
				background-position: bottom;
				background-size: 100% 1px;
				background-repeat: no-repeat;
			}
		}
	}
}

.description .mat-form-field-wrapper {
	width: 100%;
}

.description .mat-form-field-underline {
	display: none;
}

.description .mat-form-field-infix {
	padding: 0;
	border: 0;

	.content {
		min-height: 100px;
		padding-top: 5px;
		padding-left: 5px;
		margin-top: 5px;
		background-color: $panel-background-color;
		border-top: 1px solid $border-line-color;
		border-bottom: 1px solid $border-line-color;
	}
}

//////////////////////////////////////
// JSON viewer styles  
//////////////////////////////////////
ngx-json-viewer {
    .ngx-json-viewer[_ngcontent-c12] {
        height: auto; 
        width: auto; 
        margin: 5px;
    
        .segment[_ngcontent-c12] .segment-main[_ngcontent-c12] .segment-key[_ngcontent-c12],
        .segment[_ngcontent-c12] .segment-main[_ngcontent-c12] .segment-separator[_ngcontent-c12] {
            color: $secondary-font-color;
        }

        .segment[_ngcontent-c12] .segment-main[_ngcontent-c12] .segment-value[_ngcontent-c12] {
            color: $primary-font-color;
        }
    }
}

//////////////////////////////////////
// Advanced section: detailed views
//////////////////////////////////////
.advanced-section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	button {
		border: none;
		cursor: pointer;
		outline: none;
		background-color: $basic-background-color;
	}

	.dropdownButton {
		display: flex;
		flex-direction: column;
		align-items: center;
		// margin-bottom: 20px;
		width: auto;
		color: $secondary-button-color-light;

		span {
			margin-right: 25px;
		}

		i:before {
			font-size: 10px;
		}

		.wui-caret-down:before {
			color: $secondary-button-color-light;
		}

		.wui-caret-up:before {
			color: $advanced-button-underline-color;
		}

		.underline {
			margin: 2px auto;
			width: 150px;
			border-bottom: 1px solid $advanced-button-underline-color;

			&.opened {
				margin: 4px auto;
			}
		}
    }
}

//////////////////////////////////////
// No results found
//////////////////////////////////////
.no-results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 55%;
    margin-top: 15vh;
  
    .no-results-line {
      height: 45%;
      width: 15vw;
      border-bottom: 1px solid $secondary-font-color-light;
    }
  
    .no-results-text {
      color: $secondary-font-color-light;
    }
}

//////////////////////////////////////
// Lists 
//////////////////////////////////////

// Ordered lists
ol.list,
ul.unordered-list,
dl {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
}


ol .list li.line,
dl dt {
    display: flex;
    flex-direction: row;
    counter-increment: item;
    margin-bottom: 10px;
}

ol .list li.line button,
ul.unordered-list button,
dl dt button {
        margin: auto;
        margin-left: 15px;
        width: 35px;
        height: 35px;
        border: none;
        cursor: pointer;
        outline: none;
        background-color: $basic-background-color;
        box-shadow: 2px 1px 2px 0 $shadow-buttons;

        .wui-trash-alt:before {
            font-size: 20px;
        }
    }

ol .list li.line:before {
    margin-right: 10px;
    content: counter(item) '. ';
    background: $basic-background-color;
    color: $secondary-font-color-light;
    width: 1em;
    font-size: 40px;
    font-weight: bold;
    transform: translate(0, 9px);
}

//Unordered lists
ul.unordered-list .mat-input-element:disabled {
    color: $secondary-font-color;
}

//////////////////////////////////////
// Basic button
//////////////////////////////////////
.basic-button {
    border: none;
    cursor: pointer;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

//////////////////////////////////////
// Button for icons
//////////////////////////////////////
.button-shadow,
.icon-button-shadow {
    border: none;
	cursor: pointer;
    outline: none;
    background-color: $basic-background-color;
	box-shadow: 2px 1px 2px 0 $shadow-buttons;
}

.reload {
	position: absolute;
	right: 6.5vw;
}

//////////////////////////////////////
// Icons
//////////////////////////////////////
.close-icon {
	position: absolute;
	padding: 8px;
	border: none;
	cursor: pointer;
	outline: none;
	color: $primary-color-light;
	background-color: $basic-background-color;

	i:before {
		font-size: 10px;
		color: $primary-color-light;
	}
}

.icon-button-shadow .wui-copy-alt:before {
    font-size: 20px;
    color: $secondary-font-color;
}

.icon-button-shadow .wui-pen-alt:before {
    font-size: 20px;
    color: $secondary-font-color;
}

.icon-button-shadow .wui-eye:before {
    font-size: 20px;
    color: $secondary-font-color;
}

.icon-button-shadow .wui-trash-alt:before {
    font-size: 20px;
    color: $secondary-font-color;
}

.icon-button-shadow .wui-caret-right:before {
    font-size: 20px;
    color: $ready-color;
}

.icon-button-shadow .wui-shopping-cart:before {
    font-size: 20px;
	color: $shopping-cart-color;
}

.icon-button-shadow .wui-undo:before {
	font-size: 20px;
	color: $reload-color;
}

.icon-button-shadow .wui-stop-alt:before {
	font-size: 15px;
	color: $stop-color;
	border-radius: 20%;
	background-color: $stop-color;
}

.wui-plus:before {
	margin-right: 5px;
	font-size: 14px;
	color: $add-color;
}

.wui-caret-up:before {
	font-size: 14px;
	color: $arrow-color;
}

.wui-caret-down:before {
	font-size: 14px;
	color: $arrow-color;
}

//////////////////////////////////////
// Action buttons in detailed views
//////////////////////////////////////
.stop,
.launch,
.buy {
	display: flex;
	align-items: center;
	width: 30%;
	cursor: pointer;
	margin-bottom: 25px;

	span {
		margin-left: 10px;
		color: $secondary-font-color;
	}
}