<h1 class="sectionTitle" *ngIf="requestID">REQUESTS</h1>
<div class="header" *ngIf="requestID">
  <h2 class="subsectionTitle"> {{ requestID }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>
<!-- TODO include created by and createdAt at subheader if in response -->
<form class="detail">
  <mat-form-field class="serviceId" *ngIf="serviceID">
    <input matInput placeholder="Service id" value="{{ serviceID }}" disabled>
  </mat-form-field>
  <mat-form-field class="status" *ngIf="status">
    <input matInput placeholder="Status" value="{{ status }}" disabled>
  </mat-form-field>
  <mat-form-field class="type" *ngIf="type">
    <input matInput placeholder="Type" value="{{ type }}" disabled>
  </mat-form-field>
  <mat-form-field class="updatedAt" *ngIf="updatedAt">
    <input matInput placeholder="Updated at" value="Last update: {{ updatedAt }}" disabled>
  </mat-form-field>
</form>

<app-spinner *ngIf="loading"></app-spinner>