<h1>REQUESTS</h1>
<div class="header">
  <h2> {{ requestId }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>

<form class="detail">
  <mat-form-field class="type">
    <input matInput placeholder="Type" value="{{ type }}" disabled>
  </mat-form-field>
  <mat-form-field class="createdAt">
    <input matInput placeholder="Created at" value="{{ createdAt }}" disabled>
  </mat-form-field>
  <mat-form-field class="updatedAt">
    <input matInput placeholder="Updated at" value="{{ updatedAt }}" disabled>
  </mat-form-field>
  <mat-form-field class="serviceId">
    <input matInput placeholder="Service id" value="{{ serviceId }}" disabled>
  </mat-form-field>
  <mat-form-field class="status ">
    <input matInput placeholder="Status" value="{{ status }}" disabled>
  </mat-form-field>

</form>