@import '../../../constants.scss';
app-runtime-policies-create {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	position: absolute;
	align-items: center;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $basic-background-color;
	> * {
		flex: 0 0 auto;
	}

	.title1 {
		margin: 0;
		width: 40%;

		.mat-form-field-infix {
			border-top: 0;
		}

		&.mat-form-field-should-float {
			.mat-form-field-label-wrapper {
				display: none;
			}
		}
	}

	form {
		width: 55vw;
		margin-bottom: 5vh;

		// Checkbox styles
		.mat-checkbox {
			margin-bottom: 2vh;
		}

		.select {
			width: 25vw;
		}
	}

	.advanced-section {
		width: 55vw;

		.advanced-form .rules {
			display: flex;
			align-items: baseline;
	
			.monitoring-rules {
				display: flex;
				flex-direction: column;
				width: 49%;
				font-size: 18px;

				.title {
					color: $primary-font-color-light;
				}

				&.left {
					margin-right: 20px;
				}

				.content {
					width: 100%;
					min-height: 200px;
					color: $secondary-font-color;
					background-color: $panel-background-color;
					border-top: 1px solid $border-line-color;
					border-bottom: 1px solid $border-line-color;
					
					p {
						margin: 5px;
					}
				}
		
				.mat-form-field-underline {
					display: none;
				}

				.mat-form-field-infix {
					padding: 0;
					border: 0;
					
					.content {
						padding-top: 5px;
						padding-left: 5px;
						min-height: 195px;
					}
				}
			}
		}
	}

	.rules-section {
		width: 55vw;
		margin-bottom: 5vh;
	}
}
