@import '../../../constants.scss';
app-runtime-policies-create {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	position: absolute;
	align-items: center;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $basic-background-color;
	> * {
		flex: 0 0 auto;
	}

	.title1 {
		margin: 0;
		width: 40%;

		.mat-form-field-infix {
			border-top: 0;
		}

		&.mat-form-field-should-float {
			.mat-form-field-label-wrapper {
				display: none;
			}
		}
	}

	form {
		width: 55vw;
		margin-bottom: 5vh;

		// Checkbox styles
		.mat-checkbox {
			margin-bottom: 2vh;
		}

		.select {
			width: 25vw;
		}
	}

	.rules-section {
		width: 55vw;

		&.policy-rules-section {
			margin-bottom: 5vh;
		}
	}
}
