@import "../../../constants.scss";
app-vnv-network-services {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;

  table {
    width: 95%;
  }

  tr.mat-row {
    background-image: linear-gradient(
      to right,
      $basic-background-color 4%,
      $table-underline-color 4%,
      $table-underline-color 98%,
      $basic-background-color 98%,
      $basic-background-color 100%
    );
  }

  // Set width for columns
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    padding-bottom: 2px;
    width: 40px;
    font-size: 14px;
  }
}
