<h1 class="sectionTitle">VALIDATION AND VERIFICATION</h1>

<h2 class="subsectionTitle">Network services</h2>

<div class="tools">
  <app-search-bar class="search" (searchTextEvent)="searchFieldData($event)"></app-search-bar>
  <button class="reload" (click)="requestServices()">
    <i class="wui wui-undo"></i>
  </button>
</div>

<table mat-table [dataSource]="networkServices">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let element">
      <i [ngClass]="{  'wui-lock' : element.type === 'private' }" class="wui"></i>
    </td>
  </ng-container>

  <ng-container matColumnDef="vendor">
    <th mat-header-cell *matHeaderCellDef> Vendor </th>
    <td mat-cell *matCellDef="let element"> {{ element.vendor }} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>

  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> Version </th>
    <td mat-cell *matCellDef="let element"> {{ element.version }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>