<h3 class="title3 header-section-name">Generate NFV descriptors</h3>

<form [formGroup]="serviceForm" class="title-section">
	<div class="header-buttons">
		<!-- <button *ngIf="!disabledButton" class="edit-options save" (click)="createService()"
      i18n="@@saveButton">SAVE</button> -->
		<button class="edit-options cancel" (click)="close()" i18n="@@cancelButton">CANCEL</button>
	</div>
</form>

<!-- <p *ngIf="disabledButton">Fill all the fields correctly</p> -->

<form [formGroup]="serviceForm" class="template-form">
	<div class="form-header">
		<h2 class="title2">Description</h2>
		<span class="status" [ngClass]="isEmpty? 'status' : disabledButton? 'status-error' : 'status-no-error'"></span>
	</div>

	<mat-form-field>
		<label>
			<input matInput placeholder="Service Name" formControlName="name" required/>
		</label>
	</mat-form-field>

	<mat-form-field>
		<label>
			<input matInput placeholder="Author" formControlName="author"/>
		</label>
	</mat-form-field>

	<mat-form-field>
		<label>
			<input matInput placeholder="Vendor" formControlName="vendor"/>
		</label>
	</mat-form-field>

	<div class="description">
		<div class="description-title">
			<h4 class="title4">Description</h4>
		</div>
		<mat-form-field class="description">
			<label>
				<textarea class="content" matInput type="text" formControlName="description"></textarea>
			</label>
		</mat-form-field>
	</div>

	<div>
		Num. VNFs:
		<mat-form-field class="num-vnfs">
			<label>
				<input matInput formControlName="numberOfVNFs" required maxlength="2" />
			</label>
		</mat-form-field>
	</div>

<!--	TODO: add nicer button in same style as rest of GUI. Always show but disable until required fields are provided -->
	<div class="header-buttons">
		<button *ngIf="!disabledButton" class="edit-options save" (click)="createService()">Generate</button>
	</div>

</form>
