<h3 class="title3 header-section-name">Create new NFV project</h3>

<form [formGroup]="serviceForm" class="title-section">
	<div class="header-buttons">
		<button class="edit-options cancel" (click)="close()" i18n="@@cancelButton">CANCEL</button>
	</div>
</form>


<form [formGroup]="serviceForm" class="template-form">
	<div class="form-header">
		<h2 class="title2">Project Information for Descriptor Generation</h2>
<!--		<span class="status" [ngClass]="isEmpty? 'status' : disabledButton? 'status-error' : 'status-no-error'"></span>-->
	</div>

	<mat-form-field>
		<label>
			<input matInput placeholder="Service Name" formControlName="name" value="example-service"/>
		</label>
	</mat-form-field>

	<mat-form-field>
		<label>
			<input matInput placeholder="Author" formControlName="author" value="eu.tango"/>
		</label>
	</mat-form-field>

	<mat-form-field>
		<label>
			<input matInput placeholder="Vendor" formControlName="vendor" value="eu.tango"/>
		</label>
	</mat-form-field>

	<div class="description">
		<div class="description-title">
			<h4 class="title4">Description</h4>
		</div>
		<mat-form-field class="description">
			<label>
				<textarea class="content" matInput type="text" formControlName="description"
						  value="Example description"></textarea>
			</label>
		</mat-form-field>
	</div>

	<div>
		Num. VNFs:
		<mat-form-field class="num-vnfs">
			<label>
				<input matInput maxlength="2" formControlName="numberOfVNFs" value="1" required/>
			</label>
		</mat-form-field>
	</div>

	<div class="button-container">
		<button mat-button class="basic-button button-shadow next" (click)="createService()">Generate</button>
	</div>

</form>
