<button class="close-icon" (click)="close()"><i class="wui wui-times"></i></button>

<h2 *ngIf="data.section === 'tests'" mat-dialog-title>Execute {{ data['name'] }} test</h2>
<h2 *ngIf="data.section !== 'tests'" mat-dialog-title>Execute {{ data['name'] }} related tests</h2>

<mat-dialog-content>
	<form [formGroup]="testExecutionForm" class="test-execution-form">
		<p i18n="@@optionallyChoosePolicyOrHost">
			You can optionally choose the policy to be applied to your test, if any, or the host where it will be executed.
		</p>

		<app-select *ngIf="canShowPolicies()" class="select" placeholder="Policy" [list]="policies" (selectEvent)="receivePolicy($event)"
			i18n-placeholder="@@policyPlaceholder">
		</app-select>

		<mat-form-field>
			<input matInput type="text" placeholder="Execution host" formControlName="executionHost"
				i18n-placeholder="@@executionHostPlaceholder" />
		</mat-form-field>

		<div class="same-row">
			<mat-slide-toggle class="confirm-required-toggle" (change)="changeConfirmRequired($event.checked)"></mat-slide-toggle>
			<p i18n="@@confirmRequiredInTestExecution">
				Do you want to automatically execute the test plan?
				Otherwise, it will require your manual confirmation to be run.
			</p>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<div class="button-container">
		<button class="basic-button button-shadow cancel" mat-button mat-dialog-close i18n="@@cancelButton">CANCEL</button>
		<button class="basic-button button-shadow next" mat-button cdkFocusInitial (click)="createTestPlans()"
			i18n="@@createPlanButton">CREATE PLAN</button>
	</div>
</mat-dialog-actions>

<app-spinner *ngIf="loading"></app-spinner>