@import "../../../constants.scss";
app-execute-test-dialog {
	position: relative;
	display: flex;
	flex: 1 1;
	flex-direction: column;
	align-items: center;
	width: 38vw;
	height: auto;
	min-height: 45vh;
	background-color: $basic-background-color;
	color: $secondary-font-color-light;

	.close-icon {
		right: -5px;
		top: -10px;
	}

	.mat-dialog-title {
		color: $primary-font-color-light;
		font-size: 17px;
	}

	.mat-dialog-content {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		align-items: center;
		width: 80%;
		font-size: 22px;
	}

}