@import "../../constants.scss";
app-services {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  .tools {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reload {
    position: absolute;
    right: 120px;
    .wui-undo::before {
      font-size: 20px;
      color: $reload-color;
    }
  }
  button {
    padding: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: $basic-background-color;
  }
}
