@import "../../../constants.scss";
app-vnv-packages {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;

  table {
    width: 95%;
  }

  tr.mat-row {
    background-image: linear-gradient(
      to right,
      $basic-background-color 0%,
      $table-underline-color 0%,
      $table-underline-color 100%,
      $basic-background-color 100%,
      $basic-background-color 100%
    );
  }
}
