@import "../../../constants.scss";
app-vnv-packages {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  .tools {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  table {
    width: 95%;
  }
  td.mat-cell {
    cursor: auto;
  }
  tr.mat-row {
    border-bottom: none;
    background-image: linear-gradient(
      to right,
      $basic-background-color 4%,
      $underline-color 4%,
      $underline-color 98%,
      $basic-background-color 98%,
      $basic-background-color 100%
    );
    align-items: baseline;
    min-height: 29px;
  }
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    padding-bottom: 2px;
    width: 40px;
    font-size: 14px;
  }
}
