<h3 class="title3 header-section-name" i18n="@@sp">Service platform</h3>

<h1 class="title1 title-section-name" i18n="@@slaAgreements">SLA Agreements</h1>

<div class="tools">
	<app-search-bar class="search" (searchTextEvent)="searchFieldData($event)"></app-search-bar>
	<button class="icon-button-shadow reload" (click)="requestAgreements()" matTooltip="Reload data" i18n-matTooltip="@@reloadData"><i
			class="wui wui-undo"></i></button>
</div>

<table mat-table [dataSource]="agreements">
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef i18n="@@name">Name</th>
		<td mat-cell *matCellDef="let element">{{ element.name }}</td>
	</ng-container>
	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef i18n="@@status">Status</th>
		<td mat-cell *matCellDef="let element">{{ utilsService.capitalizeFirstLetter(element.status) }}</td>
	</ng-container>
	<ng-container matColumnDef="ns">
		<th mat-header-cell *matHeaderCellDef i18n="@@ns">Network Service</th>
		<td mat-cell *matCellDef="let element">{{ element.nsName }}</td>
	</ng-container>
	<ng-container matColumnDef="customer">
		<th mat-header-cell *matHeaderCellDef i18n="@@customer">Customer</th>
		<td mat-cell *matCellDef="let element">{{ element.customer }}</td>
	</ng-container>
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef i18n="@@date">Date</th>
		<td mat-cell *matCellDef="let element">{{ utilsService.formatDateString(element.date) }}</td>
	</ng-container>
	<ng-container matColumnDef="license">
		<th mat-header-cell *matHeaderCellDef i18n="@@license">License</th>
		<td mat-cell *matCellDef="let element">{{ utilsService.capitalizeFirstLetter(element.license) || 'None' }}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openAgreement(row)"></tr>
</table>

<div *ngIf="(!agreements || !agreements.length) && !loading" class="no-results-container">
	<div class="no-results-line"></div>
	<span class="no-results-text" i18n="@@noResultsToDisplay">No results to display</span>
	<div class="no-results-line"></div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>