@import "../../constants.scss";
app-signup {
  .container {
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 635px;
    width: calc(100% - 2em);
    max-height: 550px;
    padding: 2em;
    border-radius: 10px;
    background-color: $pannel-background-color;
    flex-direction: column;
    .header {
      height: 5em;
      background: url("../../assets/images/sonata_powered_by_5gtango_logo.svg")
        no-repeat center $pannel-background-color;
      background-size: 11em;
      background-repeat: no-repeat;
    }
    .form {
      flex: 1 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .mat-form-field {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 60%;
        color: $secondary-font-color-dark;
        text-align: center;
      }
      .mat-focused {
        color: $primary-font-color;
      }
      .mat-form-field-infix {
        max-height: 15px;
      }
      .mat-form-field-label:not(.mat-form-field-empty) {
        text-align: start;
      }
      .mat-focused .mat-form-field-label {
        color: $secondary-font-color;
        text-align: left;
      }
      .mat-form-field-ripple {
        background-color: $form-ripple-color;
      }
      button {
        margin-top: 15px;
        width: 60%;
        padding: 10px;
        background-color: $primary-button-color;
        color: $button-font-color;
        font-size: 1.2em;
        border-radius: 10px;
      }
      button:disabled {
        background-color: $button-disabled-color;
      }
      .error {
        font-size: 0.9em;
        margin-top: -15px;
        margin-bottom: -3px;
        color: $font-color-alert;
        text-align: right;
        width: 80%;
      }
      .information {
        font-size: 1em;
        color: $font-color-alert;
        margin-top: 0px;
        margin-bottom: 3px;
      }
      .note {
        font-size: 0.8em;
        color: $secondary-font-color;
        margin-top: 0px;
        margin-bottom: 4px;
      }
      // Input field is invalid (focus and change field without introducing text)
      .mat-form-field-invalid .mat-form-field-label {
        color: $font-color-alert;
      }
      .mat-form-field-invalid
        .mat-form-field-label
        .mat-form-field-required-marker,
      .mat-form-field-invalid .mat-form-field-label.mat-accent {
        color: $font-color-alert;
      }
      .mat-form-field-invalid:not(.mat-focused)
        .mat-form-field-underline
        .mat-form-field-ripple,
      .mat-form-field-invalid .mat-form-field-ripple {
        background-color: $form-ripple-alert-color;
      }
      // Input field contains an error (errorString exists)
      .userErrorString,
      .passwordErrorString {
        color: $font-color-alert;
        .mat-form-field-ripple {
          background-color: $form-ripple-alert-color;
        }
        .mat-form-field-underline {
          background-color: $form-ripple-alert-color;
        }
      }
      // Mat-select CSS for the items
      .mat-focused .mat-select-value-text,
      .mat-focused .mat-select-arrow {
        color: $primary-font-color;
      }
      .mat-select-value {
        color: $secondary-font-color-dark;
      }
      a {
        color: $primary-font-color;
        font-size: 1.2em;
        &.login {
          padding: 15px;
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .help {
        margin-bottom: auto;
        margin-left: 130px;
        color: $primary-font-color;
        font-size: 1.2em;
        margin-right: 6px;
      }
      .redLine {
        margin: 0 auto;
        width: 400px;
        border-bottom: 3px solid $border-line-color;
        margin-bottom: -2em;
      }
    }
  }
}
