<div class="container">
  <div id="header"></div>
  <form (ngSubmit)="signup(signupForm)" #signupForm="ngForm">
    <p id="information">Fill the gaps to create a new account</p>
    <p id="note">(*) fields are compulsory</p>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" name="username" ngModel required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" ngModel required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" name="confirmPassword" ngModel required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" name="email" ngModel required>
    </mat-form-field>
    <p id="error" *ngIf="errorString" [innerText]="errorString"></p>
    <button name="signup" [disabled]="!signupForm.valid">REGISTER</button>
    <a routerLink="/login">I have an account</a>
    <a id="help" href="https://github.com/sonata-nfv/tng-portal">Help?</a>
  </form>
</div>