app-signup {
  display: flex;
  position: absolute;
  flex-direction: column;
  max-width: 650px;
  width: calc(100% - 2em);
  max-height: 500px;
  padding: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(226, 222, 221);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  #header {
    height: 6em;
    background: url("../../assets/images/tango.svg") no-repeat center
      rgb(226, 222, 221);
    background-size: 16em;
  }
  .mat-form-field {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    padding: 1px;
    color: rgb(121, 20, 34);
    text-align: center;
  }
  .mat-form-field-infix {
    max-height: 15px;
  }
  .mat-form-field-label:not(.mat-form-field-empty) {
    text-align: start;
  }
  .mat-focused .mat-form-field-label {
    color: rgb(138, 138, 138);
    text-align: left;
  }
  .mat-form-field-ripple {
    background-color: rgb(121, 20, 34);
  }
  button {
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    background-color: rgb(121, 20, 34);
    color: rgb(254, 251, 244);
    font-size: 1.1em;
    border-radius: 10px;
  }
  button:disabled {
    background-color: rgb(65, 65, 65);
  }
  a {
    display: flex;
    flex-direction: column;
    color: rgb(121, 20, 34);
    font-size: 1.1em;
    padding: 7px;
    &#help {
      width: 45%;
    }
  }
  #error {
    font-size: 0.9em;
    margin-top: -20px;
    color: rgb(201, 0, 16);
    text-align: right;
    width: 80%;
  }
  #information {
    font-size: 1em;
    color: rgb(201, 0, 16);
    margin-top: 0px;
    margin-bottom: 5px;
  }
  #note {
    font-size: 0.8em;
    color: rgb(138, 138, 138);
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
