@import "../../../constants.scss";
app-login {
  .container {
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 635px;
    width: calc(100% - 2em);
    max-height: 550px;
    padding: 2em;
    border-radius: 10px;
    background-color: $pannel-background-color;
    flex-direction: column;
    .header {
      height: 8em;
      background: url("../../../assets/images/sonata_powered_by_5gtango_logo.svg")
        no-repeat center $pannel-background-color;
      background-size: 18em;
      background-repeat: no-repeat;
    }
    form {
      flex: 1 0;
      align-items: center;
      justify-content: center;
      .mat-form-field {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 60%;
        padding: 10px;
        color: $form-focus;
        text-align: center;
      }
      .mat-form-field-appearance-legacy .mat-form-field-label {
        text-align: center;
      }
      .mat-form-field.mat-focused .mat-form-field-label,
      .mat-form-field-label:not(.mat-form-field-empty) {
        text-align: start;
      }
      a {
        color: $primary-font-color;
        font-size: 18px;
        &.newAccount {
          padding: 15px;
        }
      }
      button {
        margin-top: 32px;
        width: 60%;
        padding: 10px;
        background-color: $primary-button-color;
        color: $button-basic-font-color;
        font-size: 18px;
        border-radius: 10px;
      }
      button:disabled {
        background-color: $secondary-button-color;
      }
      .error {
        font-size: 13px;
        margin-top: -15px;
        color: $primary-font-color-light;
        text-align: right;
        width: 60%;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .options {
        margin-bottom: auto;
        margin-left: 130px;
        a {
          color: $secondary-button-color-light;
          font-size: 15px;
          &.help {
            margin-right: 6px;
          }
          &.forgotPassword {
            margin-left: 6px;
          }
        }
      }
      .redLine {
        margin: 0 auto;
        width: 400px;
        border-bottom: 3px solid $border-line-color;
        margin-bottom: -2em;
      }
    }
  }
}
