<div class="container">
	<div class="header"></div>
	<form (ngSubmit)="login(loginForm)" [formGroup]="loginForm" class="form">
		<mat-form-field [ngClass]="{'errorFormField':errorFormField}">
			<input matInput type="text" placeholder="Username/email" formControlName="username" required>
		</mat-form-field>
		<mat-form-field [ngClass]="{'errorFormField':errorFormField}">
			<input matInput type="password" placeholder="Password" formControlName="password" required>
		</mat-form-field>
		<p class="error" *ngIf="errorFormField" [innerText]="errorFormField"></p>
		<button name="login" [disabled]="!loginForm.valid">LOG IN</button>
		<a class="newAccount" routerLink="/signup">Create a new account</a>
	</form>
	<div class="bottom">
		<div class="options">
			<a class="help" href="https://github.com/sonata-nfv/tng-portal">Help?</a>
			<a class="forgotPassword" href="https://github.com/sonata-nfv/tng-portal">Forgot your password?</a>
		</div>
		<div class="redLine"></div>
	</div>
</div>