<h1 class="sectionTitle" *ngIf="detail['uuid']">NETWORK SERVICE INSTANCES</h1>

<div class="header" *ngIf="detail['uuid']">
  <h2 class="subsectionTitle"> {{ detail.name }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>

<div class="bubbleDiv" *ngIf="detail['version']">
  <span class="text">Version</span>
  <div class="number">
    <span>{{ detail.version }}</span>
  </div>
</div>

<form class="detail">
  <mat-form-field class="instanceID" *ngIf="detail['uuid']">
    <input matInput placeholder="Instance ID" value="{{ detail['uuid'] }}" disabled>
  </mat-form-field>

  <mat-form-field class="serviceID" *ngIf="detail['serviceID']">
    <input matInput placeholder="Service ID" value="{{ detail['serviceID'] }}" disabled>
  </mat-form-field>

  <mat-form-field class="status" *ngIf="detail['status']">
    <input matInput placeholder="Status" value="{{ detail['status'] }}" disabled>
  </mat-form-field>

  <div class="stop" *ngIf="detail['uuid'] && detail['status'].toUpperCase() != 'TERMINATED'" (click)="terminate()">
    <button class="actions" mat-button matTooltip="Terminate">
      <i class="wui wui-stop-alt"></i>
    </button>
    <span>Terminate instance</span>
  </div>

  <mat-form-field class="updatedAt" *ngIf="detail['updatedAt']">
    <input matInput placeholder="Updated at" value="Last update: {{ detail['updatedAt'] }}" disabled>
  </mat-form-field>

  <!-- VNFs table section -->
  <div class="vnf" *ngIf="detail['uuid']">
    <span class="sectionTitle">VNFs</span>
    <span class="message" *ngIf="!dataSource.data || dataSource.data.length < 1">There are no virtual network functions
      to display</span>

    <table mat-table class="vnfs" *ngIf="dataSource.data && dataSource.data.length > 0" [dataSource]="dataSource">
      <ng-container matColumnDef="uuid">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.uuid }} </td>
      </ng-container>

      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let element"> {{ element.version }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Updated At </th>
        <td mat-cell *matCellDef="let element"> {{ element.updatedAt }} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let detail">
          <app-function-records-detail [vdus]="vnfDetail['vdus']"></app-function-records-detail>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="vnfDetail == row"
        [class.collapsed]="vnfDetail != row" (click)="vnfDetail = vnfDetail == row ? {} : row">
      </tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == vnfDetail ? 'expanded' : 'collapsed'"
        class="detail-row" style="overflow: hidden">
      </tr>

    </table>
  </div>

</form>

<app-spinner *ngIf="loading"></app-spinner>