@import "../../../constants.scss";
app-network-service-instances-detail {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }

  .detail {
    width: 70%;
    align-items: flex-start;

    .mat-form-field {
      width: 65%;
    }

    .vnf {
      display: flex;
      flex-direction: column;
      width: 100%;

      span {
        min-height: 25px;
      }
    }

    .title3 {
      font-size: 24px;
      color: $primary-font-color-light;
    }

    .message {
      margin-top: 15px;
      margin-bottom: 30px;
      color: $secondary-font-color-light;
    }

    .mat-table {
      width: 100%;
      margin-bottom: 80px;
      text-align: center;
      overflow-x: hidden;
      // overflow-y: hidden;

      .mat-header-row {
        // min-width: 150px;
        border-bottom: none;
      }

      &.vnfs {
        .mat-cell:nth-child(2),
        .mat-header-cell:nth-child(2) {
          width: 10%;
        }

        .mat-cell:nth-child(3),
        .mat-header-cell:nth-child(3) {
          width: 20%;
        }

        .mat-cell:nth-child(4),
        .mat-header-cell:nth-child(4) {
          width: 30%;
        }
      }
    }

    // Table expansion
    .element-row,
    .mat-row {
      position: relative;
      border-bottom: none;
      background-image: linear-gradient(
        to right,
        $basic-background-color 0%,
        $table-underline-color 0%,
        $table-underline-color 98%,
        $basic-background-color 98%,
        $basic-background-color 100%
      );
      background-image: 3px;
    }

    .element-row:not(.expanded) {
      cursor: pointer;
      .mat-cell {
        color: $cell-color;
      }
    }

    .element-row.expanded {
      border-bottom-color: transparent;
      .mat-cell {
        color: $primary-font-color;
      }
    }

    .detail-row {
      overflow: hidden;
    }
  }
}
