@import "../../constants.scss";
app-function-records-detail {
  display: flex;
  flex-direction: column;
  background-color: $pannel-background-color;
  border-bottom: 1px solid $primary-color-light;

  .VNFDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;

    .tableDetailTitle {
      font-size: 18px;
      color: $primary-font-color-light;
    }

    .message {
      margin-top: 15px;
      margin-bottom: 30px;
      color: $secondary-font-color;
    }

    .mat-table.innerTable {
      width: 100%;
      margin-bottom: 30px;
      background-color: $pannel-background-color;

      td.mat-cell {
        cursor: auto;
      }
      &.vdus {
        .mat-cell {
          vertical-align: inherit;
        }
      }
      &.virtualLinks {
        .mat-cell:nth-child(1),
        .mat-header-cell:nth-child(1) {
          width: 15%;
        }
      }
      &.vdus {
        .mat-cell:nth-child(1),
        .mat-header-cell:nth-child(1) {
          width: 60%;
        }
        .mat-cell:nth-child(3),
        .mat-header-cell:nth-child(3) {
          width: 40%;
        }
        .mat-cell:nth-child(5),
        .mat-header-cell:nth-child(5) {
          width: 20%;
        }
      }
    }

    .ineerTableRow.mat-row {
      width: 100%;
      // min-width: 150px;
      border-bottom: none;
      background-image: linear-gradient(
        to right,
        $pannel-background-color 0%,
        $underline-color 0%,
        $underline-color 100%,
        $pannel-background-color 100%,
        $pannel-background-color 100%
      );
    }
  }
}
