<h1>SERVICE MANAGEMENT</h1>
<h2>Available network services</h2>

<div class="tools">
  <app-search-bar class="search" (searchTextEvent)="receiveMessage($event)"></app-search-bar>
  <button class="reload" (click)="requestServices()">
    <i class="wui wui-undo"></i>
  </button>
</div>

<mat-table [dataSource]="networkServices | filter: searchText">
    <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <i [ngClass]="{ active : element.status === 'active' }" class="wui wui-circle-alt"></i>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Service Name">
        <mat-header-cell *matHeaderCellDef> Service Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.serviceName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Vendor">
        <mat-header-cell *matHeaderCellDef> Vendor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.vendor }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Version">
        <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.version }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Service ID">
        <mat-header-cell *matHeaderCellDef> Service ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.serviceId }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.type }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="instanciate">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="instanciate(element)" (click)="$event.stopPropagation()">
            <button mat-button>
                <i class="wui wui-caret-right"></i>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openNetworkService(row)"></mat-row>
</mat-table>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>
