app-available-network-services {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: rgb(254, 254, 254);
  h1 {
    margin-top: 15px;
    width: 95%;
    color: rgb(201, 0, 16);
    font-size: 14px;
  }
  h1:after {
    background: none repeat scroll 0 0 rgb(201, 0, 16);
    content: "";
    display: block;
    height: 1px;
    width: 260px;
  }
  h2 {
    width: 95%;
    margin: 0px 15px 25px 15px;
    color: rgb(138, 138, 138);
    font-size: 32px;
  }
  mat-table {
    margin-bottom: 20px;
    width: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    border-bottom: none;
  }
  mat-table::-webkit-scrollbar{
    width: 10px;
  }
  mat-table::-webkit-scrollbar-track {
        background: rgb(232, 198, 201);
        border: 4px solid transparent;
        background-clip: content-box;
  }
  mat-table::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }
  .mat-sort-header-button {
    color: rgb(201, 0, 16);
    margin: 0 auto;
  }

  .mat-header-cell{
    color: rgb(201, 0, 16);
  }
  .mat-header-row {
    min-width: 150px;
    border-bottom: none;
    align-items: center;
  }
  .mat-row {
    min-width: 150px;
  //  border-bottom-color: rgb(232, 198, 201);
    border-bottom: none;
    background-image: linear-gradient(to right, #FFF 7%, rgb(232, 198, 201) 7%, rgb(232, 198, 201) 94%, #FFF 94%, #FFF 100%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    align-items: baseline;
    min-height: 29px;

  }

  .mat-row-underline{}
  i {
    &.wui-circle-alt {
      border-radius: 50%;
      background-color: rgb(195, 195, 195);
    }
    &.active {
      border-radius: 50%;
      background-color: rgb(123, 214, 123);
    }
  }
  button {
    padding: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgb(254, 254, 254);
    .wui-caret-right:before {
      color: rgb(116, 206, 62);
    }
  }
  // Set width for columns
  .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1) {
    flex: 0 0 40px;
  }
  .mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2) {
    flex: 0 0 21%;
  }
  .mat-cell:nth-child(4),
  .mat-header-cell:nth-child(4) {
    flex: 0 0 10%;
  }
  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    flex: 0 0 10%;
  }
  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7) {
    flex: 0 0 30px;
  }
}
