<h3 class="title3 header-section-name">SLICE TEMPLATES</h3>

<form [formGroup]="templateForm" class="title-section">
	<mat-form-field class="title1"> <input matInput type="text" placeholder="Template Name" formControlName="name" required /> </mat-form-field>

	<div class="header-buttons">
		<button [ngClass]="{ 'disabled-button': disabledButton }" class="edit-options save" [disabled]="disabledButton" (click)="createSliceTemplate()">
			SAVE
		</button>
		<button class="edit-options cancel" (click)="close()">CANCEL</button>
	</div>
</form>

<div class="subheader"><p class="subtitle author">Created by you</p></div>

<form [formGroup]="templateForm">
	<mat-form-field class="inputBelow"> <input matInput placeholder="Author" formControlName="author" required /> </mat-form-field>

	<mat-form-field class="inputBelow"> <input matInput placeholder="Vendor" formControlName="vendor" required /> </mat-form-field>

	<mat-form-field class="inputBelow"> <input matInput placeholder="Version" formControlName="version" required /> </mat-form-field>
</form>

<h2 class="title2">Network Services</h2>

<dl *ngIf="storedNS">
	<dt *ngFor="let item of storedNS; let i = index">
		<app-select *ngIf="storedNS.length > 0" placeholder="Network Service" [list]="[item.name]" [value]="item.name" [disabled]="true"></app-select>

		<app-select
			*ngIf="storedNS.length > 0 && item.sla != null"
			class="slaList "
			placeholder="SLA Template"
			[list]="[item.sla]"
			[value]="item.sla"
			[disabled]="true"
		></app-select>

		<button class="actions " mat-button (click)="eraseEntry(i)"><i class="wui wui-trash-alt "></i></button>
	</dt>

	<dt>
		<app-select *ngIf="nsList.length > 0" placeholder="Select Network Service" [reset]="reset" [list]="nsList" (selectEvent)="receiveNS($event)">
		</app-select>

		<app-select
			*ngIf="nsObj && nsObj != null"
			class="slaList"
			placeholder="Select SLA Template"
			[reset]="reset"
			[list]="slaList"
			(selectEvent)="receiveSLA($event)"
		></app-select>
	</dt>
</dl>

<app-spinner *ngIf="loading"></app-spinner>
