@import "../../../constants.scss";
app-vim {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }

  .title1 {
    margin: 0;
    width: 40%;

    .mat-form-field-infix {
      border-top: 0;
    }

    &.mat-form-field-should-float {
      .mat-form-field-label-wrapper {
        display: none;
      }
    }
  }

  .vimForm {
    width: 50vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

    app-select,
    .mat-form-field {
        width: 25vw;
        margin-right: 1vw;
    }

    .error-message.input-error {
        width: 20vw;
        margin-top: -17px;
    }

    .error-message.input-error.second-column {
        width: 42vw;
        margin-left: 20px;
        margin-top: -29px;
    }

    .sameRow p {
        margin-right: 20px;
        font-size: 25px;
        color: $secondary-font-color;
    }
    
    .description {
        width: 100%;

        .content {
            min-height: 30vh;
            max-height: 40vh;
        }
    }
  }
}