<h3 class="title3 header-section-name" i18n="@@settings">Settings</h3>

<div class="title-section">
    <h1 class="title1 title-section-name" i18n="@@vim">VIM</h1>
    <button class="add" (click)="createNew()">
        <i class="wui wui-plus"></i>
        <span i18n="@@createNewVimButton">Create New VIM</span>
    </button>
</div>

<div class="tools">
    <app-search-bar class="search" (searchTextEvent)="searchFieldData($event)"></app-search-bar>
    <button class="reload" (click)="requestVims()" matTooltip="Reload data" i18n-matTooltip="@@reloadData">
        <i class="wui wui-undo"></i>
    </button>
</div>

<table mat-table [dataSource]="vims">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef i18n="@@name">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef i18n="@@type">Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef i18n="@@city">City</th>
        <td mat-cell *matCellDef="let element">{{ element.city || "Not provided" }}</td>
    </ng-container>
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef i18n="@@country">Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country || "Not provided" }}</td>
    </ng-container>
    <ng-container matColumnDef="endpoint">
        <th mat-header-cell *matHeaderCellDef i18n="@@endpoint">Endpoint</th>
        <td mat-cell *matCellDef="let element">{{ element.endpoint || "Not provided" }}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="deleteVim(element.uuid)" (click)="$event.stopPropagation()">
            <button class="actions" *ngIf="element.type.trim().toLowerCase() !== 'mock'" mat-button matTooltip="Delete"
                i18n-matTooltip="@@delete">
                <i class="wui wui-trash-alt"></i>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openVim(row.uuid)"></tr>
</table>

<div *ngIf="!vims && !loading" class="no-results-container">
    <div class="no-results-line"></div>
    <span class="no-results-text">No results to display</span>
    <div class="no-results-line"></div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>