<div class="header-section" *ngIf="canShowForm()">
    <h3 class="title3 header-section-name" i18n="@@vim">VIM</h3>
    <div *ngIf="edition && detail['type']?.trim().toLowerCase() !== 'mock'" class="button-underline">
        <button class="delete-button" (click)="deleteVim()" i18n="@@deleteVim">Delete VIM</button>
        <div class="underline"></div>
    </div>
</div>

<form [formGroup]="vimForm" class="title-section" *ngIf="canShowForm()">
    <mat-form-field class="title1">
        <input matInput type="text" placeholder="VIM Name" formControlName="name" value="{{ detail ? detail['name'] : '' }}" required
            i18n-placeholder="@@vimName" />
    </mat-form-field>

    <div class="header-buttons">
        <!-- TODO change function depending on the edition variable -->
        <!-- TODO show / hide button depending on the changes in the form when editing -->
        <button [ngClass]="{ 'disabled-button': disabledButton }" class="edit-options save" [disabled]="disabledButton"
            (click)="createVim()" i18n="@@saveButton">
            SAVE
        </button>

        <button *ngIf="!edition" class="edit-options cancel" (click)="close()" i18n="@@cancelButton">CANCEL</button>
        <button *ngIf="edition" class="close" (click)="close()" i18n="@@closeButton">CLOSE</button>
    </div>
</form>

<form class="vimForm" *ngIf="canShowForm()">
    <app-select placeholder="Select a VIM type" [list]="vimTypes" (selectEvent)="receiveType($event)" [disabled]="detail ? true : false"
        value="{{ detail ? detail['type'] : '' }}" i18n-placeholder="@@selectVimTypePlaceholder"></app-select>
</form>

<form [formGroup]="vimForm" class="vimForm" *ngIf="vimType && canShowForm()">
    <mat-form-field>
        <input matInput type="text" placeholder="Endpoint" formControlName="endpoint" value="{{ detail ? detail['endpoint'] : '' }}"
            required i18n-placeholder="@@endpoint" />
        <button *ngIf="edition && detail['endpoint']" mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix
            (click)="copyToClipboard(detail['endpoint'])" i18n-matTooltip="@@copy">
            <i class="wui wui-copy-alt"></i>
        </button>
    </mat-form-field>
    <p *ngIf="vimForm.get('endpoint').errors?.pattern" class="error-message input-error">*This is not a valid IP</p>

    <div class="sameRow">
        <mat-form-field>
            <input matInput type="text" placeholder="City" formControlName="city" value="{{ detail ? detail['city'] : '' }}"
                i18n-placeholder="@@city" />
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Country" formControlName="country" value="{{ detail ? detail['country'] : '' }}"
                i18n-placeholder="@@country" />
        </mat-form-field>
    </div>
</form>

<form [formGroup]="openstackForm" class="vimForm" *ngIf="vimType=='Openstack' && canShowForm()">
    <div class="sameRow">
        <mat-form-field>
            <input matInput type="text" placeholder="Username" formControlName="username" value="{{ detail ? detail['username'] : '' }}"
                required i18n-placeholder="@@username" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Password" formControlName="password" value="{{ detail ? detail['password'] : '' }}"
                required i18n-placeholder="@@password" />
        </mat-form-field>
    </div>

    <div class="sameRow">
        <mat-form-field>
            <input matInput type="text" placeholder="Tenant" formControlName="tenant" value="{{ detail ? detail['tenant'] : '' }}" required
                i18n-placeholder="@@tenant" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Domain" formControlName="domain" value="{{ detail ? detail['domain'] : '' }}"
                i18n-placeholder="@@domain" />
        </mat-form-field>
    </div>

    <mat-form-field>
        <input matInput type="text" placeholder="Network endpoint" formControlName="networkEndpoint"
            value="{{ detail ? detail['network_endpoint'] : '' }}" i18n-placeholder="@@networkEndpoint" />
        <button *ngIf="edition && detail['network_endpoint']" mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix
            (click)="copyToClipboard(detail['network_endpoint'])" i18n-matTooltip="@@copy">
            <i class="wui wui-copy-alt"></i>
        </button>
    </mat-form-field>
    <p *ngIf="openstackForm.get('networkEndpoint').errors?.pattern" class="error-message input-error">*This is not a valid IP</p>

    <div class="sameRow">
        <mat-form-field>
            <input matInput type="text" placeholder="Private network" formControlName="privateNetwork"
                value="{{ detail ? detail['private_network_prefix'] : '' }}" required i18n-placeholder="@@privateNetwork" />
            <button *ngIf="edition && detail['private_network_prefix']" mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix
                (click)="copyToClipboard(detail['private_network_prefix'])" i18n-matTooltip="@@copy">
                <i class="wui wui-copy-alt"></i>
            </button>
        </mat-form-field>
        <p> / </p>
        <mat-form-field>
            <input matInput type="text" placeholder="Private network mask" formControlName="privateNetworkMask"
                value="{{ detail ? detail['private_network_length'] : '' }}" required i18n-placeholder="@@privateNetworkMask" />
        </mat-form-field>
    </div>
    <p *ngIf="openstackForm.get('privateNetwork').errors?.pattern" class="error-message input-error">*This is not a valid IP</p>
    <p *ngIf="openstackForm.get('privateNetworkMask').errors?.pattern" class="error-message input-error second-column">
        *This is not a valid IP mask (i.e. /24)</p>

    <div class="sameRow">
        <mat-form-field>
            <input matInput type="text" placeholder="External network" formControlName="externalNetworkID"
                value="{{ detail ? detail['external_network_id'] : '' }}" required i18n-placeholder="@@externalNetwork" />
            <button *ngIf="edition && detail['external_network_id']" mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix
                (click)="copyToClipboard(detail['external_network_id'])" i18n-matTooltip="@@copy">
                <i class="wui wui-copy-alt"></i>
            </button>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="External router" formControlName="externalRouterID"
                value="{{ detail ? detail['external_router_id'] : '' }}" required i18n-placeholder="@@externalRouter" />
            <button *ngIf="edition && detail['external_router_id']" mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix
                (click)="copyToClipboard(detail['external_router_id'])" i18n-matTooltip="@@copy">
                <i class="wui wui-copy-alt"></i>
            </button>
        </mat-form-field>

        <!-- <app-select placeholder="Select an external network" [list]="externalNetworks" (selectEvent)="receiveExternalNetwork($event)"
            i18n-placeholder="@@selectExternalNetwork"></app-select>

        <app-select placeholder="Select an external router" [list]="externalRouters" (selectEvent)="receiveExternalRouter($event)"
            i18n-placeholder="@@selectExternalRouter"></app-select> -->
    </div>
</form>

<form [formGroup]="kubernetesForm" class="vimForm" *ngIf="vimType==='Kubernetes' && canShowForm()">
    <div class="description">
        <div class="description-title">
            <h4 class="title4" i18n="@@configurationRequired">Configuration *</h4>
            <button *ngIf="edition && !editingConfig" type="button" mat-button matTooltip="Edit" class="icon-button-shadow"
                (click)="editingConfig = true" i18n-matTooltip="@@edit">
                <i class="wui wui-pen-alt"></i>
            </button>
            <button *ngIf="edition && editingConfig" type="button" mat-button matTooltip="View" class="icon-button-shadow"
                (click)="editingConfig = false" i18n-matTooltip="@@view">
                <i class="wui wui-eye"></i>
            </button>
            <button *ngIf="edition && detail['config']" mat-button matTooltip="Copy" class="icon-button-shadow" matSuffix
                (click)="copyJSONToClipboard(detail['config'])" i18n-matTooltip="@@copy">
                <i class="wui wui-copy-alt"></i>
            </button>
        </div>

        <mat-form-field *ngIf="editingConfig || !edition" class="description">
            <textarea class="content" matInput type="text" formControlName="config"
                value="{{ detail ? getJSONStringify(detail['config']) : '' }}" ngDefaultControl></textarea>
            <p *ngIf="kubernetesForm.valid && !checkJSONValidity()" class="error-message">*This is not a valid JSON</p>
        </mat-form-field>

        <!-- TODO view updated config if changes -->
        <span *ngIf="edition && !editingConfig" class="content">
            <ngx-json-viewer [json]="detail['config']"></ngx-json-viewer>
        </span>
    </div>
</form>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>