<div *ngIf="environment === 'SP'" class="all-content">
	<div class="same-column">
		<div class="same-column dashboard-platform">
			<h3 class="title3" i18n="@@platformMetrics">Platform metrics</h3>

			<div class="same-row">
				<div class="same-column">
					<iframe class="platform-disk-usage" frameborder="0" [src]="getSPGraphUrl(8)"></iframe>
					<div class="same-row">
						<iframe class="platform-cpu-usage" frameborder="0" [src]="getSPGraphUrl(2)"></iframe>
						<iframe class="platform-memory-usage" frameborder="0" [src]="getSPGraphUrl(3)"></iframe>
					</div>
				</div>

				<div class="same-column platform-gauge-graphs">
					<iframe class="medium-gauge-graph cpu-usage" frameborder="0" [src]="getSPGraphUrl(17)"></iframe>
					<iframe class="medium-gauge-graph memory-usage" frameborder="0" [src]="getSPGraphUrl(20)"></iframe>
				</div>
			</div>
		</div>

		<div class="same-row">
			<div class="same-column descriptors-information">
				<h3 class="title3" i18n="@@storedDescriptors">Stored descriptors</h3>

				<div class="same-column">
					<div class="same-row descriptors-row">
						<div class="text-box small slices">
							<span class="title" i18n="@@slices">Slices</span>
							<span class="number">{{ dashboardData['nstd'] }}</span>
						</div>

						<div class="text-box small ns">
							<span class="title" i18n="@@ns">Network services</span>
							<span class="number">{{ dashboardData['nsd'] }}</span>
						</div>

						<div class="text-box small vnf">
							<span class="title" i18n="@@functions">Functions</span>
							<span class="number">{{ dashboardData['vnfd'] }}</span>
						</div>
					</div>

					<div class="same-row descriptors-row centered-row">
						<div class="text-box small rp">
							<span class="title" i18n="@@runtimePolicies">Runtime policies</span>
							<span class="number">{{ dashboardData['rpd'] }}</span>
						</div>

						<div class="text-box small slad">
							<span class="title" i18n="@@slas">SLAs</span>
							<span class="number">{{ dashboardData['slad'] }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="same-column running-instances">
				<h3 class="title3" i18n="@@runningInstances">Running instances</h3>

				<div class="same-row">
					<div class="text-box small running-slices">
						<span class="title" i18n="@@slices">Slices</span>
						<span class="number">{{ dashboardData['runningSlices'] }}</span>
					</div>

					<div class="text-box small running-ns">
						<span class="title" i18n="@@ns">Network services</span>
						<span class="number">{{ dashboardData['runningNS'] }}</span>
					</div>

					<div class="text-box small running-functions">
						<span class="title" i18n="@@functions">Functions</span>
						<span class="number">{{ dashboardData['runningFunctions'] }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="same-column">
		<div class="second-column dashboard-system">
			<h3 class="title3" i18n="@@systemUptime">System uptime</h3>

			<div class="text-box uptime">
				<span class="number">{{ dashboardData['uptime'] }}</span>
			</div>
		</div>

		<div class="second-column dashboard-service-alerts">
			<h3 class="title3" i18n="@@serviceAlerts">Service alerts</h3>

			<div class="same-row">
				<iframe class="medium-gauge-graph sla-violations" frameborder="0" [src]="getSPGraphUrl(26)"></iframe>

				<div class="text-box policy-alerts">
					<span class="title" i18n="@@policyAlerts">Policy alerts</span>
					<span class="number">{{ dashboardData['policyAlerts'] }}</span>
				</div>
			</div>
		</div>

		<div class="second-column dashboard-licenses">
			<h3 class="title3" i18n="@@licenses">Licenses</h3>

			<div class="same-row">
				<iframe class="small-gauge-graph license license-acquired" frameborder="0" [src]="getSPGraphUrl(23)"></iframe>
				<iframe class="small-gauge-graph license license-expired" frameborder="0" [src]="getSPGraphUrl(24)"></iframe>
			</div>

			<iframe class="small-gauge-graph license license-utilized" frameborder="0" [src]="getSPGraphUrl(25)"></iframe>
		</div>
	</div>
</div>

<div *ngIf="environment === 'VNV'" class="all-content">
</div>