app-dashboard {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: rgb(254, 254, 254);
  overflow-y: auto;
  overflow-x: none;
  h1 {
    margin-top: 15px;
    width: 95%;
    color: rgb(201, 0, 16);
    font-size: 16px;
  }
  h1:after {
    background: none repeat scroll 0 0 rgb(201, 0, 16);
    content: "";
    display: block;
    height: 1px;
    width: 250px;
  }
  .numbers {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    .CPU-numbers {
      margin-left: 30px;
      background-image: url("../../assets/images/CPU-numbers.png");
      width: 50%;
      height: 200px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .System-numbers {
      background-image: url("../../assets/images/System-numbers.png");
      width: 50%;
      height: 180px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .graphs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    .CPU {
      margin-left: 30px;
      background-image: url("../../assets/images/CPU-usage.png");
      width: 50%;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .System {
      background-image: url("../../assets/images/System-load.png");
      width: 40%;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .Top-hosts {
    margin-top: 15px;
    background-image: url("../../assets/images/Top-hosts.png");
    width: 95%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
