@import "../../constants.scss";
app-dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
	flex: 1 1;
	overflow-y: auto;
	overflow-x: hidden;
    width: auto;
    height: 100%;
    background-color: $basic-background-color;

	// General styles of the dashboard
	.all-content {
		display: flex;
		flex-direction: row;
		margin: 2vh 1vw 1vh 1vw;
	}

	.same-row {
		display: flex;
		flex-direction: row;
	}

	.same-column {
		display: flex;
		flex-direction: column;
	}

	.small-gauge-graph {
		height: 16vh;
		width: 11vw;
		margin-bottom: 1vh;
	}

	.medium-gauge-graph {
		height: 25vh;
		width: 11vw;
		margin-bottom: 1vh;
	}

	.title3 {
		align-self: flex-start;
    	margin-left: 1vw;
	}

	.title3:after {
		width: 10vw;
		min-width: 140px;
	}

	// Shared column styles
	.second-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 25vw;
		margin-left: 1vh;
	}

	.text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $graphs-font-color;

		&.small {
    		height: 14vh;
    		width: 8vw;
		}

		&.medium {
    		height: 22vh;
    		width: 12vw;
		}

		.title {
    		font-weight: 500;
			font-size: 15px;
			margin-bottom: 2vh;
		}

		.number {
			font-size: 72px;
		}
	}

	// System part
	.dashboard-system {
		height: 26vh;

		.uptime {
			justify-content: space-evenly;
			height: 100%;
			width: 23vw;
		}
	}

	// Service alerts part
	.dashboard-service-alerts {
		height: 30vh;
		margin-bottom: 1vh;

		.sla-violations {
			margin-right: 1vw;
		}

		.policy-alerts {
			height: 100%;
			width: 12vw;

			.title {
				margin-bottom: 5vh;
			}
		}
	}

	// Tests relative information
	.tests-status {
		height: 70vh;

	}

	// Licenses information part
	.dashboard-licenses {
		height: 40vh;

		.license-acquired {
			margin-right: 1vw;
		}
	}

	// Platform information part
	.dashboard-platform {
		display: flex;
		align-items: center;
		width: 64vw;
		height: 58vh;
		margin-bottom: 1vh;

		.platform-gauge-graphs {
			margin-left: 1vw;
		}

		.platform-disk-usage {
			width: 49vw;
    		height: 25vh;
			margin-bottom: 1vh;
		}

		.platform-cpu-usage,
		.platform-memory-usage {
			width: 24vw;
    		height: 25vh;
		}

		.platform-cpu-usage {
			margin-right: 1vw;
		}
	}

	// Descriptors in the system part
	.descriptors-information {
		display: flex;
		align-items: flex-start;
		height: 38vh;
		width: 33vw; 
		margin-right: 1vw;

		&.one-row {
			margin-top: 5vh;
		}

		.descriptors-row {
			margin-top: 1vh;
			margin-bottom: 1vh;
		}
		
		.slices, .ns, .rp {
			margin-right: 1vw; 
		}

		.centered-row {
			align-self: center;
		}
	}

	// Running instances in the system part
	.running-instances, 
	.available-platforms {
		display: flex;
		align-items: flex-start;
		height: 38vh;
		width: 30vw; 

		.platforms {
			margin-top: 1vh;
		}
	}

	.available-platforms.one-row {
		margin-top: 5vh;
	}
}
