@import "../../constants.scss";
app-dashboard {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: none;

  background: url("../../assets/images/sonata_powered_by_5gtango_logo.svg")
    no-repeat center $panel-background-color;
  background-size: 50vw;
  background-repeat: no-repeat;
}
