@import "../../constants.scss";
app-dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
	flex: 1 1;
	overflow-y: auto;
	overflow-x: hidden;
    width: auto;
    height: 100%;
    background-color: $basic-background-color;

	// General styles of the dashboard
	.all-content {
		display: flex;
		flex-direction: row;
		margin: 2vh 1vw 1vh 1vw;
	}

	.graphs-not-found {
 		display: flex;
    	flex: 1 1;
    	align-items: center;
	}   

	.same-row {
		display: flex;
		flex-direction: row;
	}

	.same-column {
		display: flex;
		flex-direction: column;
	}

	.small-gauge-graph {
		height: 16vh;
		width: 11vw;
		margin-bottom: 1vh;
	}

	.medium-gauge-graph {
		height: 30vh;
		width: 15vw;
		margin-bottom: 2vh;
	}

	.title3 {
		align-self: flex-start;
    	margin-left: 1vw;
	}

	.title3:after {
		width: 10vw;
		min-width: 140px;
	}

	.text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $graphs-font-color;

		&.small {
    		height: 14vh;
    		width: 9vw;
		}
		
		&.medium {
    		height: 14vh;
    		width: 8vw;
			margin-right: 2vw; 
		}

		&.big {
    		height: 15vh;
    		width: 15vw;
			margin-top: 2vh;
		}

		.title {
			font-size: 16px;
			margin-bottom: 2vh;
		}

		.number {
			font-size: 95px;
		}
	}

	// Shared styles of right side of the dashboard
	.right-side {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 16vw;
		margin-left: 1vh;
	}

	// Service alerts part
	.dashboard-service-alerts {
		align-items: center;
		height: 40vh;
		width: 15vw;
		margin-bottom: 1vh;

		.policy-alerts {
			margin-bottom: 3vh;
		}
	}

	// Licenses information part
	.dashboard-licenses {
		align-items: center;
		height: 55vh;
		width: 15vw;
	}

	// Platform information part
	.dashboard-platform {
		display: flex;
		align-items: center;
		width: 73vw;
		height: 70vh;

		.platform-gauge-graphs {
			margin-left: 2vw;
		}

		.platform-disk-usage {
			width: 49vw;
    		height: 30vh;
			margin-bottom: 2vh;
		}

		.platform-cpu-usage,
		.platform-memory-usage {
			width: 24vw;
    		height: 30vh;
		}

		.platform-cpu-usage {
			margin-right: 1vw;
		}
	}

	// Descriptors and running instances in the system
	.descriptors-information,
	.running-instances, 
	.available-platforms {
		display: flex;
		align-items: flex-start;
		height: 25vh;
		width: 35vw; 

		&.sp-descriptors {
			width: 45vw; 
			margin-right: 1vw;
		}

		&.sp-instances {
			width: 28vw; 
		}

		.text-box-row {
			margin-top: 1vh;
			margin-bottom: 1vh;
		}
	}
}
