@import "../../constants.scss";
app-dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: $basic-background-color;

	.platform, .vm {
		display: flex;
		flex-direction: row;

		.cpu-usage, .memory-usage {
			width: 42vw;
			height: 30vh;
			margin-right: 1vw;
			margin-bottom: 5vh;
		}
	}
}
