<h1 class="sectionTitle" *ngIf="detail['name']">TESTS</h1>

<div class="header" *ngIf="detail['name']">
  <h2 class="subsectionTitle"> {{ detail['name'] }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>

<div class="subheader" *ngIf="detail['author']">
  <h3 class="subtitle author">Created by {{ detail['author'] }}</h3>
  <h3 class="subtitle date">{{ detail['createdAt'] }}</h3>
</div>

<div class="bubbles">
  <div class="bubbleDiv" *ngIf="detail['version']">
    <span class="text">Current version</span>
    <div class="number">
      <span>{{ detail['version'] }}</span>
    </div>
  </div>

  <div class="bubbleDiv" *ngIf="detail['timesExecuted']">
    <span class="text">Times executed</span>
    <div class="number times">
      <span>{{ detail['timesExecuted'] }}</span>
    </div>
  </div>
</div>

<form class="detail">
  <mat-form-field class="vendor" *ngIf="detail['vendor']">
    <input matInput placeholder="Vendor" value="{{ detail['vendor'] }}" disabled>
  </mat-form-field>

  <mat-form-field class="status" *ngIf="detail['status']">
    <input matInput placeholder="Status" value="{{ detail['status'] }}" disabled>
  </mat-form-field>

  <div class="launch" *ngIf="detail['uuid']" (click)="launch()">
    <button class="actions" mat-button>
      <i class="wui wui-caret-right"></i>
    </button>
    <span class="play">Execute test</span>
  </div>

  <mat-form-field class="lastTimeExecuted" *ngIf="detail['lastTimeExecuted']">
    <input matInput placeholder="Last time executed" value="Last time executed: {{ detail['lastTimeExecuted'] }}" disabled>
  </mat-form-field>

  <div class="description" *ngIf="detail['description']">
    <span class="title">DESCRIPTION</span>
    <span class="content">
      <p>{{ detail['description'] }}</p>
    </span>
  </div>

  <div class="description" *ngIf="detail['services']">
    <span class="title">AGAINST WHICH SERVICES</span>

    <span class="content">

      <table mat-table [dataSource]="detail['services']">
        <ng-container matColumnDef="vendor">
          <th mat-header-cell *matHeaderCellDef> Vendor </th>
          <td mat-cell *matCellDef="let element"> {{ element.sVendor }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.sName }} </td>
        </ng-container>

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Version </th>
          <td mat-cell *matCellDef="let element"> {{ element.sVersion }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </span>
  </div>
</form>

<div class="executions" *ngIf="executions && executions.length > 0">
  <span class="sectionTitle">TEST EXECUTIONS</span>

  <table mat-table [dataSource]="executions">
    <ng-container matColumnDef="uuid">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.uuid }} </td>
    </ng-container>

    <ng-container matColumnDef="serviceUUID">
      <th mat-header-cell *matHeaderCellDef> Service ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.serviceUUID }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{ element.createdAt }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsExecutions">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsExecutions;" (click)="openTestResults(row)">
    </tr>
  </table>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<router-outlet></router-outlet>