@import "../../../constants.scss";
app-tests-detail {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	position: absolute;
	align-items: center;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $basic-background-color;
	> * {
		flex: 0 0 auto;
	}

	.bubbles {
		display: flex;
		flex-direction: row;

		.number-bubble .number {
			&.times {
				border: 2px solid $primary-background-color;
				background-color: $basic-background-color;

				span {
				color: $secondary-font-color;
				font-size: 40px;
				}
			}
		}
	}

	.detail {
		width: 55vw;
		margin-bottom: 2vh;

		.left-column {
			width: 25vw;
		}
	}

	.description, .internal-table, .launch {
		width: 55vw;
		margin-bottom: 5vh;
	}

	.title2 {
		margin-bottom: 0;
	}

	table {
		width: 100%;

		tbody {
			max-height: 35vh;
		
			tr.mat-row {
				background-image: linear-gradient(
					to right,
					$basic-background-color 0%,
					$table-underline-color 0%,
					$table-underline-color 96%,
					$basic-background-color 96%,
					$basic-background-color 96%
				);
			}
		}
	}

	// Styles for no instances message
	.no-results-container {
		align-items: center;
		width: 100%;
		margin-top: 7vh;
	}
}
