@import "../../constants.scss";
app-licences {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  .tools {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
