@import "../../constants.scss";
app-sla-templates-detail {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  .title {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 30px;
    h1 {
      margin-top: 15px;
      margin-bottom: 0;
      width: 95%;
      color: $primary-title-color;
      font-size: 14px;
    }
    h1:after {
      background: none repeat scroll 0 0 $primary-title-color;
      content: "";
      display: block;
      height: 1px;
      width: 260px;
    }
    button {
      min-width: 150px;
      font-size: 15px;
      border: none;
      cursor: pointer;
      outline: none;
      text-decoration: underline;
      color: $button-delete-color;
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 38px;
    h2 {
      margin: 0;
      width: 95%;
      color: $secondary-font-color;
      font-size: 32px;
    }
    .close {
      padding: 12px;
      min-width: 170px;
      min-height: 45px;
      font-size: 18px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      outline: none;
      color: $button-font-color;
      background-color: $button-close-color;
    }
  }
  .subheader {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 60px;
    h3 {
      margin-top: 0;
      margin-right: 15px;
      font-size: 12px;
      &.author {
        color: $third-title-color;
      }
      &.date {
        color: $secondary-title-color;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-right: 10px;
    .mat-form-field {
      font-size: 16px;
      color: $form-selected-color;
      &.ns {
        font-size: 20px;
        width: 100%;
      }
    }
    .mat-form-field .mat-form-field-underline {
      background-color: $underline-color;
    }
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: $form-focus;
    }
    .mat-form-field-infix {
      margin-left: 5px;
    }
    .mat-focused .mat-form-field-label {
      color: $form-focus-label;
      text-align: left;
    }
    .mat-form-field-ripple {
      background-color: $form-focus;
    }
    .mat-focused .mat-select-value-text {
      color: $form-focus;
    }
    .mat-select-value {
      color: $secondary-font-color-dark;
    }
  }
  .advance {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
    .advanceButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      width: 160px;
      color: $button-hyperlink-color;
      .open {
        span {
          margin-right: 25px;
        }
        i:before {
          font-size: 8px;
        }
        .wui-caret-down:before {
          color: $button-hyperlink-color;
        }
        .wui-caret-up:before {
          color: $underline-color;
        }
      }
      .underline {
        margin: 2px auto;
        width: 150px;
        border-bottom: 1px solid $underline-color;
        &.opened {
          margin: 4px auto;
        }
      }
    }
    .guaranties {
      display: flex;
      flex-direction: column;
      width: 100%;
      .sectionTitle {
        margin-bottom: 15px;
        font-size: 24px;
        color: $third-title-color;
      }
      .guarantiesList {
        width: 65%;
        font-size: 16px;
      }
      .note {
        display: flex;
        justify-content: flex-end;
        width: 65%;
        margin-top: -16px;
        font-size: 13px;
        color: $font-color-alert;
      }
    }
  }
}
