<div class="title" *ngIf="name">
  <h1 class="sectionTitle">SLA Templates</h1>
  <button (click)="deleteTemplate()">Delete template</button>
</div>

<div class="header" *ngIf="name">
  <h2 class="subsectionTitle"> {{ name }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>

<div class="subheader" *ngIf="author">
  <h3 class="subtitle author">Created by {{ author }}</h3>
  <h3 class="subtitle date">{{ createdAt }}</h3>
</div>

<form [formGroup]="templateForm">
  <app-select class="ns" *ngIf="templateForm.controls.ns.value" placeholder="Network Service" [list]="listNS" [value]="templateForm.value.ns"
    (selectEvent)="receiveNS($event)" [disabled]="true"></app-select>

  <app-calendar *ngIf="expirationDate" placeholder="Expiration Date" [value]="expirationDate" (dateEvent)="receiveDate($event)"
    [disabled]="true"></app-calendar>
</form>

<div class="advanceSection" *ngIf="storedGuarantees">
  <button class="advanceButton" (click)="closed=!closed">
    <div class="open">
      <span>Service Guarantees</span>
      <i class="wui wui-caret-down" *ngIf="closed; else opened"></i>
      <ng-template #opened>
        <i class="wui wui-caret-up"></i>
      </ng-template>
    </div>
    <div class="underline" [ngClass]="{ opened : !closed }"></div>
  </button>

  <form *ngIf="!closed" [formGroup]="templateForm" class="advancedForm">
    <span class="sectionTitle">Service Guaranties</span>

    <div class="guaranteeRow" *ngFor="let item of storedGuarantees">

      <mat-form-field class="gName">
        <input matInput placeholder="Name" value="{{ item.guaranteeID }} - {{ item.name }}" [disabled]="true">
      </mat-form-field>

      <mat-form-field class="gOperator">
        <input matInput placeholder="Operator" value="{{ item.operator }}" [disabled]="true">
      </mat-form-field>

      <div class="timePeriod">
        <mat-form-field class="gPeriodValue">
          <input matInput placeholder="Service Level" value="{{ item.serviceLevelObjetive.serviceLevel }}" [disabled]="true">
        </mat-form-field>

        <mat-form-field class="gPeriod">
          <input matInput placeholder="Time Period" value="{{ item.serviceLevelObjetive.period }}" [disabled]="true">
        </mat-form-field>
      </div>

      <!-- <button (click)="eraseEntry(entry)">
        <i class="wui wui-trash-alt"></i>
      </button> -->

    </div>

    <!-- <app-select class="guarantiesList" placeholder="Select NS Guarantee" [list]="guaranties" (selectEvent)="receiveGuarantee($event)"></app-select> -->

    <!-- <span class="note">Add a new guarantee selecting a NS</span> -->
  </form>
</div>

<app-spinner *ngIf="loading"></app-spinner>