@import "../../constants.scss";
app-sla-templates-detail {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  align-items: center;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $basic-background-color;
  > * {
    flex: 0 0 auto;
  }
  .title {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 30px;
    button {
      min-width: 150px;
      font-size: 15px;
      border: none;
      cursor: pointer;
      outline: none;
      text-decoration: underline;
      color: $button-delete-color;
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 95%;
    h2 {
      margin: 0;
      width: 95%;
    }
    .close {
      padding: 12px;
      min-width: 170px;
      font-size: 17px;
      font-weight: bold;
      color: $button-font-color;
      background-color: $button-close-color;
    }
  }
  .subheader {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 60px;
    h3 {
      margin-top: 0;
      margin-right: 15px;
      font-size: 12px;
      &.author {
        color: $third-title-color;
      }
      &.date {
        color: $secondary-title-color;
      }
    }
  }
  form {
    width: 55%;
    .mat-form-field {
      &.ns {
        width: 100%;
      }
    }
  }
  .advance {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
    .advanceButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      width: 160px;
      color: $button-hyperlink-color;
      .open {
        span {
          margin-right: 25px;
        }
        i:before {
          font-size: 8px;
        }
        .wui-caret-down:before {
          color: $button-hyperlink-color;
        }
        .wui-caret-up:before {
          color: $underline-color;
        }
      }
      .underline {
        margin: 2px auto;
        width: 150px;
        border-bottom: 1px solid $underline-color;
        &.opened {
          margin: 4px auto;
        }
      }
    }
    .guaranties {
      display: flex;
      flex-direction: column;
      width: 100%;
      .sectionTitle {
        margin-bottom: 15px;
        font-size: 24px;
        color: $third-title-color;
      }
      .guarantiesList {
        width: 65%;
      }
      .note {
        display: flex;
        justify-content: flex-end;
        width: 65%;
        margin-top: -16px;
        font-size: 13px;
        color: $font-color-alert;
      }
    }
  }
}
