<div class="title">
  <h1>SLA Templates</h1>
  <button>Delete policy</button>
</div>

<div class="header" *ngIf="name">
  <h2> {{ name }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>

<div class="subheader" *ngIf="author">
  <h3 class="author">Created by {{ author }}</h3>
  <h3 class="date">{{ createdAt }}</h3>
</div>

<form [formGroup]="templateForm" (ngSubmit)="searchNS(templateForm)">
  <mat-form-field class="ns">
    <mat-select panelClass="ns" placeholder="Network Service" formControlName="ns">
      <mat-option *ngFor="let ns of listNS" [value]="ns">
        {{ ns }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-calendar></app-calendar>
</form>

<div class="advance">
  <button class="advanceButton" (click)="closed=!closed">
    <div class="open">
      <span>Advance parameters</span>
      <i class="wui wui-caret-down" *ngIf="closed; else opened"></i>
      <ng-template #opened>
        <i class="wui wui-caret-up"></i>
      </ng-template>
    </div>
    <div class="underline" [ngClass]="{ opened : !closed }"></div>
  </button>

  <form *ngIf="!closed" [formGroup]="templateForm" class="guaranties">
    <span class="sectionTitle">Service Guaranties</span>

    <!-- TODO display different guarantees -->

    <mat-form-field class="guarantiesList">
      <mat-select placeholder="Select NS Guarantee" formControlName="guarantee">
        <mat-option *ngFor="let guarantee of guaranties" [value]="guarantee">
          {{ guarantee }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="note">Add a new guarantee selecting a NS</span>
  </form>
</div>