// Main colors
$primary-color: rgb(121, 33, 33);
$primary-color-light: rgb(212, 11, 13);
$secondary-color: rgb(65, 65, 65);
$secondary-color-light: rgba(155, 155, 155, 1);

// Background colors
$init-background-color: rgb(237, 237, 237);
$primary-background-color: $primary-color;
$primary-background-color-light: $primary-color-light;
$basic-background-color: rgb(255, 255, 255);
$panel-background-color: rgb(240, 240, 240);

// Font colors
$primary-font-color: $primary-color;
$primary-font-color-light: $primary-color-light;
$secondary-font-color: $secondary-color;
$secondary-font-color-light: $secondary-color-light;
$graphs-font-color: rgb(82, 84, 92);

// Form colors
$form-alert-color: $primary-color-light;
$form-focus: $primary-color;
$form-focus-label: $secondary-font-color-light;
$form-disabled-color: $secondary-color-light;

// Button colors
$primary-button-color: $primary-color;
$primary-button-color-light: $primary-color-light;
$secondary-button-color: $secondary-color;
$secondary-button-color-light: $secondary-color-light;

$button-underline-color-light: rgb(210, 205, 205);
$button-close-color: rgb(189, 185, 185);

$button-basic-font-color: rgb(255, 255, 255);
$button-enabled-font-color: $primary-color-light;
$button-disabled-font-color: rgb(189, 185, 185);

// Border colors
$border-line-color: $primary-color-light;

// Icon colors
$add-color: $primary-color-light;
$reload-color: $primary-color-light;
$relaunch-color: rgb(218, 177, 13);
$opened-color: $primary-color-light;
$stop-color: $primary-color-light;
$active-color: rgb(123, 214, 123);
$inactive-color: rgb(195, 195, 195);
$ready-color: rgb(123, 214, 123);
$shopping-cart-color: rgb(235, 165, 79);
$arrow-color: $secondary-color;

// Table colors
$header-color: $primary-color-light;
$cell-color: $secondary-color;
$form-underline-color: rgba(121, 33, 33, 1);
$table-underline-color: rgba(212, 11, 13, 0.2);
$advanced-button-underline-color: rgba(212, 11, 13, 0.65);
$secondary-underline-color-light: rgba(151, 151, 151, 0.18);

// Scrollbar colors
$track-color: rgb(232, 198, 201);
$thumb-background-color: rgb(169, 169, 169);
$thumb-outline-color: rgb(112, 128, 144);

// Shadows
$shadow-avatar: rgba(0, 0, 0, 0.5);
$shadow-buttons: rgba(0, 0, 0, 0.16);
