// Set form scss for the Portal
form {
  display: flex;
  flex-direction: column;
  .mat-form-field {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: left;
    color: $form-selected-color;
    .mat-select.mat-select-invalid .mat-select-arrow {
      color: $form-focus-label;
    }
  }

  // Input text styles
  .mat-focused .mat-input-element {
    color: $form-focus;
  }
  .mat-input-element:disabled {
    font-size: 20px;
    color: $form-focus;
  }

  // Change input underline styles
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $underline-color;
  }
  .mat-form-field-disabled .mat-form-field-underline {
    background-image: none;
    background-color: $underline-color;
  }
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: $underline-color;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple,
  .mat-form-field-ripple {
    background-color: $form-focus;
  }
  .mat-form-field-disabled .mat-form-field-underline {
    display: none;
  }

  // Label styles
  .mat-form-field-appearance-legacy .mat-form-field-label,
  .mat-form-field-label:not(.mat-form-field-empty) {
    color: $form-focus-label;
    text-align: start;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $form-focus-label;
    text-align: left;
  }
  .mat-form-field-invalid .mat-input-element,
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $form-focus-label;
    caret-color: $form-focus-label;
  }
  .mat-form-field-can-float.mat-form-field-should-float {
    .mat-form-field-label {
      font-size: 20px;
    }
  }

  // Focused styles
  .mat-focused {
    color: $form-focus;
  }
  .mat-focused .mat-form-field-required-marker {
    color: $form-focus-label;
  }

  // Generic invalid styles
  .mat-form-field.mat-form-field-invalid
    .mat-form-field-label
    .mat-form-field-required-marker,
  .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent {
    color: $form-focus-label;
  }

  // Select styles
  .mat-select-value-text {
    color: $form-focus;
  }

  // Styles when form field contains error
  .errorFormField {
    .mat-input-element {
      color: $form-alert-color;
    }
    .mat-form-field-ripple {
      background-color: $form-alert-color;
    }
    .mat-form-field-underline {
      background-color: $form-alert-color;
    }
  }
}

// Mat table styles
table {
  //   Include scroll in table
  tbody {
    display: block;
    max-height: 500px;
    overflow-y: overlay;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  //   Center cells
  th.mat-header-cell,
  td.mat-cell {
    text-align: center;
  }
  td.mat-cell:first-child,
  td.mat-footer-cell:first-child,
  th.mat-header-cell:first-child {
    padding-left: 0;
  }
  td.mat-cell:last-child,
  td.mat-footer-cell:last-child,
  th.mat-header-cell:last-child {
    padding-right: 20px;
  }

  //   Underline styles
  tr.mat-row {
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    // align-items: baseline;
  }
  td.mat-cell,
  th.mat-header-cell {
    border-bottom: none;
    vertical-align: bottom;
  }

  //   Color and font styles
  th.mat-header-cell {
    color: $header-color;
  }
  td.mat-cell {
    color: $cell-color;
  }
  th.mat-header-cell,
  td.mat-header-row {
    font-size: 14px;
  }

  //   Status and row options styles
  i {
    &.wui-circle-alt {
      border-radius: 50%;
      background-color: $inactive-color;
    }
    &.active {
      border-radius: 50%;
      background-color: $active-color;
    }
  }
  .row-options {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: $basic-background-color;
    .wui-caret-right:before {
      color: $ready-color;
    }
    .wui-shopping-cart:before {
      color: $shopping-cart-color;
    }
    .wui-undo::before {
      font-size: 12px;
      color: $relaunch-color;
    }
    .wui-stop-alt::before {
      font-size: 12px;
      border-radius: 25%;
      color: $stop-color;
      background-color: $stop-color;
    }
    .wui-trash-alt::before {
      font-size: 18px;
    }
  }

  // Table scrollbar
  tbody::-webkit-scrollbar {
    width: 10px;
    padding-top: 100px;
  }
  tbody::-webkit-scrollbar-track {
    background: $track-color;
    border: 4px solid transparent;
    background-clip: content-box;
  }
  tbody::-webkit-scrollbar-thumb {
    background-color: $thumb-background-color;
    outline: 1px solid $thumb-outline-color;
    border-radius: 10px;
  }
}
