<h1>PACKAGES</h1>
<div class="header">
  <h2> {{ package.name }}</h2>
  <button class="close" (click)="close()">CLOSE</button>
</div>
<div class="subheader">
  <h3 class="author">Created by {{ package.author }}</h3>
  <h3 class="date">{{ package.createdAt }}</h3>
</div>

<div class="versionDiv">
  <span class="text">Current version</span>
  <div class="version">
    <span>{{ package.version }}</span>
  </div>
</div>

<form class="detail">
  <mat-form-field class="vendor">
    <input matInput placeholder="Vendor" value="{{ package.vendor }}" disabled>
  </mat-form-field>

  <mat-form-field class="type">
    <input matInput placeholder="Type" value="{{ package.type }}" disabled>
  </mat-form-field>

  <div class="ns">
    <span class="sectionTitle">NS</span>
    <span class="message" *ngIf="package.ns.length == 0">There are no network services to display</span>
    <mat-table *ngIf="package.ns.length > 0" [dataSource]="package.ns">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="vendor">
        <mat-header-cell *matHeaderCellDef> Vendor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.vendor }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.version }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class="vnf">
    <span class="sectionTitle">VNF</span>
    <span class="message" *ngIf="package.vnf.length == 0">There are no virtual network functions to display</span>
    <mat-table *ngIf="package.vnf.length > 0" [dataSource]="package.vnf">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="vendor">
        <mat-header-cell *matHeaderCellDef> Vendor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.vendor }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.version }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openNetworkService(row)"></mat-row>
    </mat-table>
  </div>

  <div class="tests">
    <span class="sectionTitle">TEST</span>
    <span class="message" *ngIf="package.tests.length == 0">There are no tests to display</span>
    <div class="list" *ngIf="package.tests.length > 0">
      <app-search-bar class="search" *ngIf="package.tests.length > 1" (searchTextEvent)="receiveMessage($event)"></app-search-bar>

      <mat-table [dataSource]="package.tests | filter: searchText">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="creationDate">
          <mat-header-cell *matHeaderCellDef> Creation Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.creationDate }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastActivity">
          <mat-header-cell *matHeaderCellDef> Last Activity </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.lastActivity }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsTests"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsTests;" (click)="openNetworkService(row)"></mat-row>
      </mat-table>
    </div>
  </div>
</form>