@import "../../../constants.scss";
app-nap-lists {
	display: flex;
	flex: 1 1;
	
	.content {
		display: flex;
    	flex-direction: column;
    	align-items: center;
		width: 100%;
		
		// Ingress, egress, blacklist buttons
		.section {
			display: flex;
			align-items: center;

			button {
				font-size: 37px;
				color: $button-disabled-font-color;
				background-color: $basic-background-color;
			}

			button.active {
				color: $primary-button-color-light;
			}

			.dash {
				color: $button-disabled-font-color;
				font-size: 30px;
			}
		}

		// Styles of the listed items
		.list {
			color: $primary-font-color-light;

			.list-entry {
				align-items: center;

				span {
					flex: 1;
					font-size: 17px;
				}
			}
		}

		// Form styles to add location and nap 
		.first-dialog-form {
			width: 100%;
			margin-top: 1vh;
			margin-bottom: 2vh;
			align-items: center;

			.select, 
			.mat-form-field {
				width: 100%;
			}

			// Add new ingress or egress point button
			.add-new {
				display: flex;
				justify-content: flex-end;
				width: 100%;

				button {
					padding-right: 0;
					font-size: 16px;
					color: $primary-color-light;
					background-color: $basic-background-color;

					i:before {
						font-size: 12px;
						color: $primary-color-light;
					}
				}

				button:disabled {
					color: $button-disabled-font-color;

					i:before {
						color: $button-disabled-font-color;
					}
				}
			}
			
			// Invalid IP error message
			.error-message.input-error {
				margin-top: -1vh;
			}	
		}  
	}

	// No locations error message
	.error-message-dialog {
		align-self: center;
		font-size: 18px;
		text-align: justify;
		color: $primary-font-color-light;
	}
}