<!--Project details-->
<div class="title-section">
	<h1 class="title1 title-section-name">{{ project.name }}</h1>
</div>

<div class="number-bubble">
	<span class="text">Number of VNFs</span>
	<div class="number">
		<span>{{ project.numVnfs }}</span>
	</div>
</div>

<form>
	<mat-form-field *ngIf="project['uuid']" class="left-column">
		<input matInput placeholder="Project UUID" value="{{ project['uuid'] }}" disabled/>
	</mat-form-field>

	<div class="same-row">
		<mat-form-field class="left-column">
			<input matInput placeholder="Author" value="{{ project.author }}" disabled/>
		</mat-form-field>
		<mat-form-field class="right-column">
			<input matInput placeholder="Vendor" value="{{ project.vendor }}" disabled/>
		</mat-form-field>
	</div>
</form>


<!--Project files, display, and editing-->
<form>
	<div class="vnf">
		<h2 class="title2">Project Files</h2>
		<mat-list>
			<mat-list-item *ngFor="let f of project.fileNames">{{f}}</mat-list-item>
			<mat-list-item *ngIf="project.fileNames.length === 0">No files</mat-list-item>
		</mat-list>
	</div>
</form>

<!--FIXME: Change color when button is disabled-->
<div class="button-container">
	<a mat-button class="basic-button button-shadow next" [disabled]="!projectLoaded()"
	   href="{{config.baseSDK}}:8888/lab/tree/projects/{{project.uuid}}" target="_blank">
		Show and Edit Project Files
	</a>
</div>


<!--Packaging and validation-->
<h2 class="title2">Packaging</h2>

<mat-form-field class="package-fields" style="width: 400px;">
	<textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Packaging output" disabled>
		{{pkgOutput}}
	</textarea>
</mat-form-field>

