<mat-card>
	<mat-card-header>
		<div mat-card-avatar class="project-icon"></div>
		<mat-card-title>Project: {{project.name}}</mat-card-title>
		<mat-card-subtitle>UUID: {{project.uuid}}</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>
		<mat-list>
			<mat-list-item>Author: {{project.author}}</mat-list-item>
			<mat-list-item>Vendor: {{project.vendor}}</mat-list-item>
			<mat-list-item>Description: {{project.description}}</mat-list-item>
			<mat-list-item>Number of VNFs: {{project.numVnfs}}</mat-list-item>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>Generated Descriptors</mat-panel-title>
				</mat-expansion-panel-header>
				<mat-list>
					<mat-list-item *ngFor="let f of project.fileNames">{{f}}</mat-list-item>
				</mat-list>

			</mat-expansion-panel>
		</mat-list>

		<mat-divider class="space-divider"></mat-divider>

		<mat-form-field class="package-fields">
			<textarea matInput>Packaging output. Packaging not yet started.</textarea>
		</mat-form-field>
	</mat-card-content>

	<mat-card-actions>
		<div class="button-row">
			<a mat-raised-button href="{{baseip}}:8888/lab/tree/projects/{{project.uuid}}"
			   target="_blank" [disabled]="!projectLoaded()">Show & Edit Project Files</a>
		</div>

		<div class="button-row">
			<button mat-raised-button [disabled]="!projectLoaded()">Package</button>
			<button mat-raised-button [disabled]="!projectLoaded()">Download Package</button>
			<button mat-raised-button [disabled]="!projectLoaded()">On-board Package</button>
		</div>
	</mat-card-actions>
</mat-card>
