.project-icon {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Add_document_icon_%28the_Noun_Project_27896%29.svg/1024px-Add_document_icon_%28the_Noun_Project_27896%29.svg.png');
	background-size: cover;
}

.button-row button,
.button-row a {
	margin-right: 8px;
}

.space-divider {
	margin-top: 5px;
	margin-bottom: 5px;
}
