@import "../../constants.scss";
app-slices-templates {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;
  .header {
    display: flex;
    flex-direction: row;
    width: 95%;
    h2 {
      margin: 0;
      width: 80%;
    }
  }
  .tools {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
  }
  table {
    width: 95%;
  }
  tr.mat-row {
    background-image: linear-gradient(
      to right,
      $basic-background-color 4%,
      $underline-color 4%,
      $underline-color 94%,
      $basic-background-color 94%,
      $basic-background-color 100%
    );
  }
  .mat-cell:nth-child(6),
  .mat-header-cell:nth-child(6) {
    width: 25px;
    font-size: 20px;
  }
  .mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7) {
    width: 25px;
    font-size: 20px;
  }
}
