@import "../../../constants.scss";
app-placement-policy {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: $basic-background-color;

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &.policyForm {
      margin-top: 90px;
    }

    &.datacenterForm {
      .mat-form-field-disabled .mat-form-field-underline {
        background-color: $form-focus;
        background-image: none;
      }

      .mat-select.mat-select-disabled .mat-select-arrow {
        color: $form-focus;
      }

      .mat-select-disabled .mat-select-value {
        color: $secondary-font-color;
      }
    }

    .placementPolicy {
      width: 25%;
    }
  }

  .list {
    width: 30%;

    .line .mat-form-field,
    .select {
      width: 86%;
    }
  }

  .error {
    font-size: 0.8em;
    margin-top: -25px;
    margin-bottom: 10px;
    width: 24%;
  }

  .addMore {
    display: flex;
    justify-content: flex-end;
    width: 25%;

    button {
      width: 100px;
      padding: 5px;
      font-size: 16px;
      text-align: end;
      border: none;
      cursor: pointer;
      outline: none;
      color: $primary-color-light;
      background-color: $basic-background-color;

      i:before {
        font-size: 12px;
        color: $primary-color-light;
      }
    }
  }
}
