@import "../../../constants.scss";
app-placement-policy {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1;
	align-items: center;
	width: auto;
	height: 100%;
	overflow-y: auto;
	background-color: $basic-background-color;

  	form {
		align-items: center;
		width: 20vw;
  	}

	.policy-form {
		margin-top: 15vh;

		.placement-policy {
			width: 20vw;
		}
	}

	.datacenter-form {
		align-items: flex-end;
		margin-top: 3vh;

		.list {
			width: 20vw;
			margin-bottom: 0;

			.line {
				display: flex;

				.select {
					flex: 1 1;
				}

				.datacenter-name {
					flex: 1 1;
					margin-right: 5px;
				}

				.delete {
					height: 4vh;
					place-self: center;
				}
			}
		}

		.error-message {
			margin-top: -10px;
			margin-bottom: 10px;
		}

		.add-more {
			padding: 8px;
			font-size: 16px;
			color: $primary-color-light;
			background-color: $basic-background-color;
		}
	}
}
