<h3 class="title3 header-section-name" i18n="@@sp">Service platform</h3>

<div class="title-section">
	<h1 class="title1 title-section-name" i18n="@@placementPolicy">Placement Policy</h1>
	<div class="header-buttons">
		<button [ngClass]="{ 'disabled-button': canDisableSave() }" class="edit-options save" [disabled]="canDisableSave()" (click)="save()"
			i18n="@@saveButton">SAVE</button>
		<button class="edit-options cancel" (click)="cancel()" i18n="@@cancelButton">CANCEL</button>
	</div>
</div>

<form class="policy-form" [formGroup]="placementPolicyForm">
	<app-select class="placement-policy" placeholder="Select a policy" [list]="placementPolicies"
		[value]="placementPolicyForm.get('placementPolicy').value" [reset]="canReset()" (selectEvent)="receivePlacementPolicy($event)"
		i18n-placeholder="@@selectPolicyPlaceholder">
	</app-select>
	<span *ngIf="canShowAlreadySaved()" class="error-message" i18n="@@actualPlacementPolicyMsg">This is the actual placement policy</span>
	<span *ngIf="errorInSave" class="error-message" i18n="@@placementPolicyNotSavedMsg">Placement policy not saved</span>

</form>

<form class="datacenter-form" [formGroup]="prioritiseForm">
	<!-- Prioritize option form fields -->
	<ol class="list" *ngIf="prioritise">
		<li class="line" *ngFor="let item of datacentersSelected; let i = index">
			<mat-form-field class="datacenter-name">
				<mat-select [value]="item" disabled>
					<mat-option [value]="item">{{ item.name }}</mat-option>
				</mat-select>
			</mat-form-field>

			<button *ngIf="canShowArrowsUp(i)" class="icon-button-shadow arrow" (click)="movePossitionInArray(i, i-1)">
				<i class="wui wui-caret-up"></i>
			</button>

			<button *ngIf="canShowArrowsDown(i)" class="icon-button-shadow arrow" (click)="movePossitionInArray(i, i+1)">
				<i class="wui wui-caret-down"></i>
			</button>

			<button class="icon-button-shadow delete" (click)="eraseEntry(item)">
				<i class="wui wui-trash-alt"></i>
			</button>
		</li>

		<li class="line" *ngIf="datacenters.length">
			<app-select-uuid class="select" placeholder="Select a datacenter" [list]="datacenters" [reset]="datacentersSelected.length"
				[required]="false" (selectEvent)="receiveDatecenter($event)" i18n-placeholder="@@selectDatacenterPlaceholder">
			</app-select-uuid>
		</li>
	</ol>

	<span *ngIf="prioritise && error" class="error-message" i18n="@@pleaseSelectDatacenterMsg">*Please select a datacenter to add</span>

	<button *ngIf="canShowAddMore()" class="basic-button add-more" (click)="addMore()">
		<i class="wui wui-plus"></i>
		<span i18n="@@addMoreButton">Add more</span>
	</button>
</form>

<app-spinner *ngIf="loading"></app-spinner>