<div class="container">
	<button class="closeIcon" (click)="close()"><i class="wui wui-times"></i></button>
	<div class="title-section"></div>
	<h1 class="title1" i18n="@@termsOfUsageTitle">TERMS OF USAGE</h1>
	<div class="content">
		<h3 class="title3" i18n="@@termsOfUsageCondition1">1. Collection of Personal Information</h3>
		<p i18n="@@termsOfUsageCondition1Text">
			5GTANGO collects and uses your personal information to operate SONATA V&V and Service platforms and for a better user experience. Your personal
			information is requested when you register with our Portal/API to access restricted content. Your Portal navigation/API usage may also be monitored
			for statistical purposes. 5GTANGO takes responsibility for protecting the privacy and data of all users. Personal data is not shared with third
			parties.
		</p>

		<h3 class="title3" i18n="@@termsOfUsageCondition2">2. Use of your Personal Information</h3>
		<p i18n="@@termsOfUsageCondition2Text">
			When you register or submit your personal information in any 5GTANGO Portal/API, we do not share that information with third parties without your
			permission. It is only used for the purposes stated above.
		</p>

		<h3 class="title3" i18n="@@termsOfUsageCondition3">3. Security of your Personal Information</h3>
		<p i18n="@@termsOfUsageCondition3Text">
			5GTANGO uses a variety of security technologies and procedures to help protect your personal information from unauthorized access, use, or
			disclosure. 5GTANGO secures the personally identifiable information you provide on computer servers in a controlled, secure environment protected
			from unauthorized access, use, or disclosure.
		</p>

		<h3 class="title3" i18n="@@termsOfUsageCondition4">4. Data Retention</h3>
		<p i18n="@@termsOfUsageCondition4Text">
			5GTANGO will retain your information for as long as your account is active or as needed to provide you services. If you wish to change your personal
			information or request that we no longer use it, please contact us.
		</p>
	</div>
</div>
