@import '../../../constants.scss';
app-terms-of-usage {
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: center;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 34vw;
    height: 55vh;
    min-width: 380px;
    min-height: 450px;
	max-width: 950px;
	max-height: 800px;
	padding: 2em;
	border-radius: 10px;
	background-color: $panel-background-color;

	.close-icon {
		right: 20px;
		top: 15px;
		background-color: $panel-background-color;
	}

	.title-section {
		height: 8em;
		background-size: 12em;
		background-repeat: no-repeat;
		background: url('../../../assets/images/sonata_powered_by_5gtango_logo.svg') no-repeat center $panel-background-color;
	}

	.title1 {
		width: 100%;
    	margin-left: 20px;
	}

	.content {
		width: 95%;
		max-height: 500px;
		padding-right: 20px;
		overflow-y: auto;
	}
}
