@import "../../../constants.scss";
app-vim-config {
	display: flex;
    flex-direction: column;

	.action-button {
		align-self: center;
	}

	.vimConfigForm {
		.mat-form-field {
			width: 25vw;

			&.left-column {
				margin-right: 1vw;
			}

			&.upper-space {
				margin-top: 3vh;
			}

			&.listed-target {
				width: 65%;
			}
		}

		.list {
			width: 25vw;

			.add-more {
				align-self: flex-end;
			}
		}	
	}
}